workflows/automatizacion con ia. De telegram a excel.json
{
  "updatedAt": "2026-05-12T10:12:53.030Z",
  "createdAt": "2026-05-11T08:26:16.500Z",
  "id": "5gN2fowB8gbfHWcu",
  "name": "automatizacion con ia. De telegram a excel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        368
      ],
      "id": "1a2c27c2-80d9-40f6-a016-5e599734e760",
      "name": "Telegram Trigger",
      "webhookId": "6a9aa77f-b953-4ef4-b005-72992ed8d07c",
      "credentials": {
        "telegramApi": {
          "id": "TYDPjKAhF7uSE5RW",
          "name": "Telegram linkedin excel bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw",
          "mode": "list",
          "cachedResultName": "post n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "peticion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "resultado": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peticion",
              "displayName": "peticion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        0
      ],
      "id": "3a61fcf9-806f-40db-929f-5af318985e51",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "bbfd8a31-4166-43a8-8f07-66e6fd4ff9d6",
      "name": "Send a text message",
      "webhookId": "ee2591a3-027d-4cea-bdbd-1faf7b3e7cfb",
      "credentials": {
        "telegramApi": {
          "id": "TYDPjKAhF7uSE5RW",
          "name": "Telegram linkedin excel bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "f3b68c0c-e3fe-4744-8d21-e32b72971a31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "d059cb8a-f325-4807-9a97-e53440ca8796",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uxd7GIuBIp7XGhrv",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Actua como un asistente virtual capaz de llevar a cabo las tareas que te solicita el usuario.\n\n**TAREA: POST LINKEDIN **\nElabora del mensaje del usuario un post para linkedin que sea controvertido y genere interaccion con los usuarios para que dejen comentarios y likes\n\n** TAREA APUNTA EN SHEET **\nSi el usuario lo solicita, puedes guardar en google sheet la informacion usando la tool adecuada.\n\nResponde siempre con mensajes cortos, sin caracteres raros, ni markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        352
      ],
      "id": "eac5f6f3-f338-465b-a4a5-434b7ec771c0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1U7L0F6xstqlzZOz3FHFEguTRuOVDcfBFsLP8rZbokFI",
          "mode": "list",
          "cachedResultName": "n8nLinkeding  Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U7L0F6xstqlzZOz3FHFEguTRuOVDcfBFsLP8rZbokFI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "peticion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('peticion', ``, 'string') }}",
            "resultado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resultado', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peticion",
              "displayName": "peticion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        560
      ],
      "id": "8245765f-2fc1-4897-9041-8f9572bfab80",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        352
      ],
      "id": "44898f50-4802-403e-88ec-5c4901a21f56",
      "name": "Send a text message1",
      "webhookId": "f589fc2f-d5d8-4da6-9849-0f3882c9f39b",
      "credentials": {
        "telegramApi": {
          "id": "TYDPjKAhF7uSE5RW",
          "name": "Telegram linkedin excel bot"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -32,
        560
      ],
      "id": "e9593f67-87fe-4125-abe9-f76996873c73",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "uxd7GIuBIp7XGhrv",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        560
      ],
      "id": "abae04e2-ac24-44b7-8608-4e19fbd9781d",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c8fb0ddc-6070-4826-bad8-f0323cd5df4d",
  "activeVersionId": "c8fb0ddc-6070-4826-bad8-f0323cd5df4d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:26:16.501Z",
      "createdAt": "2026-05-11T08:26:16.501Z",
      "role": "workflow:owner",
      "workflowId": "5gN2fowB8gbfHWcu",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T10:12:56.000Z",
    "createdAt": "2026-05-12T10:12:53.031Z",
    "versionId": "c8fb0ddc-6070-4826-bad8-f0323cd5df4d",
    "workflowId": "5gN2fowB8gbfHWcu",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -336,
          368
        ],
        "id": "1a2c27c2-80d9-40f6-a016-5e599734e760",
        "name": "Telegram Trigger",
        "webhookId": "6a9aa77f-b953-4ef4-b005-72992ed8d07c",
        "credentials": {
          "telegramApi": {
            "id": "TYDPjKAhF7uSE5RW",
            "name": "Telegram linkedin excel bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw",
            "mode": "list",
            "cachedResultName": "post n8n",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "peticion": "={{ $('Telegram Trigger').item.json.message.text }}",
              "resultado": "={{ $json.output }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "peticion",
                "displayName": "peticion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resultado",
                "displayName": "resultado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          352,
          0
        ],
        "id": "3a61fcf9-806f-40db-929f-5af318985e51",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "tlryTl2TVc3G1dVp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $('AI Agent').item.json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          560,
          0
        ],
        "id": "bbfd8a31-4166-43a8-8f07-66e6fd4ff9d6",
        "name": "Send a text message",
        "webhookId": "ee2591a3-027d-4cea-bdbd-1faf7b3e7cfb",
        "credentials": {
          "telegramApi": {
            "id": "TYDPjKAhF7uSE5RW",
            "name": "Telegram linkedin excel bot"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "You are a helpful assistant"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          0,
          0
        ],
        "id": "f3b68c0c-e3fe-4744-8d21-e32b72971a31",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          0,
          176
        ],
        "id": "d059cb8a-f325-4807-9a97-e53440ca8796",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "uxd7GIuBIp7XGhrv",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "Actua como un asistente virtual capaz de llevar a cabo las tareas que te solicita el usuario.\n\n**TAREA: POST LINKEDIN **\nElabora del mensaje del usuario un post para linkedin que sea controvertido y genere interaccion con los usuarios para que dejen comentarios y likes\n\n** TAREA APUNTA EN SHEET **\nSi el usuario lo solicita, puedes guardar en google sheet la informacion usando la tool adecuada.\n\nResponde siempre con mensajes cortos, sin caracteres raros, ni markdown."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          0,
          352
        ],
        "id": "eac5f6f3-f338-465b-a4a5-434b7ec771c0",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1U7L0F6xstqlzZOz3FHFEguTRuOVDcfBFsLP8rZbokFI",
            "mode": "list",
            "cachedResultName": "n8nLinkeding  Post",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U7L0F6xstqlzZOz3FHFEguTRuOVDcfBFsLP8rZbokFI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Unz8IRsFZNif7syBPze6_4c3yJrntclNomeyjrO72Nw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "peticion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('peticion', ``, 'string') }}",
              "resultado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resultado', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "peticion",
                "displayName": "peticion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resultado",
                "displayName": "resultado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          272,
          560
        ],
        "id": "8245765f-2fc1-4897-9041-8f9572bfab80",
        "name": "Append row in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "tlryTl2TVc3G1dVp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          352,
          352
        ],
        "id": "44898f50-4802-403e-88ec-5c4901a21f56",
        "name": "Send a text message1",
        "webhookId": "f589fc2f-d5d8-4da6-9849-0f3882c9f39b",
        "credentials": {
          "telegramApi": {
            "id": "TYDPjKAhF7uSE5RW",
            "name": "Telegram linkedin excel bot"
          }
        }
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -32,
          560
        ],
        "id": "e9593f67-87fe-4125-abe9-f76996873c73",
        "name": "Groq Chat Model1",
        "credentials": {
          "groqApi": {
            "id": "uxd7GIuBIp7XGhrv",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          112,
          560
        ],
        "id": "abae04e2-ac24-44b7-8608-4e19fbd9781d",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version c8fb0ddc",
    "description": "",
    "autosaved": true
  },
  "tags": []
}