workflows/Backup Workflows.json
{
  "updatedAt": "2026-05-12T07:35:39.254Z",
  "createdAt": "2026-05-11T08:26:25.284Z",
  "id": "TUisRI5uKuS0AwSW",
  "name": "Backup Workflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        272
      ],
      "id": "7a4b0d05-4aa0-4def-b387-e44168430df8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "713e51fe-c475-42c6-800b-dc0f6c823d8f",
              "name": "repo.owner",
              "value": "warmane675-design",
              "type": "string"
            },
            {
              "id": "98d0d4dd-d6ee-48b2-ac9c-ff35876184e0",
              "name": "repo.name",
              "value": "va360_backup",
              "type": "string"
            },
            {
              "id": "40b4e442-a6b1-422a-b713-1df36b2a0c04",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        272
      ],
      "id": "f970b893-0181-4758-a6d7-e7afca0d8794",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -464,
        272
      ],
      "id": "b4dad33b-ecfb-4d0c-81b1-6c20bda870c0",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "Gi2X5y8YnkjY6EB6",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        272
      ],
      "id": "cd249225-263f-4b37-ab0b-99424f7b48f2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        272
      ],
      "id": "6d41a93c-dfc8-4e53-be92-3776090a3eb0",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d6acc5c9-759d-4e5f-9397-6b859862c363",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Input 1: JSON del workflow descargado de GitHub (ya parseado)\n// Input 2: Workflow actual de n8n\n\nconst githubItem = $input.all()[0].json;\nconst n8nItem = $input.all()[1].json;\n\nlet githubStatus;\n\n// Si GitHub no devolvió un workflow válido → NEW\n// (puede ser porque el archivo no existe o porque el HTTP Request falló)\nif (!githubItem || !githubItem.nodes || githubItem.error) {\n  githubStatus = \"new\";\n} else {\n  // Ordenamos claves para comparación estable\n  const orderedOriginal = {};\n  const orderedActual = {};\n\n  Object.keys(githubItem).sort().forEach(function (key) {\n    orderedOriginal[key] = githubItem[key];\n  });\n\n  Object.keys(n8nItem).sort().forEach(function (key) {\n    orderedActual[key] = n8nItem[key];\n  });\n\n  // Quitamos campos volátiles que cambian solos\n  const VOLATILE = ['updatedAt', 'createdAt', 'versionId', 'triggerCount', 'id', 'active', 'tags', 'meta', 'pinData', 'staticData'];\n  VOLATILE.forEach(f => {\n    delete orderedOriginal[f];\n    delete orderedActual[f];\n  });\n\n  const stringOriginal = JSON.stringify(orderedOriginal);\n  const stringActual = JSON.stringify(orderedActual);\n\n  githubStatus = (stringOriginal === stringActual) ? \"unchanged\" : \"modified\";\n}\n\nreturn [\n  {\n    json: {\n      github_status: githubStatus,\n      n8n_data_stringify: JSON.stringify(n8nItem, null, 2),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        272
      ],
      "id": "a952f36e-17b7-4309-9287-f171aa85efdf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb924489-e716-45e1-9d42-c788229631be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22b1d143-bada-4db7-a417-3cebb302302f",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "unchanged",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4df14ace-e44b-4053-92a7-5c985749f731",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "modified",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        256
      ],
      "id": "9f3b402f-9c64-47b1-afba-d1f9dfdd5704",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $json.n8n_data_stringify }}",
        "commitMessage": "=[N8N Backup]  {{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        304
      ],
      "id": "87089d36-d21c-4971-9a02-fbb0cd356a5d",
      "name": "Create a file",
      "webhookId": "3e0589c6-1757-440d-a2d4-ad11dbc65140",
      "credentials": {
        "githubApi": {
          "id": "0Pdl8yPphWwwzfLh",
          "name": "GitHub war"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        496
      ],
      "id": "46001e29-2ba7-4110-a563-3164619595bc",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.name }}"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $json.n8n_data_stringify }}",
        "commitMessage": "=[N8N Backup]  {{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        688
      ],
      "id": "222d0162-1716-49f1-ad6c-e98ae92fc08d",
      "name": "Edit a file",
      "webhookId": "8e9a3653-733a-4e79-bd3f-3544e22d752a",
      "credentials": {
        "githubApi": {
          "id": "0Pdl8yPphWwwzfLh",
          "name": "GitHub war"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $json.name }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ],
      "id": "a27f8269-6d05-4916-9b64-addf8f6481e7",
      "name": "Get a file",
      "webhookId": "bd42ee3b-f9fe-4b2e-861e-61137f744876",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "0Pdl8yPphWwwzfLh",
          "name": "GitHub war"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        160
      ],
      "id": "00d3e5f5-518c-4c96-bffd-4de574e29503",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1f52a74f-c525-4d70-841f-e1cdb432d2f6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:26:25.294Z",
      "createdAt": "2026-05-11T08:26:25.294Z",
      "role": "workflow:owner",
      "workflowId": "TUisRI5uKuS0AwSW",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}