workflows/BackupWorkflow.json
{
  "updatedAt": "2026-05-11T08:45:19.314Z",
  "createdAt": "2026-05-11T08:26:41.341Z",
  "id": "LzN0Y6HrqxCycLko",
  "name": "BackupWorkflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        272
      ],
      "id": "c1f9afd5-253d-429b-ab7f-e9efb4953da9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "713e51fe-c475-42c6-800b-dc0f6c823d8f",
              "name": "repo.owner",
              "value": "warmane675-design",
              "type": "string"
            },
            {
              "id": "98d0d4dd-d6ee-48b2-ac9c-ff35876184e0",
              "name": "repo.name",
              "value": "va360_backup",
              "type": "string"
            },
            {
              "id": "40b4e442-a6b1-422a-b713-1df36b2a0c04",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        272
      ],
      "id": "5aae8d45-cda7-4a27-a1f3-0e7f7b46b5bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -464,
        272
      ],
      "id": "a83568b8-ec54-4f55-9d68-4b60029dc65f",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "Gi2X5y8YnkjY6EB6",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        272
      ],
      "id": "cb49479d-6644-4caa-9d97-26c31e326f43",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        272
      ],
      "id": "4660b481-22e2-4a61-969f-c5e04b3508d2",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e78a5d36-92db-44f8-b11c-ba4c99927516",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Input 1: JSON del workflow descargado de GitHub (ya parseado)\n// Input 2: Workflow actual de n8n\n\nconst githubItem = $input.all()[0].json;\nconst n8nItem = $input.all()[1].json;\n\nlet githubStatus;\n\n// Si GitHub no devolvió un workflow válido → NEW\n// (puede ser porque el archivo no existe o porque el HTTP Request falló)\nif (!githubItem || !githubItem.nodes || githubItem.error) {\n  githubStatus = \"new\";\n} else {\n  // Ordenamos claves para comparación estable\n  const orderedOriginal = {};\n  const orderedActual = {};\n\n  Object.keys(githubItem).sort().forEach(function (key) {\n    orderedOriginal[key] = githubItem[key];\n  });\n\n  Object.keys(n8nItem).sort().forEach(function (key) {\n    orderedActual[key] = n8nItem[key];\n  });\n\n  // Quitamos campos volátiles que cambian solos\n  const VOLATILE = ['updatedAt', 'createdAt', 'versionId', 'triggerCount', 'id', 'active', 'tags', 'meta', 'pinData', 'staticData'];\n  VOLATILE.forEach(f => {\n    delete orderedOriginal[f];\n    delete orderedActual[f];\n  });\n\n  const stringOriginal = JSON.stringify(orderedOriginal);\n  const stringActual = JSON.stringify(orderedActual);\n\n  githubStatus = (stringOriginal === stringActual) ? \"unchanged\" : \"modified\";\n}\n\nreturn [\n  {\n    json: {\n      github_status: githubStatus,\n      n8n_data_stringify: JSON.stringify(n8nItem, null, 2),\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        272
      ],
      "id": "198cc716-4282-4730-9a54-f2bc8f1ca156",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb924489-e716-45e1-9d42-c788229631be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22b1d143-bada-4db7-a417-3cebb302302f",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "unchanged",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4df14ace-e44b-4053-92a7-5c985749f731",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "modified",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        832,
        256
      ],
      "id": "893a22b0-2789-4c53-ba8f-3fe908de36e0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $json.n8n_data_stringify }}",
        "commitMessage": "=[N8N Backup]  {{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        304
      ],
      "id": "4bfa31de-9a30-4cd4-9d5d-60546081497e",
      "name": "Create a file",
      "webhookId": "3e0589c6-1757-440d-a2d4-ad11dbc65140"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        496
      ],
      "id": "2c4e85e7-55f9-4a27-95a8-404402a7071a",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Edit Fields').item.json.repo.name }}"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $json.n8n_data_stringify }}",
        "commitMessage": "=[N8N Backup]  {{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        688
      ],
      "id": "8d7ce818-a413-4a98-a6e2-8e0520f23dff",
      "name": "Edit a file",
      "webhookId": "8e9a3653-733a-4e79-bd3f-3544e22d752a"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields').item.json.repo.path }}{{ $json.name }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ],
      "id": "c227fa69-28d9-46e0-a572-c7612e3a0dae",
      "name": "Get a file",
      "webhookId": "bd42ee3b-f9fe-4b2e-861e-61137f744876",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        160
      ],
      "id": "95b09e71-d1b2-441c-9315-0047673efc24",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a59ebee8-f9d9-4d29-b76e-df4c678b7004",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:26:41.344Z",
      "createdAt": "2026-05-11T08:26:41.344Z",
      "role": "workflow:owner",
      "workflowId": "LzN0Y6HrqxCycLko",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}