workflows/BD n8n y crear variables.json
{
  "updatedAt": "2026-05-11T08:47:11.440Z",
  "createdAt": "2026-05-11T08:26:49.957Z",
  "id": "lJDZCmj3VuNML2SB",
  "name": "BD n8n y crear variables",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "contacta",
        "formDescription": "trigger",
        "formFields": {
          "values": [
            {
              "fieldLabel": "nombre"
            },
            {
              "fieldLabel": "email"
            },
            {
              "fieldLabel": "telefono",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "2526865d-7609-494c-afa0-ed3661ae6e35",
      "name": "On form submission",
      "webhookId": "b55e4331-a5b3-44d3-88b0-4c19cdd71255"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6fd856a-916e-428d-b36f-f0548346164c",
              "name": "nombre_completo",
              "value": "={{ $('On form submission').item.json.nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "99be079a-e8b2-405e-bed9-c420028cb8e0",
      "name": "variables"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "D2vRxx3UQwHvY747",
          "mode": "list",
          "cachedResultName": "formularios",
          "cachedResultUrl": "/projects/JoN2JTiYqtJQ4ZAc/datatables/D2vRxx3UQwHvY747"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "8467f0a9-36c1-4d01-a348-7bc21f508cce",
      "name": "Insert row"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "On form submission": [
      {
        "json": {
          "nombre": "adrian",
          "email": "ma@gmao.copm",
          "telefono": 432424243,
          "submittedAt": "2026-04-06T12:53:46.891+02:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4f12dc9f-e5f4-476b-b8a8-489ab7b617e2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:26:49.958Z",
      "createdAt": "2026-05-11T08:26:49.958Z",
      "role": "workflow:owner",
      "workflowId": "lJDZCmj3VuNML2SB",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}