workflows/Confirmacion de pago cliente v3.json
{
  "updatedAt": "2026-05-12T07:25:52.694Z",
  "createdAt": "2026-05-11T08:26:59.304Z",
  "id": "yqM7j235DDoxpRah",
  "name": "Confirmacion de pago cliente v3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "aviso-de-pago",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        96
      ],
      "id": "7733efcb-c73b-4ca5-a9fa-54e9937e171c",
      "name": "Webhook",
      "webhookId": "d7e0a9fd-b3cc-40cd-b632-29af77f8a0c6"
    },
    {
      "parameters": {
        "sendTo": "contacta@hazmarca.es",
        "subject": "=Dominio {{ $('Webhook').item.json.query.dominio }} — PAGADO",
        "message": "=El dominio {{ $('Webhook').item.json.query.dominio }} ha sido pagado. Click en el boton para crear factura en FacturaScripts. Acción: mantener renovación automática en Sered.\n\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/registrar-pagado?dominio={{ $('Webhook').item.json.query.dominio }}&codcliente={{ $('Webhook').item.json.query.codcliente }}&pvpunitario={{ $('Webhook').item.json.query.pvpunitario }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Ya ha pagado al precio mínimo\n  </a>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        80,
        80
      ],
      "id": "82a6f29c-0618-4e29-967d-7075f299b47d",
      "name": "Send a message",
      "webhookId": "e67bd13a-d5c7-4aea-87ba-5fc52cf065cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "K88Ro02qAPLqoTbF",
          "name": "Gmail contacta"
        }
      }
    },
    {
      "parameters": {
        "content": "## Webhook desde correo cliente\n",
        "height": 256,
        "width": 256,
        "color": "#3A3636"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        16
      ],
      "typeVersion": 1,
      "id": "93102475-3dd9-4122-88a1-5219c56ec1c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Enviar correo interno \n",
        "height": 256,
        "width": 272,
        "color": "#873636"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "90b34998-ed8f-49d2-8b86-3c974d007d28",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Cliente",
              "lookupValue": "={{ $json.query.codcliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        96
      ],
      "id": "39e59829-142c-4c67-aa46-2b2344eb9066",
      "name": "Datos del Excel",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41abf936-6221-48fd-a875-8f3e48b79d78",
              "leftValue": "={{ $json[\"Última Acción\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        96
      ],
      "id": "3782ca64-50a0-42ee-8727-9526a801ee50",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"data\":\"Ya se está procesando\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -208,
        288
      ],
      "id": "e58e18a7-519e-4066-a5f6-7ae2112c0a73",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aV0k8akb8Bg65svTa5GPj_KHllcg2U2PuvvBkaNVLSk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $json[\"ID Cliente\"] }}",
            "Última Acción": "PENDIENTE"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "Dominio",
              "displayName": "Dominio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Cliente",
              "displayName": "Email Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Precio Base (€)",
              "displayName": "Precio Base (€)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Cliente",
              "displayName": "Nombre Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Última Acción",
              "displayName": "Última Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        80
      ],
      "id": "3d88c7a5-6117-4de0-898c-3d320ed38f36",
      "name": "Datos del Excel1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Datos del Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Excel": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Datos del Excel1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Excel1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "proyecton8n-n8n.yq3yuy.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9,en;q=0.8",
            "cookie": {
              "__redacted": true,
              "reason": "node_defined_field",
              "canReveal": false
            },
            "priority": "u=0, i",
            "sec-ch-ua": "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "cross-site",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "78.30.9.5",
            "x-forwarded-host": "proyecton8n-n8n.yq3yuy.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "946ec7fcaaf0",
            "x-real-ip": "78.30.9.5"
          },
          "params": {},
          "query": {
            "dominio": "prueba-oro.com",
            "idpresupuesto": "443",
            "codcliente": "C0004",
            "pvpunitario": "65"
          },
          "body": {},
          "webhookUrl": "https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/aviso-de-pago",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "b12638ce-a27f-4c98-b4c8-981a1c5bebfa",
  "activeVersionId": "b12638ce-a27f-4c98-b4c8-981a1c5bebfa",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:26:59.305Z",
      "createdAt": "2026-05-11T08:26:59.305Z",
      "role": "workflow:owner",
      "workflowId": "yqM7j235DDoxpRah",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T07:16:38.000Z",
    "createdAt": "2026-05-12T07:16:34.247Z",
    "versionId": "b12638ce-a27f-4c98-b4c8-981a1c5bebfa",
    "workflowId": "yqM7j235DDoxpRah",
    "nodes": [
      {
        "parameters": {
          "path": "aviso-de-pago",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -864,
          96
        ],
        "id": "7733efcb-c73b-4ca5-a9fa-54e9937e171c",
        "name": "Webhook",
        "webhookId": "d7e0a9fd-b3cc-40cd-b632-29af77f8a0c6"
      },
      {
        "parameters": {
          "sendTo": "contacta@hazmarca.es",
          "subject": "=Dominio {{ $('Webhook').item.json.query.dominio }} — PAGADO",
          "message": "=El dominio {{ $('Webhook').item.json.query.dominio }} ha sido pagado. Click en el boton para crear factura en FacturaScripts. Acción: mantener renovación automática en Sered.\n\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/registrar-pagado?dominio={{ $('Webhook').item.json.query.dominio }}&codcliente={{ $('Webhook').item.json.query.codcliente }}&pvpunitario={{ $('Webhook').item.json.query.pvpunitario }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Ya ha pagado al precio mínimo\n  </a>\n</div>",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          80,
          80
        ],
        "id": "82a6f29c-0618-4e29-967d-7075f299b47d",
        "name": "Send a message",
        "webhookId": "e67bd13a-d5c7-4aea-87ba-5fc52cf065cf",
        "credentials": {
          "gmailOAuth2": {
            "id": "K88Ro02qAPLqoTbF",
            "name": "Gmail contacta"
          }
        }
      },
      {
        "parameters": {
          "content": "## Webhook desde correo cliente\n",
          "height": 256,
          "width": 256,
          "color": "#3A3636"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -944,
          16
        ],
        "typeVersion": 1,
        "id": "93102475-3dd9-4122-88a1-5219c56ec1c0",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Enviar correo interno \n",
          "height": 256,
          "width": 272,
          "color": "#873636"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "90b34998-ed8f-49d2-8b86-3c974d007d28",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
            "mode": "list",
            "cachedResultName": "n8nRenovaciones",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ID Cliente",
                "lookupValue": "={{ $json.query.codcliente }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -656,
          96
        ],
        "id": "39e59829-142c-4c67-aa46-2b2344eb9066",
        "name": "Datos del Excel",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "tlryTl2TVc3G1dVp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "41abf936-6221-48fd-a875-8f3e48b79d78",
                "leftValue": "={{ $json[\"Última Acción\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -496,
          96
        ],
        "id": "3782ca64-50a0-42ee-8727-9526a801ee50",
        "name": "If"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"data\":\"Ya se está procesando\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -208,
          288
        ],
        "id": "e58e18a7-519e-4066-a5f6-7ae2112c0a73",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
            "mode": "list",
            "cachedResultName": "n8nRenovaciones",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aV0k8akb8Bg65svTa5GPj_KHllcg2U2PuvvBkaNVLSk/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID Cliente": "={{ $json[\"ID Cliente\"] }}",
              "Última Acción": "PENDIENTE"
            },
            "matchingColumns": [
              "ID Cliente"
            ],
            "schema": [
              {
                "id": "Dominio",
                "displayName": "Dominio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Email Cliente",
                "displayName": "Email Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Fecha Vencimiento",
                "displayName": "Fecha Vencimiento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Precio Base (€)",
                "displayName": "Precio Base (€)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ID Cliente",
                "displayName": "ID Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nombre Cliente",
                "displayName": "Nombre Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Última Acción",
                "displayName": "Última Acción",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -208,
          80
        ],
        "id": "3d88c7a5-6117-4de0-898c-3d320ed38f36",
        "name": "Datos del Excel1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "tlryTl2TVc3G1dVp",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Datos del Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos del Excel": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Datos del Excel1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos del Excel1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version b12638ce",
    "description": "",
    "autosaved": true
  },
  "tags": []
}