workflows/Confirmacion pago interno v3.json
{
  "updatedAt": "2026-05-04T09:02:10.570Z",
  "createdAt": "2026-05-04T07:00:37.399Z",
  "id": "1cQtlgkQqN7vL5OM",
  "name": "Confirmacion pago interno v3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/crearFacturaCliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=codcliente",
              "value": "={{ $json.query.codcliente }}"
            },
            {
              "name": "lineas",
              "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.query.dominio }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.query.pvpunitario }}}]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        0
      ],
      "id": "34e527de-31af-46c7-b2a4-2d813a7041f7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DpVPFfj4RqEPNKMC",
          "name": "Facturascript Pruebas"
        }
      }
    },
    {
      "parameters": {
        "content": "## Crear factura",
        "height": 256,
        "width": 272,
        "color": "#412D4E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -80
      ],
      "typeVersion": 1,
      "id": "706ae449-e550-43a4-8bf8-41e7a88535c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "registrar-pagado",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        96
      ],
      "id": "742ad394-91e0-4809-bcb9-e903b6c077e5",
      "name": "Webhook",
      "webhookId": "21d8eed1-08be-4864-9f62-abb346bd0b57"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aV0k8akb8Bg65svTa5GPj_KHllcg2U2PuvvBkaNVLSk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente": "={{ $json.query.codcliente }}",
            "row_number": 0,
            "Última Acción": "PAGADO"
          },
          "matchingColumns": [
            "ID Cliente"
          ],
          "schema": [
            {
              "id": "Dominio",
              "displayName": "Dominio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Cliente",
              "displayName": "Email Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Precio Base (€)",
              "displayName": "Precio Base (€)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Cliente",
              "displayName": "Nombre Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Última Acción",
              "displayName": "Última Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        256
      ],
      "id": "cfdd8655-e86d-46c1-8a71-1631599ff18d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XXWgTkrgGGVSqKJR",
          "name": "Google Sheets contacta"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://space-1q21-1b.facturas.live/pruebas/api/3/pagarFacturaCliente/{{ $json.doc.idfactura }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "fechapago",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "codpago",
              "value": "CONT"
            },
            {
              "name": "pagada",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        0
      ],
      "id": "f375025d-9e31-4566-a2b2-2971680a103c",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "DpVPFfj4RqEPNKMC",
          "name": "Facturascript Pruebas"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "4QTTaZP0TYsnmiyK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8783e7d1-53a1-4d32-b8c5-e4f68128d2bb",
  "activeVersionId": "8783e7d1-53a1-4d32-b8c5-e4f68128d2bb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-04T07:00:37.425Z",
      "createdAt": "2026-05-04T07:00:37.425Z",
      "role": "workflow:owner",
      "workflowId": "1cQtlgkQqN7vL5OM",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-04T07:03:26.000Z",
    "createdAt": "2026-05-04T07:02:41.034Z",
    "versionId": "8783e7d1-53a1-4d32-b8c5-e4f68128d2bb",
    "workflowId": "1cQtlgkQqN7vL5OM",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/crearFacturaCliente",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "=codcliente",
                "value": "={{ $json.query.codcliente }}"
              },
              {
                "name": "lineas",
                "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.query.dominio }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.query.pvpunitario }}}]"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          96,
          0
        ],
        "id": "34e527de-31af-46c7-b2a4-2d813a7041f7",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "DpVPFfj4RqEPNKMC",
            "name": "Facturascript Pruebas"
          }
        }
      },
      {
        "parameters": {
          "content": "## Crear factura",
          "height": 256,
          "width": 272,
          "color": "#412D4E"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          16,
          -80
        ],
        "typeVersion": 1,
        "id": "706ae449-e550-43a4-8bf8-41e7a88535c8",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "path": "registrar-pagado",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -240,
          96
        ],
        "id": "742ad394-91e0-4809-bcb9-e903b6c077e5",
        "name": "Webhook",
        "webhookId": "21d8eed1-08be-4864-9f62-abb346bd0b57"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
            "mode": "list",
            "cachedResultName": "n8nRenovaciones",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aV0k8akb8Bg65svTa5GPj_KHllcg2U2PuvvBkaNVLSk/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID Cliente": "={{ $json.query.codcliente }}",
              "row_number": 0,
              "Última Acción": "PAGADO"
            },
            "matchingColumns": [
              "ID Cliente"
            ],
            "schema": [
              {
                "id": "Dominio",
                "displayName": "Dominio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Email Cliente",
                "displayName": "Email Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Fecha Vencimiento",
                "displayName": "Fecha Vencimiento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Precio Base (€)",
                "displayName": "Precio Base (€)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ID Cliente",
                "displayName": "ID Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nombre Cliente",
                "displayName": "Nombre Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Última Acción",
                "displayName": "Última Acción",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          96,
          256
        ],
        "id": "cfdd8655-e86d-46c1-8a71-1631599ff18d",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XXWgTkrgGGVSqKJR",
            "name": "Google Sheets contacta"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://space-1q21-1b.facturas.live/pruebas/api/3/pagarFacturaCliente/{{ $json.doc.idfactura }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "fechapago",
                "value": "={{ new Date().toISOString().split('T')[0] }}"
              },
              {
                "name": "codpago",
                "value": "CONT"
              },
              {
                "name": "pagada",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          320,
          0
        ],
        "id": "f375025d-9e31-4566-a2b2-2971680a103c",
        "name": "HTTP Request1",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "DpVPFfj4RqEPNKMC",
            "name": "Facturascript Pruebas"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Haz Marca Marketing",
    "name": "Version 8783e7d1",
    "description": "",
    "autosaved": true
  },
  "tags": []
}