workflows/crear base de datos en notion.json
{
  "updatedAt": "2026-04-17T08:57:02.588Z",
  "createdAt": "2026-04-13T09:13:29.658Z",
  "id": "FvqJMC3lTQQAGIFj",
  "name": "crear base de datos en notion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        -48
      ],
      "id": "7a6c44a3-0572-4dda-a78e-21434d103f38",
      "name": "When chat message received",
      "webhookId": "7caac218-4016-427e-b72c-7e97ee7f5dd7"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "El documento es una factura. Extrae toda la informacion importante como productos, precio, total, fecha, tienda o comercio",
        "inputType": "binary",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        -80
      ],
      "id": "bc02a2de-5c33-4d4f-9d47-72ac8708b409",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Actua como un experto contable que lee facturas, recibos o tickets de gastos para devolver de forma estructurada la informacion contenida en el.\n\nNo te dirijas al usuario y solo devuelves la informacion solicitada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -80
      ],
      "id": "8bf8f1b7-8348-4e69-84ac-639204f06be2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        160,
        112
      ],
      "id": "f51cf699-f244-452d-b9ea-27337c677047",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LZwftT7lD2IP0iVn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"comercio\": \"nombre del emisor del documento\",\n  \"productos\": [\n      {\n        \"nombre\":\"Nombre del producto o servicio\",\n        \"precio\":\"Precio del producto\"\n      }  \n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        128
      ],
      "id": "4a857d77-44fc-451f-ba81-393a937d6c0d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        672,
        -80
      ],
      "id": "58ed94bc-b7c4-45f9-8710-6c53252a5460",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "1S24PkZ82tfwbmAW",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Analyze document": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "Aquí tienes la información extraída del documento (Presupuesto):\n\n**Información del Comercio (Emisor):**\n*   **Nombre:** pruebas\n*   **CIF:** H46753836\n*   **Dirección:** Avenida del desengaño 21, 41000, Sevilla, España\n*   **Contacto:** 611223344 / contacta@hazmarca.es\n\n**Información del Cliente:**\n*   **Nombre:** Clínica Dental Nervión (Cliente C0004)\n*   **CIF:** E91999888\n*   **Dirección:** Av. Eduardo Dato, 15, 41005, Sevilla\n\n**Detalles del Documento:**\n*   **Tipo:** Presupuesto (Número: 14, Serie: A)\n*   **Referencia:** PRE2026A14\n*   **Fecha:** 13-04-2026\n\n**Productos/Servicios:**\n*   **Descripción:** Renovación dominio prueba-oro.com - Recargo por Urgencia\n*   **Cantidad:** 1,00\n*   **Precio Unitario (Neto):** 60,00 €\n\n**Totales:**\n*   **Base Imponible:** 60,00 €\n*   **IVA (21%):** 12,60 €\n*   **Total:** **72,60 €**\n\n**Otros:**\n*   **Forma de pago:** Al contado",
                "thoughtSignature": "EqcOCqQOAb4+9vviJF9OUWzxL/fzrQlKnC9YOXlUvX3PNZ025KMacHr+FuvSPxlwAS6UaAFlPU+LDPvc3G578UcZwjsfzx83VQnhzBeDsXUYgieQKmuSFOhI2pBQL+VOfQ7/rprZ1Yo6Pnr+CsvSfwx3VLW8EykDpuz7TcgC/LA5fI/4xL3U4cgeDn711KyI3tW507C1LiyLExYpZcwbbWUkn4tgLn4qxheJ3WCiJgQ95+ySk+UHhS2gFCv/RVl6xA42dnKdDWsDH6j5pealdUQLcr2DpbZFtOR2CZ0/1lBLcCBhtl2BwSDfA8/Fg9VZOouQuJ2AC3UUy2HbyojaaXIkTjg6Qn6/gxnD1ta7vbAZUqThZAi6eZmLyQpkHkd1NrNWt9t8rBgdpC8i4qHJuD0J2s14+dxOpOX5HBR0fHkx0H9Tiljjp4VaClVJR7/untt0maOV+AH8mvp/khQv6vWWmsk+o/v04mAwKBCVzKEc8HlpD9QW0YeqmmviZd2GHuclptekVQOOYEGCfUwQeH1nPt/RhO0ZV8YEOW1Ad58CjNi8ki9swgvhhd6dAsM6JlJEhVu+QOfFFbjR7nFmWrfdAkwj0ONlz/hTuWwDLzcu+MDiUcftE/pNzmbCE70Gg1zdYM7SHXeVMFjClhuVFcSkmOKvwtRBtflxRalqaOtWxH08QmejRS55Myyax+7vU9W6arj59+vEgteDf3R1iZZAssjnIHOCIZGVkNM84wARUTezeR7L0nrlIxZXXP88ubP8Lo59LTnAkVYeO/rIjIYI9Cko1U2eOlVUqx+bWhiG0/5eaQyLFyRSkuXdKkBFkNr7IIZiCPdCOcDdTr/HeeGzfs/WaYRNJ6a/HILiBkq7AyiLoeWlRAQMqfJ8AAqTYM7O9pSLDyMDCQobUnt9Fc7sf1JUttNcbY/KrSdZp6qan1sJ3hs8egg+2h6HfYQxyaBbL2WLnem0zdwoTbNQRI0m5T6ET8GzsLpo8AQK4OrlNFq3zsZM1TCVAUYxwks0lxwa2nVKyR6o8p0EQiSvyvEYTHmM1BBD+BiiNSc/wotMcfTXY1lpK2vm/+BWvgsHZPrfbMdvEhjyQ9bd6EejanXFcvsgi2X5+EQPAqQgCbpTgb5qUa0GzoC7PPdzMeGBrbmoKHCHMcWbJd21OdKpprkIlhI2cyDyewgenL+6Dgj5wB6ZFz1BHIslt4rm/IIo99/9sOAWuxcpDM86JtdWI63+C0VysHCp/OpS45fKBUKewBQ4p0lJ3ctkrQdYZHHiLW3A1UyJruEngaQqV+KviEQOZ1SYR89tTYezOGbhmxVjP92dvzUeHcUs6EoQ8egvyWz0Pwiq7OxdxNbIMoBdA1+FXMBhqsMTlBaJGih0WcMks0oOJvRwhPj8WHZ8tUQZwRH5O0Q1qVOWRSbczr/sUOqtLTUTLX9/Y4xXj03+UVJdIp+W/WKqmXY0xBbjyApBQQRjo6XWdYo3AOE7b3fAGqIdVUJ7AewnQB+SNMTJakoSLlAb9InFDGa39TD6vIPE3mI39CUJjnlYo0H7cKbtiKbhMZaqWgEPS60bD3U+X9XKDSow/MXpkkVShx83gTetg2pabH9CmCxiQ87hay1Z2fQbiswHKz8lcSTplBxxZL5rJHp3uGYrOi8dHKjBhDbbWpTnEal/IV6jpUnH8Dlhfncju5/8Vkhq2REz7CQ1KdGkn7K+c+bKHdkI5tWcZS6xhJHTcI7nuk3SCV/FA14YUBfJE7vVfJt1x3XaXTvrs2Zgw1I1eJ8OhyQMPRzdM3WQiuODiuXVUpYEVH/DhrAp6GP/qsKGM+PwWnQAhJ76AE/BBNEzpScbxfHAyx1hKoE2jj/HLWQgn7M7IowSXXMEkSBb7W+I2twPTj693h71D7wO9GVRoXAPk4OdSLSfyjdJ0QXGSmFEJdVNZgfzuHNFHx+i698MkNv9brCCaNRCuNCQSGWrI93N0Tcn4jTxinWgXGABwnI6BjopDANduVGzajwqlJZhinrnfo4//p8TMEQjHzUwp2u8j++RoRAMeiq9X2LxHNsw+o90d+vM/egm3OTHFYxBEmuQJwNv2OruoVhBf+wr2uegfo/IMU7mhzSqgGYRyXYifwfkXym+za5teK+Y+rcjI60QqJKsHc51ehiXCPCZ+2MRD97rcifSbeJZqe/d5yfsJ4XAtbiEcQtI5hymTSOpx9noJSVO3HKpYTxRL7Hg99AfPrhU/s7lFHr69lQwNIBD4a2+pIfUoldJkT/LCvAzWwhHs01FdhRXawal6/Zg2UAHOFCeMpQaqvM802CXJ5ztlNeuQf29d5dEsKtiQQQ2V6VlskuFR6AfCFLU7/rB8gD4VcBJeM4EXvejOT5dA9wcbEkkdU1tuJnYJcl5jEyQ/P5dXJnmQfpftHuUj2MVBHxUYJRK7DFV3BmajLimxlX7mnwQsQ=="
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "eebae3fe-5ade-41cc-ba8b-51d5290e18a6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-13T09:13:29.670Z",
      "createdAt": "2026-04-13T09:13:29.670Z",
      "role": "workflow:owner",
      "workflowId": "FvqJMC3lTQQAGIFj",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}