workflows/D Ingesta.json
{
  "updatedAt": "2026-05-15T11:24:30.704Z",
  "createdAt": "2026-05-15T08:14:05.692Z",
  "id": "yyQHHc07a2fUsUBi",
  "name": "D Ingesta",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "guildIds": [
          "378995656540291080",
          "984821422465613825"
        ],
        "channelIds": [
          "378995656540291084",
          "1109929726501457920",
          "987725910973239316",
          "1144290107466186762"
        ],
        "pattern": "every",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        112
      ],
      "id": "26bb0a5c-f8f0-4f06-a34e-59d77b322585",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "zZnG3iHtylDQXYN1",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fbdd46b-852c-4f4a-8251-5688543acc44",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        112
      ],
      "id": "c5c28e0a-f9f0-4581-9009-31f12233a9a0",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dbot",
          "mode": "list",
          "cachedResultName": "dbot"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -528,
        96
      ],
      "id": "8da283ad-3e26-4211-893e-04ead86bdb25",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Etdhanl3dkLlZy35",
          "name": "Pinecone war"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "author",
                "value": "={{ $json.authorName }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "channel",
                "value": "={{ $json.channelId }}"
              },
              {
                "name": "message_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -384,
        304
      ],
      "id": "50e061a5-2c2e-4863-bc42-85fc6fe7afff",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "af41640a-8c28-4cf8-a2f2-6ab55f857159",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1IvicPhw881dGd64",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "jWOwPrw3rbQy2Doq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b4a335e0-9e6b-4937-90ef-56f96f2754f8",
  "activeVersionId": "b4a335e0-9e6b-4937-90ef-56f96f2754f8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-15T08:14:05.694Z",
      "createdAt": "2026-05-15T08:14:05.694Z",
      "role": "workflow:owner",
      "workflowId": "yyQHHc07a2fUsUBi",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-15T11:25:06.000Z",
    "createdAt": "2026-05-15T11:24:30.705Z",
    "versionId": "b4a335e0-9e6b-4937-90ef-56f96f2754f8",
    "workflowId": "yyQHHc07a2fUsUBi",
    "nodes": [
      {
        "parameters": {
          "guildIds": [
            "378995656540291080",
            "984821422465613825"
          ],
          "channelIds": [
            "378995656540291084",
            "1109929726501457920",
            "987725910973239316",
            "1144290107466186762"
          ],
          "pattern": "every",
          "additionalFields": {}
        },
        "type": "n8n-nodes-discord-trigger.discordTrigger",
        "typeVersion": 1,
        "position": [
          -1072,
          112
        ],
        "id": "26bb0a5c-f8f0-4f06-a34e-59d77b322585",
        "name": "Discord Trigger",
        "credentials": {
          "discordBotTriggerApi": {
            "id": "zZnG3iHtylDQXYN1",
            "name": "Discord Bot Trigger account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7fbdd46b-852c-4f4a-8251-5688543acc44",
                "leftValue": "={{ $json.content.length }}",
                "rightValue": 20,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -864,
          112
        ],
        "id": "c5c28e0a-f9f0-4581-9009-31f12233a9a0",
        "name": "If"
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "dbot",
            "mode": "list",
            "cachedResultName": "dbot"
          },
          "options": {
            "clearNamespace": false,
            "pineconeNamespace": ""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -528,
          96
        ],
        "id": "8da283ad-3e26-4211-893e-04ead86bdb25",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "Etdhanl3dkLlZy35",
            "name": "Pinecone war"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "author",
                  "value": "={{ $json.authorName }}"
                },
                {
                  "name": "timestamp",
                  "value": "={{ $json.timestamp }}"
                },
                {
                  "name": "channel",
                  "value": "={{ $json.channelId }}"
                },
                {
                  "name": "message_id",
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          -384,
          304
        ],
        "id": "50e061a5-2c2e-4863-bc42-85fc6fe7afff",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-2-preview"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -560,
          288
        ],
        "id": "af41640a-8c28-4cf8-a2f2-6ab55f857159",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "1IvicPhw881dGd64",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "Discord Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version b4a335e0",
    "description": "",
    "autosaved": true
  },
  "tags": []
}