workflows/Fracturacity a Excel v4.json
{
  "updatedAt": "2026-05-18T08:49:48.657Z",
  "createdAt": "2026-05-11T09:01:57.952Z",
  "id": "nY61MZnAwAYOEI1L",
  "name": "Fracturacity a Excel v4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aV0k8akb8Bg65svTa5GPj_KHllcg2U2PuvvBkaNVLSk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dominio": "={{ $json.dominio }}",
            "Email Cliente": "={{ $json.emailCliente }}",
            "Fecha Vencimiento": "={{ $json.fechaVencimiento }}",
            "Precio Base (€)": "={{ $json.precioBase }}",
            "Nombre Cliente": "={{ $json.nombreCliente }}",
            "ClaveUnica": "={{ $json.claveUnica }}",
            "ID Cliente": "={{ $json.idCliente }}"
          },
          "matchingColumns": [
            "ClaveUnica"
          ],
          "schema": [
            {
              "id": "ClaveUnica",
              "displayName": "ClaveUnica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Cliente",
              "displayName": "Nombre Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Cliente",
              "displayName": "Email Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dominio",
              "displayName": "Dominio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio Base (€)",
              "displayName": "Precio Base (€)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Última Acción",
              "displayName": "Última Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        432
      ],
      "id": "b59bd586-3a1d-4848-b828-e4f0ad8ee2fe",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hazmarca.marketing/slu/api/3/docrecurringsales",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 50 }}"
                  },
                  {
                    "name": "limit",
                    "value": "50"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        432
      ],
      "id": "c78f5526-ee37-4980-b51f-83f6f3fb7c7b",
      "name": "HTTPRecurrentes",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hazmarca.marketing/slu/api/3/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 50 }}"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        208
      ],
      "id": "8c5ec845-7717-431f-af30-05adcb9fcd96",
      "name": "HTTPClientes",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://hazmarca.marketing/slu/api/3/docrecurringsalelines",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 50 }}"
                  },
                  {
                    "name": "limit",
                    "value": "50"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        16
      ],
      "id": "02e2936d-1437-4a2a-b6c9-2bdbbf1085d2",
      "name": "HTTPrecurrenteslines",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hazmarca.marketing/slu/api/3/variantes?filter[idproducto]=43",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 50 }}"
                  },
                  {
                    "name": "limit",
                    "value": "50"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        -176
      ],
      "id": "26a07b73-60a0-4995-a73e-5664050a9717",
      "name": "HTTP variantes dominio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f96a7eab-6d60-4c34-a791-73d9f1e7ab5a",
              "leftValue": "={{ $json.nextdate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -192,
        432
      ],
      "id": "32c8ff6b-37ac-4c0a-b2db-2a5e39822804",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PROCESAMIENTO DE RECURRENTES DE DOMINIO\n// ============================================\n\nconst recurrentes = $input.all().map(r => r.json);\n\n// Datos cacheados al inicio del flujo\nconst variantes = $('HTTP variantes dominio').all().map(v => v.json);\nconst todasLasLineas = $('HTTPrecurrenteslines').all().map(l => l.json);\nconst todosLosClientes = $('HTTPClientes').all().map(c => c.json);\n\nconst ID_PRODUCTO_DOMINIO = 43;\n\n// ============================================\n// ÍNDICES PARA BÚSQUEDA RÁPIDA\n// ============================================\n\n// Variantes de dominio indexadas por referencia\nconst variantesPorRef = {};\nfor (const v of variantes) {\n  if (v.idproducto === ID_PRODUCTO_DOMINIO) {\n    const key = v.referencia?.trim().toLowerCase();\n    if (key) variantesPorRef[key] = v;\n  }\n}\n\n// Líneas agrupadas por iddoc (id del recurrente)\nconst lineasPorDoc = {};\nfor (const l of todasLasLineas) {\n  if (!lineasPorDoc[l.iddoc]) lineasPorDoc[l.iddoc] = [];\n  lineasPorDoc[l.iddoc].push(l);\n}\n\n// Clientes indexados por codcliente\nconst clientesPorCod = {};\nfor (const c of todosLosClientes) {\n  clientesPorCod[c.codcliente] = c;\n}\n\n// ============================================\n// HELPERS\n// ============================================\n\n// Considera \"0\" cualquier null, undefined, 0 o \"0\"\nconst esCero = (v) => v === null || v === undefined || v === 0 || v === '0';\n\n// Aplica descuento: precio * (1 - discount/100), redondeado a 2 decimales\nconst aplicarDescuento = (precio, discount) => {\n  const d = esCero(discount) ? 0 : Number(discount);\n  return Number((precio * (1 - d / 100)).toFixed(2));\n};\n\n// ============================================\n// PROCESAMIENTO PRINCIPAL\n// ============================================\n\nconst filas = [];\n\nfor (const rec of recurrentes) {\n  const lineasDelRec = lineasPorDoc[rec.id] || [];\n  const cliente = clientesPorCod[rec.codcliente];\n\n  for (const linea of lineasDelRec) {\n    const ref = linea.reference?.trim().toLowerCase();\n    const variante = variantesPorRef[ref];\n\n    if (!variante) continue; // No es dominio → saltar\n\n    // --- LÓGICA DE PRECIO ---\n    let precioFinal;\n    let origenPrecio;\n    let precioBaseUsado;\n\n    if (!esCero(linea.price)) {\n      // Precio personalizado en la línea → aplicar descuento sobre ese precio\n      precioBaseUsado = linea.price;\n      precioFinal = aplicarDescuento(linea.price, linea.discount);\n      origenPrecio = 'linea';\n    } else {\n      // Precio 0 en línea → usar precio de variante, aplicando descuento si lo hay\n      precioBaseUsado = variante.precio;\n      precioFinal = aplicarDescuento(variante.precio, linea.discount);\n      origenPrecio = esCero(linea.discount) ? 'variante' : 'variante_con_descuento';\n    }\n\n    filas.push({\n      json: {\n        claveUnica: `${rec.codcliente}_${linea.name}`,\n        idRecurrente: rec.id, \n        dominio: variante.referencia,\n        emailCliente: cliente?.email || '',\n        fechaVencimiento: rec.nextdate || rec.lastdate,\n        precioBase: precioFinal,\n        origenPrecio: origenPrecio,\n        precioBaseUsado: precioBaseUsado,\n        precioLineaOriginal: linea.price,\n        descuentoAplicado: linea.discount,\n        precioVarianteReferencia: variante.precio,\n        idCliente: rec.codcliente,\n        nombreCliente: cliente?.razonsocial || cliente?.nombre || '(sin nombre)'\n      }\n    });\n  }\n}\n\n\nreturn filas;\n\n/*\n \n// ============================================\n// AUDITORÍA (se devuelve como primer item)\n// ============================================\n\nconst totalLinea = filas.filter(f => f.json.origenPrecio === 'linea').length;\nconst totalVariante = filas.filter(f => f.json.origenPrecio === 'variante').length;\nconst totalVarianteConDto = filas.filter(f => f.json.origenPrecio === 'variante_con_descuento').length;\n\nconst sospechosos = filas.filter(f =>\n  f.json.origenPrecio === 'variante_con_descuento' &&\n  Number(f.json.descuentoAplicado) > 20\n);\n\nconst sinEmail = filas.filter(f => !f.json.emailCliente).length;\nconst sinNombre = filas.filter(f => f.json.nombreCliente === '(sin nombre)').length;\n\nconst auditoria = {\n  _tipo: 'AUDITORIA',\n  totalFilas: filas.length,\n  origenLinea: totalLinea,\n  origenVariante: totalVariante,\n  origenVarianteConDescuento: totalVarianteConDto,\n  sospechososDescuentoMayor20: sospechosos.length,\n  detalleSospechosos: sospechosos.map(s => ({\n    cliente: s.json.nombreCliente,\n    dominio: s.json.dominio,\n    descuento: s.json.descuentoAplicado\n  })),\n  sinEmail: sinEmail,\n  sinNombre: sinNombre\n};\n\nreturn [{ json: auditoria }, ...filas];\n*/\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        432
      ],
      "id": "9291508c-0b13-4a29-a084-039dbefc3084",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        128
      ],
      "id": "2887c4e5-7a74-4f46-a0ab-e522002eb943",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "HTTPRecurrentes": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPClientes": {
      "main": [
        []
      ]
    },
    "HTTPrecurrenteslines": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP variantes dominio": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP variantes dominio",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTPrecurrenteslines",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTPClientes",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTPRecurrentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "jWOwPrw3rbQy2Doq",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4f7a740a-5d8c-4813-8a37-5e3dc0c003ae",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T09:01:57.955Z",
      "createdAt": "2026-05-11T09:01:57.955Z",
      "role": "workflow:owner",
      "workflowId": "nY61MZnAwAYOEI1L",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-05-11T09:01:50.331Z",
      "createdAt": "2026-05-11T09:01:50.331Z",
      "id": "1RdtjEkS3P0u2ppX",
      "name": "v4"
    }
  ]
}