workflows/Fracturacity a Excel.json
{
  "updatedAt": "2026-05-11T08:46:35.616Z",
  "createdAt": "2026-05-11T08:29:07.574Z",
  "id": "kPyQKPad5MVFRcRz",
  "name": "Fracturacity a Excel",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        96
      ],
      "id": "ed8c0f30-40e6-47a0-8901-63998ee59177",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/clientes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        96
      ],
      "id": "9fdaf70e-83bf-4ccf-b0ef-e682e362a128",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items\n  .filter(item => item !== null && item !== undefined)\n  .map(item => {\n    const cliente = item.json;\n    const datos = {};\n    const obs = cliente.observaciones || \"\";\n    obs.split(\"|\").forEach(par => {\n      const [clave, valor] = par.split(\":\");\n      if (clave && valor) {\n        datos[clave.trim()] = valor.trim();\n      }\n    });\n    return {\n      json: {\n        \"Dominio\":            datos[\"DOMINIO\"]             || \"\",\n        \"Email Cliente\":      cliente.email                || \"\",\n        \"Fecha Vencimiento\":  datos[\"VENCIMIENTO\"]         || \"\",\n        \"Estado Sered\":       datos[\"SERED\"]               || \"Manual\",\n        \"Precio Base (€)\":    parseFloat(datos[\"PRECIO\"])  || \"\",\n        \"ID Cliente Factura\": cliente.codcliente           || \"\",\n        \"Scripts\":            datos[\"SCRIPTS\"]             || \"\",\n        \"Nombre Cliente\":     cliente.nombre               || \"\",\n        \"Teléfono\":           cliente.telefono1            || \"\",\n        \"Última Acción\":      \"Importado de FacturaScripts\"\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "4ec84ed3-cc29-4f27-b7a0-d1b178b94b2d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0",
          "mode": "list",
          "cachedResultName": "renovaciones_prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1743362210,
          "mode": "list",
          "cachedResultName": "Dominios_Renovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0/edit#gid=1743362210"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Cliente Factura": "={{ $json['ID Cliente Factura'] }}",
            "Email Cliente": "={{ $json['Email Cliente'] }}",
            "Telefono": "={{ $json['Teléfono'] }}",
            "Nombre Cliente": "={{ $json['Nombre Cliente'] }}",
            "Dominio": "={{ $json.Dominio }}",
            "Fecha Vencimiento": "={{ $json['Fecha Vencimiento'] }}",
            "Estado Sered": "={{ $json['Estado Sered'] }}",
            "Precio Base (€)": "={{ $json['Precio Base (€)'] }}",
            "Última Acción": "={{ $json['Última Acción'] }}"
          },
          "matchingColumns": [
            "ID Cliente Factura"
          ],
          "schema": [
            {
              "id": "Dominio",
              "displayName": "Dominio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Cliente",
              "displayName": "Email Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Vencimiento",
              "displayName": "Fecha Vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado Sered",
              "displayName": "Estado Sered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio Base (€)",
              "displayName": "Precio Base (€)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Cliente Factura",
              "displayName": "ID Cliente Factura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre Cliente",
              "displayName": "Nombre Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Última Acción",
              "displayName": "Última Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        96
      ],
      "id": "4be1a1b3-3899-4b45-8a31-40372dcfac14",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "content": "## Recoger datos clientes de Factura.city\n",
        "height": 336,
        "width": 288,
        "color": "#36386D"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f3af7030-b028-4ff5-9bf6-c0f112d9d702",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Formatear datos y Separar datos de Observaciones",
        "height": 336,
        "width": 336,
        "color": "#76732E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1,
      "id": "918344c8-897a-4e09-9454-7ef53eab2f7f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Actualizar Sheet",
        "height": 336,
        "width": 288,
        "color": "#2C7D4B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        0
      ],
      "typeVersion": 1,
      "id": "3b4af9bf-1e2e-40c3-8a4f-bbbb4fd5c53f",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "8546f419-9cca-455a-9238-bb539828a489",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:29:07.575Z",
      "createdAt": "2026-05-11T08:29:07.575Z",
      "role": "workflow:owner",
      "workflowId": "kPyQKPad5MVFRcRz",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}