workflows/Generador de imagenes.json
{
  "updatedAt": "2026-05-11T08:46:33.319Z",
  "createdAt": "2026-05-11T08:29:18.251Z",
  "id": "346hCccGAciNuSq7",
  "name": "Generador de imagenes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "d62d0291-227e-4fe6-b557-a53cbb5811fd",
      "name": "When chat message received",
      "webhookId": "00ed277f-5d88-4e7d-868f-a0edc7d4e974"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente que prepara promts para pollinations AI a partir del mensaje del usuario. no te dirijas a mi. solo devuelveme un promt en ingles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        0
      ],
      "id": "f82945ba-575e-4514-9b4f-fc9e71cf4a5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "c80fb2cc-08f7-4198-a18c-5285b90404ee",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.output }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "7a1c9d16-a7b8-4a7a-9418-93b792b5b273",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e9625319-120f-4798-89eb-8990b1e4edef",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:29:18.252Z",
      "createdAt": "2026-05-11T08:29:18.252Z",
      "role": "workflow:owner",
      "workflowId": "346hCccGAciNuSq7",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}