workflows/Habla con tus datos Telegram.json
{
  "updatedAt": "2026-04-27T07:40:11.856Z",
  "createdAt": "2026-04-08T09:34:49.215Z",
  "id": "8h5yk719tbPUp0Ee",
  "name": "Habla con tus datos Telegram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -144,
        96
      ],
      "id": "1d43fb7e-d695-46f5-9140-ebd7f5f8f29b",
      "name": "When chat message received",
      "webhookId": "a4504f67-4186-4780-869b-28ecd84ebfd9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un util asistente.\n FORMATO DE SALIDA OBLIGATORIO:\n- Devuelve SIEMPRE texto plano. Nunca uses Markdown.\n- PROHIBIDO usar estos caracteres como formato: * _ ` ~ [ ] ( ) #\n- Para listas, usa el carácter \"•\" seguido de espacio. Ejemplo: \"• elemento\"\n- Para separar secciones, usa saltos de línea simples, no encabezados.\n- Las URLs van escritas tal cual, sin corchetes ni paréntesis. Ejemplo correcto: https://ejemplo.com\n- No envuelvas nada en negrita, cursiva ni código.\n- No uses emojis salvo que se te pidan explícitamente.\n\nTu salida se envía directamente a Telegram en modo texto plano. Cualquier carácter de Markdown romperá el mensaje."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        32
      ],
      "id": "43fa2171-1b4c-4906-a0c2-b99aabea0a68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2,
          "topP": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "47a1624b-4e53-467a-a0e8-24bd4dba1ba5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "bd0001",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        304
      ],
      "id": "734920bc-24e7-437f-8c7a-fd38f599e2b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tienes toda la informacion",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360",
          "mode": "list",
          "cachedResultName": "va360"
        },
        "topK": 10,
        "options": {
          "pineconeNamespace": "asda.pdf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        240
      ],
      "id": "efe92e13-7532-4e6c-b615-e98b318726d0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "SmGcTnvsajKgKnYm",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        416
      ],
      "id": "d6e0faed-2200-4d16-9352-b1e28a9eed80",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -80
      ],
      "id": "e55834aa-f16d-4fc8-bd87-50939f3c13cc",
      "name": "Telegram Trigger",
      "webhookId": "563cbe56-fd81-4658-aaec-e96e82cb2ce2",
      "credentials": {
        "telegramApi": {
          "id": "urTZjO1ADqWOTnMm",
          "name": "doocubot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        32
      ],
      "id": "613fc952-73f8-4d81-8eee-e0c50af75a61",
      "name": "Send a text message",
      "webhookId": "fc9e21d9-5958-4efc-8348-3853958079e0",
      "credentials": {
        "telegramApi": {
          "id": "urTZjO1ADqWOTnMm",
          "name": "doocubot"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "24f800b3-f3cb-48d9-82d0-b198cb59c788",
  "activeVersionId": "24f800b3-f3cb-48d9-82d0-b198cb59c788",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-08T09:34:49.221Z",
      "createdAt": "2026-04-08T09:34:49.221Z",
      "role": "workflow:owner",
      "workflowId": "8h5yk719tbPUp0Ee",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-27T07:40:02.000Z",
    "createdAt": "2026-04-27T07:39:51.524Z",
    "versionId": "24f800b3-f3cb-48d9-82d0-b198cb59c788",
    "workflowId": "8h5yk719tbPUp0Ee",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -144,
          96
        ],
        "id": "1d43fb7e-d695-46f5-9140-ebd7f5f8f29b",
        "name": "When chat message received",
        "webhookId": "a4504f67-4186-4780-869b-28ecd84ebfd9"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "Eres un util asistente.\n FORMATO DE SALIDA OBLIGATORIO:\n- Devuelve SIEMPRE texto plano. Nunca uses Markdown.\n- PROHIBIDO usar estos caracteres como formato: * _ ` ~ [ ] ( ) #\n- Para listas, usa el carácter \"•\" seguido de espacio. Ejemplo: \"• elemento\"\n- Para separar secciones, usa saltos de línea simples, no encabezados.\n- Las URLs van escritas tal cual, sin corchetes ni paréntesis. Ejemplo correcto: https://ejemplo.com\n- No envuelvas nada en negrita, cursiva ni código.\n- No uses emojis salvo que se te pidan explícitamente.\n\nTu salida se envía directamente a Telegram en modo texto plano. Cualquier carácter de Markdown romperá el mensaje."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          128,
          32
        ],
        "id": "43fa2171-1b4c-4906-a0c2-b99aabea0a68",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.2,
            "topP": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          128,
          208
        ],
        "id": "47a1624b-4e53-467a-a0e8-24bd4dba1ba5",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "myaWeBiunKMboJJC",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "bd0001",
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          224,
          304
        ],
        "id": "734920bc-24e7-437f-8c7a-fd38f599e2b8",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Tienes toda la informacion",
          "pineconeIndex": {
            "__rl": true,
            "value": "va360",
            "mode": "list",
            "cachedResultName": "va360"
          },
          "topK": 10,
          "options": {
            "pineconeNamespace": "asda.pdf"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          368,
          240
        ],
        "id": "efe92e13-7532-4e6c-b615-e98b318726d0",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "SmGcTnvsajKgKnYm",
            "name": "Pinecone account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-2-preview"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          368,
          416
        ],
        "id": "d6e0faed-2200-4d16-9352-b1e28a9eed80",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "myaWeBiunKMboJJC",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -96,
          -80
        ],
        "id": "e55834aa-f16d-4fc8-bd87-50939f3c13cc",
        "name": "Telegram Trigger",
        "webhookId": "563cbe56-fd81-4658-aaec-e96e82cb2ce2",
        "credentials": {
          "telegramApi": {
            "id": "urTZjO1ADqWOTnMm",
            "name": "doocubot"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          480,
          32
        ],
        "id": "613fc952-73f8-4d81-8eee-e0c50af75a61",
        "name": "Send a text message",
        "webhookId": "fc9e21d9-5958-4efc-8348-3853958079e0",
        "credentials": {
          "telegramApi": {
            "id": "urTZjO1ADqWOTnMm",
            "name": "doocubot"
          }
        }
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          []
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Haz Marca Marketing",
    "name": "Version 24f800b3",
    "description": "",
    "autosaved": true
  },
  "tags": []
}