workflows/Habla con tus datos Telegram.json
{
  "updatedAt": "2026-05-11T08:46:23.659Z",
  "createdAt": "2026-05-11T08:29:51.614Z",
  "id": "9tNbZtVldrOies0o",
  "name": "Habla con tus datos Telegram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -48,
        176
      ],
      "id": "acea311d-6f4c-4630-96ba-c41aa3f8b886",
      "name": "When chat message received",
      "webhookId": "a4504f67-4186-4780-869b-28ecd84ebfd9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un util asistente.\n FORMATO DE SALIDA OBLIGATORIO:\n- Devuelve SIEMPRE texto plano. Nunca uses Markdown.\n- PROHIBIDO usar estos caracteres como formato: * _ ` ~ [ ] ( ) #\n- Para listas, usa el carácter \"•\" seguido de espacio. Ejemplo: \"• elemento\"\n- Para separar secciones, usa saltos de línea simples, no encabezados.\n- Las URLs van escritas tal cual, sin corchetes ni paréntesis. Ejemplo correcto: https://ejemplo.com\n- No envuelvas nada en negrita, cursiva ni código.\n- No uses emojis salvo que se te pidan explícitamente.\n\nTu salida se envía directamente a Telegram en modo texto plano. Cualquier carácter de Markdown romperá el mensaje."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        112
      ],
      "id": "13396999-4f07-420c-b469-4ba5f85af09b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2,
          "topP": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        288
      ],
      "id": "71fabce5-d308-45c8-8556-f087d17b5c66",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "bd0001",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        384
      ],
      "id": "48a6db46-3e86-4165-9a6c-98e65bd30b55",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tienes toda la informacion",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360",
          "mode": "list",
          "cachedResultName": "va360"
        },
        "topK": 10,
        "options": {
          "pineconeNamespace": "asda.pdf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        320
      ],
      "id": "0ec89e64-c584-4712-b8f1-72cd1b32ea3e",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        496
      ],
      "id": "18638aae-4cf5-47bd-ad98-0375a99707f0",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "125f363b-1289-4c5c-9873-dbb77a63986f",
      "name": "Telegram Trigger",
      "webhookId": "563cbe56-fd81-4658-aaec-e96e82cb2ce2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        112
      ],
      "id": "80bc1168-4f16-448a-aad7-3fc854b45656",
      "name": "Send a text message",
      "webhookId": "fc9e21d9-5958-4efc-8348-3853958079e0"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae9f8339-d5b8-4b8c-be62-0005c6b81653",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:29:51.616Z",
      "createdAt": "2026-05-11T08:29:51.616Z",
      "role": "workflow:owner",
      "workflowId": "9tNbZtVldrOies0o",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}