workflows/Ingesta de documentos v2.json
{
  "updatedAt": "2026-05-11T08:46:15.214Z",
  "createdAt": "2026-05-11T08:30:10.836Z",
  "id": "kSQMXsF0UO9M7cAN",
  "name": "Ingesta de documentos v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "d64b3eea-11e3-48bb-9315-51368464e9af",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360",
          "mode": "list",
          "cachedResultName": "va360"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        0
      ],
      "id": "97fdef9f-d788-4c1d-b6b8-105633bc1453",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        192
      ],
      "id": "be801915-b1ed-4d35-b5f9-82e806ea53c3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "42769099-1211-476a-bb37-0be903d3aa3a",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G",
          "mode": "list",
          "cachedResultName": "Carpeta prueba",
          "cachedResultUrl": "https://drive.google.com/drive/folders/171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "19deecd7-b237-4bdd-97f3-e87142732581",
      "name": "Google Drive Trigger"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "756acb46-7f87-43c3-912c-4bdbcc8c1d4e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:30:10.837Z",
      "createdAt": "2026-05-11T08:30:10.837Z",
      "role": "workflow:owner",
      "workflowId": "kSQMXsF0UO9M7cAN",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}