workflows/Ingesta de documentos v3.json
{
  "updatedAt": "2026-05-04T09:03:36.634Z",
  "createdAt": "2026-04-30T08:57:33.660Z",
  "id": "5EPBDtwr3ciJiQ1x",
  "name": "Ingesta de documentos v3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        32
      ],
      "id": "9e533f2e-6bbb-4321-9d99-47c9ec14706e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hbMxhAHphX3nGLCh",
          "name": "Drive contacta"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "consulta-documentos",
          "mode": "list",
          "cachedResultName": "consulta-documentos"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        32
      ],
      "id": "8539622d-2f58-4128-83d9-2848381b7ccd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "A0qLLArGgwsXMG5V",
          "name": "Pinecone contacta"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        224
      ],
      "id": "0bdd8eda-7616-4cbe-ab76-24d64693dafc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "ee1d9354-542f-438e-938f-7d1d0543dd36",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE",
          "mode": "list",
          "cachedResultName": "n8nConsulta tus documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        256,
        32
      ],
      "id": "d53923be-6971-4e65-a067-9218f1f0a5f2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hbMxhAHphX3nGLCh",
          "name": "Drive contacta"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "4QTTaZP0TYsnmiyK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-05-04T09:03:36Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a89e689b-54b3-4f14-9a87-d25e4aa31fc1",
  "activeVersionId": "a89e689b-54b3-4f14-9a87-d25e4aa31fc1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-30T08:57:33.689Z",
      "createdAt": "2026-04-30T08:57:33.689Z",
      "role": "workflow:owner",
      "workflowId": "5EPBDtwr3ciJiQ1x",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-30T09:27:11.000Z",
    "createdAt": "2026-04-30T09:26:53.685Z",
    "versionId": "a89e689b-54b3-4f14-9a87-d25e4aa31fc1",
    "workflowId": "5EPBDtwr3ciJiQ1x",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          544,
          32
        ],
        "id": "9e533f2e-6bbb-4321-9d99-47c9ec14706e",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "hbMxhAHphX3nGLCh",
            "name": "Drive contacta"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "consulta-documentos",
            "mode": "list",
            "cachedResultName": "consulta-documentos"
          },
          "options": {
            "clearNamespace": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          848,
          32
        ],
        "id": "8539622d-2f58-4128-83d9-2848381b7ccd",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "A0qLLArGgwsXMG5V",
            "name": "Pinecone contacta"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "name",
                  "value": "={{ $json.name }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          992,
          224
        ],
        "id": "0bdd8eda-7616-4cbe-ab76-24d64693dafc",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-2-preview"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          816,
          224
        ],
        "id": "ee1d9354-542f-438e-938f-7d1d0543dd36",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "myaWeBiunKMboJJC",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE",
            "mode": "list",
            "cachedResultName": "n8nConsulta tus documentos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          256,
          32
        ],
        "id": "d53923be-6971-4e65-a067-9218f1f0a5f2",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "hbMxhAHphX3nGLCh",
            "name": "Drive contacta"
          }
        }
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Haz Marca Marketing",
    "name": "Version a89e689b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}