workflows/Ingesta de documentos v3.json
{
  "updatedAt": "2026-05-12T08:43:59.289Z",
  "createdAt": "2026-05-11T08:30:18.505Z",
  "id": "jHaT8NMujVTOE67f",
  "name": "Ingesta de documentos v3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "6c1fb327-f588-41fa-aa26-f27046dd10b5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "consulta-documentos",
          "mode": "list",
          "cachedResultName": "consulta-documentos"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        0
      ],
      "id": "472f2ed6-64b9-4d44-ab39-3a499cb8b4b3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "kLCpdWyXGpFxCjiv",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        192
      ],
      "id": "405a3d7b-a6bc-4ccb-8052-9a5fa0c209f6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "9e4f5f46-8066-4707-aa2a-5bcacebd54a7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1IvicPhw881dGd64",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE",
          "mode": "list",
          "cachedResultName": "n8nConsulta tus documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "070c882f-fdcc-47ad-a020-7f39e422f219",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "jWOwPrw3rbQy2Doq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-05-12T08:43:59Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a0e04dbc-f5ca-4ec2-981c-d273a6e9904b",
  "activeVersionId": "a0e04dbc-f5ca-4ec2-981c-d273a6e9904b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:30:18.508Z",
      "createdAt": "2026-05-11T08:30:18.508Z",
      "role": "workflow:owner",
      "workflowId": "jHaT8NMujVTOE67f",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T08:13:07.000Z",
    "createdAt": "2026-05-12T08:12:44.936Z",
    "versionId": "a0e04dbc-f5ca-4ec2-981c-d273a6e9904b",
    "workflowId": "jHaT8NMujVTOE67f",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          288,
          0
        ],
        "id": "6c1fb327-f588-41fa-aa26-f27046dd10b5",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "consulta-documentos",
            "mode": "list",
            "cachedResultName": "consulta-documentos"
          },
          "options": {
            "clearNamespace": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          592,
          0
        ],
        "id": "472f2ed6-64b9-4d44-ab39-3a499cb8b4b3",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "kLCpdWyXGpFxCjiv",
            "name": "Pinecone account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "name",
                  "value": "={{ $json.name }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          736,
          192
        ],
        "id": "405a3d7b-a6bc-4ccb-8052-9a5fa0c209f6",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-2-preview"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          560,
          192
        ],
        "id": "9e4f5f46-8066-4707-aa2a-5bcacebd54a7",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "1IvicPhw881dGd64",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE",
            "mode": "list",
            "cachedResultName": "n8nConsulta tus documentos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1PhK7DN5fKpq7ZO63HccW0DANmpUZiXPE"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "070c882f-fdcc-47ad-a020-7f39e422f219",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version a0e04dbc",
    "description": "",
    "autosaved": true
  },
  "tags": []
}