workflows/Ingesta de documentos.json
{
  "updatedAt": "2026-04-27T09:24:26.244Z",
  "createdAt": "2026-04-08T08:30:01.225Z",
  "id": "wHx8906M0CtTgh7J",
  "name": "Ingesta de documentos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "5df005fd-878c-4efd-8f45-3aaa0f5cafa0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G",
            "mode": "list",
            "cachedResultName": "Carpeta prueba",
            "cachedResultUrl": "https://drive.google.com/drive/folders/171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        32
      ],
      "id": "64d649aa-26c8-4983-b492-b14c2df62fb9",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xEwV6oDIwLKOt53q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        32
      ],
      "id": "bdd236ba-8c92-4998-a74c-2ecf23fb731f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xEwV6oDIwLKOt53q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360",
          "mode": "list",
          "cachedResultName": "va360"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        32
      ],
      "id": "f4b9449b-f9be-4b91-8e0f-dff8bdb169c1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "SmGcTnvsajKgKnYm",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        240
      ],
      "id": "8eac97ad-ccc0-4786-a00d-9f76526acf70",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "edd12b2d-0257-4f79-90cd-8a29b170f6e6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "f3f74754-fdb2-4e5c-97c1-8e228e30b3b3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T08:30:01.232Z",
      "createdAt": "2026-04-08T08:30:01.232Z",
      "role": "workflow:owner",
      "workflowId": "wHx8906M0CtTgh7J",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}