workflows/Ingesta de documentos v2.json
{
  "updatedAt": "2026-04-30T08:51:57.365Z",
  "createdAt": "2026-04-27T08:11:22.192Z",
  "id": "l5V47lvQHAVVqNc4",
  "name": "Ingesta de documentos v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        32
      ],
      "id": "1b074116-0c21-4154-9e5b-34b8a19b66ef",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xEwV6oDIwLKOt53q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360",
          "mode": "list",
          "cachedResultName": "va360"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        32
      ],
      "id": "b504b90c-c1bf-4529-9de4-d929bc7ece40",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "SmGcTnvsajKgKnYm",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        224
      ],
      "id": "7ef5242d-dc10-4b30-a2b5-b7dfbe8199dd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "b0e2f686-7408-481e-887f-220eeb565b6b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G",
          "mode": "list",
          "cachedResultName": "Carpeta prueba",
          "cachedResultUrl": "https://drive.google.com/drive/folders/171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        256,
        32
      ],
      "id": "75ae3214-4520-4adb-9305-ea9fa1cf8a9e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xEwV6oDIwLKOt53q",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-04-30T08:52:03Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5e5fa4a3-21d9-4731-8473-21d656aa18b0",
  "activeVersionId": "5e5fa4a3-21d9-4731-8473-21d656aa18b0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-27T08:11:22.216Z",
      "createdAt": "2026-04-27T08:11:22.216Z",
      "role": "workflow:owner",
      "workflowId": "l5V47lvQHAVVqNc4",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-30T08:52:03.000Z",
    "createdAt": "2026-04-30T08:51:57.367Z",
    "versionId": "5e5fa4a3-21d9-4731-8473-21d656aa18b0",
    "workflowId": "l5V47lvQHAVVqNc4",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          544,
          32
        ],
        "id": "1b074116-0c21-4154-9e5b-34b8a19b66ef",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "xEwV6oDIwLKOt53q",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "va360",
            "mode": "list",
            "cachedResultName": "va360"
          },
          "options": {
            "clearNamespace": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          848,
          32
        ],
        "id": "b504b90c-c1bf-4529-9de4-d929bc7ece40",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "SmGcTnvsajKgKnYm",
            "name": "Pinecone account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "name",
                  "value": "={{ $json.name }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          992,
          224
        ],
        "id": "7ef5242d-dc10-4b30-a2b5-b7dfbe8199dd",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "modelName": "models/gemini-embedding-2-preview"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          816,
          224
        ],
        "id": "b0e2f686-7408-481e-887f-220eeb565b6b",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "myaWeBiunKMboJJC",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G",
            "mode": "list",
            "cachedResultName": "Carpeta prueba",
            "cachedResultUrl": "https://drive.google.com/drive/folders/171xjm4aSJ-5aT6Or_dnz-i4mjQMsjh_G"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          256,
          32
        ],
        "id": "75ae3214-4520-4adb-9305-ea9fa1cf8a9e",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "xEwV6oDIwLKOt53q",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Haz Marca Marketing",
    "name": "Version 5e5fa4a3",
    "description": "",
    "autosaved": true
  },
  "tags": []
}