workflows/Manychat.json
{
  "updatedAt": "2026-05-11T08:46:04.552Z",
  "createdAt": "2026-05-11T08:30:37.211Z",
  "id": "A9hRSIdB1EJdf2Ge",
  "name": "Manychat",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mensajemanychat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1f31af2b-b110-459a-a3ef-eea5da924e3d",
      "name": "mensaje_instagram",
      "webhookId": "b8cee2d9-4a2e-4206-813d-7d6db29401fd"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensaje\": {{ JSON.stringify( $json.output ) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        0
      ],
      "id": "f5648b66-56a7-403c-b3aa-69468cebe9bb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre: {{ $json.body.nombre }} o {{ $json.body.nombre_usuario }}\nMensaje: {{ $json.body.mensaje }}",
        "options": {
          "systemMessage": "Eres el asistente virtual de Valentín Ayesa (Propietario de VA360.pro y VA360.academy) en instagram. Envías mensajes cortos de respuesta al usuario. El usuario te enviará su nombre y un mensaje. \n\nTu objetivo es resolver las posibles dudas que tenga el usuario siendo cercano, sincero y honesto. \nActúa como si fueras Valen y no como si fueras una IA.\n\nTienes acceso a una base de datos de conocimiento donde está toda la información acerca de VA360.academy.\n\nSi el nombre de usuario es algo como \"{{full_name}}\" usa el nombre de usuario.\nLos mensajes deben ser cortos y directos, sin saltos de linea. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "9b2d00eb-e11d-4ae6-968d-c918d17a761b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tienes toda la información sobre las preguntas frecuentes de VA360.academy",
        "pineconeIndex": {
          "__rl": true,
          "value": "va360academy",
          "mode": "list",
          "cachedResultName": "va360academy"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "FAQ-VA360-Academy.pdf"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        240
      ],
      "id": "906cde36-0382-4554-a34f-d67485f48907",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2,
          "topP": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "049c895d-d71d-4f00-9f05-01c761d9998f",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.nombre_usuario }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "bc462d40-02ae-44e9-a72d-b7ab08b367f2",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "mensaje_instagram": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "mensaje_instagram": [
      {
        "json": {
          "headers": {
            "host": "produccion-n8n.879h99.easypanel.host",
            "user-agent": "ManyChat",
            "content-length": "157",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "18.185.83.57",
            "x-forwarded-host": "produccion-n8n.879h99.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c65914a14e5f",
            "x-real-ip": "18.185.83.57",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "nombre": "PERSONALIZADOS.TOP",
            "nombre_usuario": "personaliza_productos",
            "mensaje": "Hola me gustaría tener algo de info sobre los cursos de va360"
          },
          "webhookUrl": "https://produccion-n8n.879h99.easypanel.host/webhook/mensajemanychat",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "6bbf3bac-63b5-4ad7-9d4f-2aa60fc3d243",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:30:37.212Z",
      "createdAt": "2026-05-11T08:30:37.212Z",
      "role": "workflow:owner",
      "workflowId": "A9hRSIdB1EJdf2Ge",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}