workflows/Pasar facturas a FacturaScript.json
{
  "updatedAt": "2026-05-14T11:10:44.413Z",
  "createdAt": "2026-05-14T06:47:14.479Z",
  "id": "IY1kPe7zBgCpcPHv",
  "name": "Pasar facturas a FacturaScript",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p",
          "mode": "list",
          "cachedResultName": "Proveedores",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        160
      ],
      "id": "7d0bc709-8ccb-449b-b04d-efc60e8be249",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        160
      ],
      "id": "63d32c08-7373-47c7-b487-c451d1ea58f6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        160
      ],
      "id": "8cdc78c7-a342-40cb-8a7f-9ecd03f27747",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extrae los datos de la factura adjunta y devuelve este JSON exacto:\n\n=== INICIO FACTURA ===\n{{ $json.text }}\n=== FIN FACTURA ===\n\n{\n  \"tipo\": \"cliente\" | \"proveedor\",\n  \"categoria\": \"hosting_dominios\" | \"software\" | \"servicios_profesionales\" | \"suministros\" | \"material_oficina\" | \"otros\",\n  \"emisor_nombre\": \"...\",\n  \"emisor_nif\": \"...\",\n  \"receptor_nombre\": \"...\",\n  \"receptor_nif\": \"...\",\n  \"numero_factura\": \"...\",\n  \"fecha_emision\": \"YYYY-MM-DD\",\n  \"fecha_vencimiento\": \"YYYY-MM-DD\" | null,\n  \"lineas\": [\n    {\n      \"descripcion\": \"...\",\n      \"cantidad\": 1,\n      \"pvpunitario\": 0.00,\n      \"iva_porcentaje\": 21,\n      \"irpf_porcentaje\": 0\n    }\n  ],\n  \"base_imponible\": 0.00,\n  \"iva_importe\": 0.00,\n  \"irpf_importe\": 0.00,\n  \"total\": 0.00,\n  \"moneda\": \"EUR\",\n  \"intracomunitaria\": false,\n  \"concepto_corto\": \"máximo 60 caracteres resumiendo la factura\",\n  \"confianza\": 95,\n  \"revision_manual\": false,\n  \"motivo_revision\": null\n  \"forma_pago\": \"Stripe\" | \"Transferencia\" | \"Tarjeta\" | \"Efectivo\" | \"Otros\",\n  \"estado_pago\": \"Pagado\" | \"Pendiente\",\n  \"periodo_servicio\": {\n    \"desde\": \"YYYY-MM-DD\",\n    \"hasta\": \"YYYY-MM-DD\"\n  } | null\n}\n\nVALIDACIÓN OBLIGATORIA antes de devolver:\n- Suma de (cantidad × pvpunitario) de todas las líneas debe ser igual a base_imponible (±0.02€ por redondeo)\n- base_imponible + iva_importe - irpf_importe debe ser igual a total\n- Si alguna validación falla → revision_manual: true y explica en motivo_revision\n\nAntes de devolver el JSON, hazte esta pregunta:\n- ¿El NIF B72913460 aparece como EMISOR o como RECEPTOR en la factura?\n- Si es EMISOR → tipo: \"cliente\"\n- Si es RECEPTOR → tipo: \"proveedor\"\n\nSi has marcado \"cliente\" pero el NIF B72913460 está como receptor, CORRIGE antes de devolver.\n\nDevuelve SOLO el JSON.",
        "options": {
          "systemMessage": "Eres un extractor de datos de facturas españolas. Tu única tarea es leer la factura y devolver un JSON válido con los campos solicitados.\n\nREGLAS INNEGOCIABLES:\n1. Devuelve ÚNICAMENTE el JSON. Nada de texto antes o después. Nada de ```json ni explicaciones.\n2. Si un campo no aparece en la factura, devuelve null. NUNCA lo inventes.\n3. Los importes son números decimales con punto (11.70), no strings.\n4. Las fechas en formato ISO: YYYY-MM-DD.\n5. NIF/CIF sin espacios, en mayúsculas.\n6. Si tienes dudas en algún campo, bájate la confianza y marca revision_manual: true.\n\nDETERMINACIÓN DEL TIPO — REGLA ABSOLUTA:\n\nTu empresa (la empresa para la que trabajas) es:\n- Nombre: Haz Marca Marketing Digital, S.L.U.\n- NIF: B72913460\n- Alias aceptados: \"Haz Marca\", \"HAZ MARCA\", \"Haz Marca Marketing Digital\", \"HAZ MARCA MARKETING DIGITAL\"\n\nIGNORA las etiquetas del documento como \"Cliente:\", \"Receptor:\", \"Facturar a:\", \"Destinatario:\". NO te bases en esas palabras para clasificar. Esas etiquetas describen el rol en ESA factura, no el rol fiscal respecto a TU empresa.\n\nSigue ESTOS pasos exactos en este orden:\n\nPASO 1: Identifica quién EMITE la factura (quien la firma, quien tiene los datos fiscales en cabecera, quien cobra).\nPASO 2: Identifica quién RECIBE la factura (a quién se le factura, quién paga).\nPASO 3: Compara los NIFs con B72913460 (tu empresa). El NIF es la única fuente fiable.\n\n- Si el NIF del EMISOR = B72913460 → tipo: \"cliente\" (tú facturas a otro)\n- Si el NIF del RECEPTOR = B72913460 → tipo: \"proveedor\" (otro te factura a ti)\n- Si ningún NIF coincide → tipo: null, revision_manual: true\n\nEsta regla es INNEGOCIABLE. No te dejes guiar por las palabras del documento, solo por los NIFs.\nLÍNEAS:\nExtrae TODAS las líneas de la factura, no solo un resumen. Cada concepto facturado es una línea independiente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        160
      ],
      "id": "7c4ca01f-bbf6-43ff-9ca0-f1ea94ed1c61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {
          "temperature": 0,
          "topP": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        496
      ],
      "id": "2d73344d-f7c6-45c6-8709-5fedf615b05d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "WmMNHiHPh4aQe9KT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst data = JSON.parse(raw);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ],
      "id": "0e1e6211-2983-4297-b05a-9d19671018a1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "proveedor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8642704b-8558-4027-aefb-8985e6a63f06"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "proveedor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6569f749-0b23-4868-b4c1-11549b108948",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "cliente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cliente"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        160
      ],
      "id": "0dfd1bc6-bfd0-4f29-9253-9b26301c3abd",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://hazmarca.marketing/slu/api/3/proveedores?filter[cifnif]={{ $json.emisor_nif }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -160
      ],
      "id": "e4d42636-3d94-454b-b1f8-e1b3575122b8",
      "name": "HTTPProveedores",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e60908e-52cf-4283-97cb-47ef666e6755",
              "leftValue": "={{ $json.codproveedor }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -160
      ],
      "id": "7394180d-8f9c-4253-901a-3e572fc2fae4",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hazmarca.marketing/slu/api/3/proveedores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre",
              "value": "={{ $('Switch').item.json.emisor_nombre }}"
            },
            {
              "name": "cifnif",
              "value": "={{ $('Switch').item.json.emisor_nif }}"
            },
            {
              "name": "razonsocial",
              "value": "={{ $('Switch').item.json.emisor_nombre }}"
            },
            {
              "name": "personafisica",
              "value": "false"
            },
            {
              "name": "tipoidfiscal",
              "value": "CIF"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 50 }}"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        -64
      ],
      "id": "d6830d5c-4633-4843-bf3a-6d4bfc8caf4d",
      "name": "HTTPProveedores1",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b590cec7-ed3e-4dff-b503-5a306699843d",
              "name": "codproveedor",
              "value": "={{ $json.codproveedor }}",
              "type": "string"
            },
            {
              "id": "2f1cef02-480f-421c-8150-1b128aff2c30",
              "name": "emisor_nif",
              "value": "={{ $('Switch').item.json.emisor_nif }}",
              "type": "string"
            },
            {
              "id": "919a66b3-db18-4fb4-9f0e-1b0e0c5b8abb",
              "name": "fecha_emision",
              "value": "={{ $('Switch').item.json.fecha_emision }}",
              "type": "string"
            },
            {
              "id": "b461c674-d627-4ffb-bf13-0877ad45e4eb",
              "name": "numero_factura",
              "value": "={{ $('Switch').item.json.numero_factura }}",
              "type": "string"
            },
            {
              "id": "d144853d-712e-45ee-ac20-8c03898a5f89",
              "name": "lineas",
              "value": "={{ $('Switch').item.json.lineas }}",
              "type": "array"
            },
            {
              "id": "68c7b4be-7493-4078-9e20-d76e1ca7ef6f",
              "name": "concepto_corto",
              "value": "={{ $('Switch').item.json.concepto_corto }}",
              "type": "string"
            },
            {
              "id": "8869f2e0-d65e-474b-9bd0-98eba72627f2",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -176
      ],
      "id": "ab6fd4a9-fb00-4a4d-b307-be2bc957623c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hazmarca.marketing/slu/api/3/albaranproveedores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "codproveedor",
              "value": "={{ $json.codproveedor }}"
            },
            {
              "name": "fecha",
              "value": "={{ $json.fecha_emision }}"
            },
            {
              "name": "numproveedor",
              "value": "={{ $json.numero_factura }}"
            },
            {
              "name": "observaciones",
              "value": "={{ $json.concepto_corto }}"
            },
            {
              "name": "codalmacen",
              "value": "ALG"
            },
            {
              "name": "codserie",
              "value": "A"
            },
            {
              "name": "cifnif",
              "value": "={{ $json.emisor_nif }}"
            },
            {
              "name": "nombre",
              "value": "={{ $json.nombre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        -176
      ],
      "id": "b7faf74d-7e7c-4488-b07d-813ff7d8a985",
      "name": "HTTPAlbaran",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "lineas",
        "include": "selectedOtherFields",
        "fieldsToInclude": "idalbaran",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2800,
        -176
      ],
      "id": "87438cfe-bddc-4552-aa2c-fbf7df1cea48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca0ac8ee-6ec1-4348-94ce-e4197f1d11ab",
              "name": "idalbaran",
              "value": "={{ $json.data.idalbaran }}",
              "type": "string"
            },
            {
              "id": "161ab173-b000-43d4-ad34-2ef898781237",
              "name": "lineas",
              "value": "={{ $('Edit Fields').item.json.lineas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -176
      ],
      "id": "83169866-91bf-4353-8768-5a32f46015cb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hazmarca.marketing/slu/api/3/lineaalbaranproveedores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "idalbaran",
              "value": "={{ $json.idalbaran }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $json.lineas.descripcion }}"
            },
            {
              "name": "cantidad",
              "value": "={{ $json.lineas.cantidad }}"
            },
            {
              "name": "codserie",
              "value": "A"
            },
            {
              "name": "pvpunitario",
              "value": "={{ $json.lineas.pvpunitario }}"
            },
            {
              "name": "codimpuesto",
              "value": "=IVA{{ $json.lineas.iva_porcentaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3008,
        -176
      ],
      "id": "06c2fe7e-0e84-497d-8656-81e0889cd125",
      "name": "HTTPLinealAlbaran",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cf31a4be-9102-48d9-b945-f06640aff37e",
              "leftValue": "={{ $json.revision_manual }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "9598cc36-7377-40e4-9a78-b22a2044c912",
              "leftValue": "={{ $json.confianza }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        160
      ],
      "id": "32ae6326-3059-4340-8680-871733900bb0",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "= {{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        -16
      ],
      "id": "53319cef-3fb0-4738-b598-cb3d29b49316",
      "name": "Mover a Revisión",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1NeXfO-tA02WtZ4m89HqzGG3WIjDoPrLo"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3584,
        560
      ],
      "id": "222a21a6-1bae-4233-9e5b-c5ec00a96bbf",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kjAHWBgsL4LvNzuN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        160
      ],
      "id": "304009bf-6ff8-4c27-bd35-2c3dc817b18b",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTPProveedores",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Mover a Revisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPProveedores": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTPProveedores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPProveedores1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTPAlbaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPAlbaran": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTPLinealAlbaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Mover a Revisión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPLinealAlbaran": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-05-14T13:32:16Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "kind": "drive#file",
          "fileExtension": "pdf",
          "copyRequiresWriterPermission": false,
          "md5Checksum": "0d62c13c817d1eb8fa8b1ae542457f06",
          "writersCanShare": true,
          "viewedByMe": true,
          "mimeType": "application/pdf",
          "parents": [
            "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNftI3Hivqsg_vLwhAGlHW1UNfUHLCjIuXFKoEKi2l0pYgPn9tyzvRe8HLjbeEDnshR4pi5bPlVfchM0MYaLIdD_Y8y3Ti2Yaasf3LRY78TCmTI=s220",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "shared": false,
          "lastModifyingUser": {
            "displayName": "Haz Marca Marketing Digital",
            "kind": "drive#user",
            "me": true,
            "permissionId": "06900128082479018489",
            "emailAddress": "contacta@hazmarca.es",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUZeAM31PITmwZuOiHD-tfwDNI4eKDsdAHFlo6e4lxjMtfBaoxpPczUMVGdUcR4pSr4RkE_lptNTN1kzBG8vyxDNYSKi5_2RKMUgYTkUo-eej9Vb5Za4O6scSrDtCePKrZDG9-74cIKP4fw7b14gWbqgurwKMpXGhdb2WrzMBhzKmz2MUa38s2aOXsg_iEfyE6qllneXk_9KIRzCKeBKNB_GnytleLH-VR-DsNGW5--0ZKQovs1gahHhe8TO-k7maNzRLoXsqP_eItKZyROCKx0nslntQIGqtf8QlqTkJBxW7_B55cIWOEUDQtZxwgjc2JiT7bHm9NwuohGhxPe7W1idNUGhxIG0E9V0UDyNS4IilLhrlMqVT51VvfNHyH70iyufEqB1ZqoMDrsXIclPKvFuJHm0jA6H4Bk0WoKpQBPMfgWRAN5E41XxZ0h6GSVi8ihyKvnfblLqP_oy-B6qISb_KTAzwXerq6VFMnCZiUfe8ifKK9cNc0E6u9aitul1dp5CBJBh6BY5o6bDDrV4-xu9fxG1VzfrrwW2flfDp2HmvJqHf6NLyEI_m5xEW1VEgSu3RCuMOj7lANw3_Ww_hsYiMv1XWOAMbWHY0gB4JpFL_wMYHf1nLismgzvQuTL_RPsXAjjlw8hsCFRNr_1jGcktJ_mKcketmA_x6tHToj6fWOcGKs3KYx1kWmOSy_wbmIlUaRf5EwMTVK3rwkocT61zxzPvBgF_zlW79oTaMql_jHZ9pcFHxtDGFenux1uMaDk1olLYfdqGOoL-TjqNbwqx17fRkt-rsLTtmKG0T_VoKkKxFNvo_psA3vY6Jbo5BeBmae8N5THyM9f_dV3lqQdNR1stziEPvpMJONOmQeC5TuWQ-Mg24N5O22aZhCOHqWkvYFcPn8jFANcWxnvwbHW_rOEYQety3xEtJ5CE7yqj5-ekH8lUNNOHiLSwpgqLrrhRiA80LhA7_ZocdhvTpOzwiIOGJMMH4OyrvEPpYT49rhd8-KxHX3lCKNV8bcfRnZnyZsLwKtGpaOn4ZL6xj6Co3jmeOYtxeF_DPG1kM6BLbeVhlIY-A=s64"
          },
          "owners": [
            {
              "displayName": "Haz Marca Marketing Digital",
              "kind": "drive#user",
              "me": true,
              "permissionId": "06900128082479018489",
              "emailAddress": "contacta@hazmarca.es",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUZeAM31PITmwZuOiHD-tfwDNI4eKDsdAHFlo6e4lxjMtfBaoxpPczUMVGdUcR4pSr4RkE_lptNTN1kzBG8vyxDNYSKi5_2RKMUgYTkUo-eej9Vb5Za4O6scSrDtCePKrZDG9-74cIKP4fw7b14gWbqgurwKMpXGhdb2WrzMBhzKmz2MUa38s2aOXsg_iEfyE6qllneXk_9KIRzCKeBKNB_GnytleLH-VR-DsNGW5--0ZKQovs1gahHhe8TO-k7maNzRLoXsqP_eItKZyROCKx0nslntQIGqtf8QlqTkJBxW7_B55cIWOEUDQtZxwgjc2JiT7bHm9NwuohGhxPe7W1idNUGhxIG0E9V0UDyNS4IilLhrlMqVT51VvfNHyH70iyufEqB1ZqoMDrsXIclPKvFuJHm0jA6H4Bk0WoKpQBPMfgWRAN5E41XxZ0h6GSVi8ihyKvnfblLqP_oy-B6qISb_KTAzwXerq6VFMnCZiUfe8ifKK9cNc0E6u9aitul1dp5CBJBh6BY5o6bDDrV4-xu9fxG1VzfrrwW2flfDp2HmvJqHf6NLyEI_m5xEW1VEgSu3RCuMOj7lANw3_Ww_hsYiMv1XWOAMbWHY0gB4JpFL_wMYHf1nLismgzvQuTL_RPsXAjjlw8hsCFRNr_1jGcktJ_mKcketmA_x6tHToj6fWOcGKs3KYx1kWmOSy_wbmIlUaRf5EwMTVK3rwkocT61zxzPvBgF_zlW79oTaMql_jHZ9pcFHxtDGFenux1uMaDk1olLYfdqGOoL-TjqNbwqx17fRkt-rsLTtmKG0T_VoKkKxFNvo_psA3vY6Jbo5BeBmae8N5THyM9f_dV3lqQdNR1stziEPvpMJONOmQeC5TuWQ-Mg24N5O22aZhCOHqWkvYFcPn8jFANcWxnvwbHW_rOEYQety3xEtJ5CE7yqj5-ekH8lUNNOHiLSwpgqLrrhRiA80LhA7_ZocdhvTpOzwiIOGJMMH4OyrvEPpYT49rhd8-KxHX3lCKNV8bcfRnZnyZsLwKtGpaOn4ZL6xj6Co3jmeOYtxeF_DPG1kM6BLbeVhlIY-A=s64"
            }
          ],
          "headRevisionId": "0B1N6dk2RVTInVnJ1SFVOZWhLempWVGNoeHJaUWxna1Z2akhrPQ",
          "webViewLink": "https://drive.google.com/file/d/1rTtUd6kEkw8L2qhixGJKHIldbGdoyuSd/view?usp=drivesdk",
          "webContentLink": "https://drive.google.com/uc?id=1rTtUd6kEkw8L2qhixGJKHIldbGdoyuSd&export=download",
          "size": "49165",
          "viewersCanCopyContent": true,
          "permissions": [
            {
              "id": "06900128082479018489",
              "displayName": "Haz Marca Marketing Digital",
              "type": "user",
              "kind": "drive#permission",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVLou2a9gVWOf8vLjSqMmPJM_snDIK2V1oivPe0jGoCbmVksNor1ovhZLnbwRzA-YjqL1fMKCUEZ-VBZywOapbTjlnx7SEW__nPy1Nd7dYdlH9b3B_LHdgyDLADuOg-TEUA5JuIJbTffyHBVDkfr7hJDivHlwi8h63NTW3QQpfAV-iVH1SWv5iEx8-aqmhGge7UBbyKcNld2p5wJ-vgNATC8myp8ynOTW9nI2Nw_M6tLTWGQsWe33jJc47k4A8bHEZ-MsB-aYfwEPzJZdkQjVnllUPtc1Bq0cIRzmCvufnJh44qDGufijiO-FqR5VubaM2Zj9-qw9alhoq1HV9ijqdEl0dyR-syn5nQYuZef3yZzphIX-kxM7u5NNtkLDXyUIiUkdsfr3wdqpyYPCFigbXpwOnixi0UUg9HQdC5FTHNTK5xPg93uDBl9TxBnG02-p_32L7U25pF4sqqpWZYzdMWxQ_7VUzgzQZv63z7MDYixAmZ-qDanDTKmSE8JOHywoDVJs2F-kR0go44p8959woGq_pQ2hNme3aEdj5IL_dd2GvZMdxnEuuxH6NUom36Ei0gj_fgcj5_DGnY7RxhCmuW_NLFJoVGNwTBpjTWyMmgqnNb4RI7Y_N_0XHy62U3FiFWVs6FVQYvrY391jG83m2gopVSPSP3RZ6K4lR6TjVpbCRX4OxEl2SIyn8YqMPXIIVGhvmGpgVKVIlEK79D09o03BsZcYwor0G3NBwpq1Na9TF797FBO1XygqW1ZLveEbEVmz6hvxnZwgUlRVArq6ZwklDc2MuD6BMc6X3Kwj3P7tNTVJq9yGzpfz9BdbjieVptpLCDi1fOE6EMzfdIajCSz0loZ045U6xptycYLMglbsvVyCkuUh1H1JYO5sU50Me5Rl7BwuS8iYndXZaxSB-1MjJquTYvkU7gM1S_irrJxWT1-mHXuWZBVhKlAoTQKwSi1yR5ZO49WaRtSJ4FXKgoh3KcmnnMOSiWvCf8h1vgsO-slM5gVHlD2e_hWImUwJ8BiQsg8JO1RPwUAb9U7xo4i_a0pH9xd4TKtdyL5DXJdhZjrafEcg=s64",
              "emailAddress": "contacta@hazmarca.es",
              "role": "owner",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "hasThumbnail": true,
          "spaces": [
            "drive"
          ],
          "id": "1rTtUd6kEkw8L2qhixGJKHIldbGdoyuSd",
          "name": "2026-05-03_FacturaCity-SL_FAC0026A1543_134.95€11111111.pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "createdTime": "2026-05-14T10:53:54.474Z",
          "modifiedTime": "2026-05-14T07:52:24.000Z",
          "modifiedByMeTime": "2026-05-14T07:52:24.000Z",
          "viewedByMeTime": "2026-05-14T10:53:54.474Z",
          "quotaBytesUsed": "49165",
          "version": "3",
          "originalFilename": "2026-05-03_FacturaCity-SL_FAC0026A1543_134.95€11111111.pdf",
          "ownedByMe": true,
          "fullFileExtension": "pdf",
          "isAppAuthorized": false,
          "capabilities": {
            "canChangeViewersCanCopyContent": true,
            "canEdit": true,
            "canCopy": true,
            "canComment": true,
            "canAddChildren": false,
            "canDelete": true,
            "canDownload": true,
            "canListChildren": false,
            "canRemoveChildren": false,
            "canRename": true,
            "canTrash": true,
            "canReadRevisions": true,
            "canChangeCopyRequiresWriterPermission": true,
            "canMoveItemIntoTeamDrive": true,
            "canUntrash": true,
            "canModifyContent": true,
            "canMoveItemOutOfDrive": true,
            "canAddMyDriveParent": false,
            "canRemoveMyDriveParent": true,
            "canMoveItemWithinDrive": true,
            "canShare": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canAcceptOwnership": false,
            "canReadLabels": false,
            "canModifyLabels": false,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canRemoveContentRestriction": false,
            "canDisableInheritedPermissions": false,
            "canEnableInheritedPermissions": true,
            "canChangeItemDownloadRestriction": true,
            "canStartApproval": true
          },
          "thumbnailVersion": "1",
          "modifiedByMe": true,
          "permissionIds": [
            "06900128082479018489"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "sha1Checksum": "e64f88feb4015a747ea55cf8067e82358e3701ac",
          "sha256Checksum": "6517aca6cd960a61fbcca5697f3253f70841692300a6d51ded62e9ebbfcdc576",
          "inheritedPermissionsDisabled": false,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "clientEncryptionDetails": {
            "decryptionMetadata": {
              "wrappedKey": "",
              "kaclsId": "0",
              "aes256GcmChunkSize": "unset",
              "keyFormat": "unsetKeyFormat",
              "encryptionResourceKeyHash": ""
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "kind": "drive#file",
          "fileExtension": "pdf",
          "copyRequiresWriterPermission": false,
          "md5Checksum": "5a229c7503e33e6e8e48212e262b0446",
          "writersCanShare": true,
          "viewedByMe": true,
          "mimeType": "application/pdf",
          "parents": [
            "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOtlFtHhdph3a3OFPRw-NGognCwJMF_olqbq3mCUW532WLzT3vCmdNWflPtxUVAcsYpBIwc4EVzGY09fsFIA_OpYcJrYkEkJ6ly8cJcwPQoCX0S=s220",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "shared": false,
          "lastModifyingUser": {
            "displayName": "Haz Marca Marketing Digital",
            "kind": "drive#user",
            "me": true,
            "permissionId": "06900128082479018489",
            "emailAddress": "contacta@hazmarca.es",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUZeAM31PITmwZuOiHD-tfwDNI4eKDsdAHFlo6e4lxjMtfBaoxpPczUMVGdUcR4pSr4RkE_lptNTN1kzBG8vyxDNYSKi5_2RKMUgYTkUo-eej9Vb5Za4O6scSrDtCePKrZDG9-74cIKP4fw7b14gWbqgurwKMpXGhdb2WrzMBhzKmz2MUa38s2aOXsg_iEfyE6qllneXk_9KIRzCKeBKNB_GnytleLH-VR-DsNGW5--0ZKQovs1gahHhe8TO-k7maNzRLoXsqP_eItKZyROCKx0nslntQIGqtf8QlqTkJBxW7_B55cIWOEUDQtZxwgjc2JiT7bHm9NwuohGhxPe7W1idNUGhxIG0E9V0UDyNS4IilLhrlMqVT51VvfNHyH70iyufEqB1ZqoMDrsXIclPKvFuJHm0jA6H4Bk0WoKpQBPMfgWRAN5E41XxZ0h6GSVi8ihyKvnfblLqP_oy-B6qISb_KTAzwXerq6VFMnCZiUfe8ifKK9cNc0E6u9aitul1dp5CBJBh6BY5o6bDDrV4-xu9fxG1VzfrrwW2flfDp2HmvJqHf6NLyEI_m5xEW1VEgSu3RCuMOj7lANw3_Ww_hsYiMv1XWOAMbWHY0gB4JpFL_wMYHf1nLismgzvQuTL_RPsXAjjlw8hsCFRNr_1jGcktJ_mKcketmA_x6tHToj6fWOcGKs3KYx1kWmOSy_wbmIlUaRf5EwMTVK3rwkocT61zxzPvBgF_zlW79oTaMql_jHZ9pcFHxtDGFenux1uMaDk1olLYfdqGOoL-TjqNbwqx17fRkt-rsLTtmKG0T_VoKkKxFNvo_psA3vY6Jbo5BeBmae8N5THyM9f_dV3lqQdNR1stziEPvpMJONOmQeC5TuWQ-Mg24N5O22aZhCOHqWkvYFcPn8jFANcWxnvwbHW_rOEYQety3xEtJ5CE7yqj5-ekH8lUNNOHiLSwpgqLrrhRiA80LhA7_ZocdhvTpOzwiIOGJMMH4OyrvEPpYT49rhd8-KxHX3lCKNV8bcfRnZnyZsLwKtGpaOn4ZL6xj6Co3jmeOYtxeF_DPG1kM6BLbeVhlIY-A=s64"
          },
          "owners": [
            {
              "displayName": "Haz Marca Marketing Digital",
              "kind": "drive#user",
              "me": true,
              "permissionId": "06900128082479018489",
              "emailAddress": "contacta@hazmarca.es",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUZeAM31PITmwZuOiHD-tfwDNI4eKDsdAHFlo6e4lxjMtfBaoxpPczUMVGdUcR4pSr4RkE_lptNTN1kzBG8vyxDNYSKi5_2RKMUgYTkUo-eej9Vb5Za4O6scSrDtCePKrZDG9-74cIKP4fw7b14gWbqgurwKMpXGhdb2WrzMBhzKmz2MUa38s2aOXsg_iEfyE6qllneXk_9KIRzCKeBKNB_GnytleLH-VR-DsNGW5--0ZKQovs1gahHhe8TO-k7maNzRLoXsqP_eItKZyROCKx0nslntQIGqtf8QlqTkJBxW7_B55cIWOEUDQtZxwgjc2JiT7bHm9NwuohGhxPe7W1idNUGhxIG0E9V0UDyNS4IilLhrlMqVT51VvfNHyH70iyufEqB1ZqoMDrsXIclPKvFuJHm0jA6H4Bk0WoKpQBPMfgWRAN5E41XxZ0h6GSVi8ihyKvnfblLqP_oy-B6qISb_KTAzwXerq6VFMnCZiUfe8ifKK9cNc0E6u9aitul1dp5CBJBh6BY5o6bDDrV4-xu9fxG1VzfrrwW2flfDp2HmvJqHf6NLyEI_m5xEW1VEgSu3RCuMOj7lANw3_Ww_hsYiMv1XWOAMbWHY0gB4JpFL_wMYHf1nLismgzvQuTL_RPsXAjjlw8hsCFRNr_1jGcktJ_mKcketmA_x6tHToj6fWOcGKs3KYx1kWmOSy_wbmIlUaRf5EwMTVK3rwkocT61zxzPvBgF_zlW79oTaMql_jHZ9pcFHxtDGFenux1uMaDk1olLYfdqGOoL-TjqNbwqx17fRkt-rsLTtmKG0T_VoKkKxFNvo_psA3vY6Jbo5BeBmae8N5THyM9f_dV3lqQdNR1stziEPvpMJONOmQeC5TuWQ-Mg24N5O22aZhCOHqWkvYFcPn8jFANcWxnvwbHW_rOEYQety3xEtJ5CE7yqj5-ekH8lUNNOHiLSwpgqLrrhRiA80LhA7_ZocdhvTpOzwiIOGJMMH4OyrvEPpYT49rhd8-KxHX3lCKNV8bcfRnZnyZsLwKtGpaOn4ZL6xj6Co3jmeOYtxeF_DPG1kM6BLbeVhlIY-A=s64"
            }
          ],
          "headRevisionId": "0B1N6dk2RVTInNlRubHRQVVNGUzZSOEg0RWE2clU0RW5iM2ZzPQ",
          "webViewLink": "https://drive.google.com/file/d/1s71fEbr-iDyUlBvF_P-Nzc20u7WpYRBD/view?usp=drivesdk",
          "webContentLink": "https://drive.google.com/uc?id=1s71fEbr-iDyUlBvF_P-Nzc20u7WpYRBD&export=download",
          "size": "97312",
          "viewersCanCopyContent": true,
          "permissions": [
            {
              "id": "06900128082479018489",
              "displayName": "Haz Marca Marketing Digital",
              "type": "user",
              "kind": "drive#permission",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWRwzdedhtLP-eh_PmCLilWUcA2A8-Rp8lc-5IJcL4W9tU_3voDqkX0plkJUqrh9yiPhJ1uTYwYDcYtPsCm8TVY8_oW__juE2NxKFOTSDJvWZbRkpli4QvXVJSlmt_8Ubw1uEQdatBRxMmdrN1wD3Fmb44a-K6zo_DrtsRxiiwCNSnjK9KJyrxeuOs_dpBac_j8mTXpUuYSblJlhGyV0eFBWZEUEd-JdWlvKQn_G_vuJlmxrGM09VqPf6IRQhQCtdoP4A5YiE2PMfQVqMHKA-TdpyIJzC2-k476qJ1WGbm51hTFn098Xj4odJGbtZJ7v3Bn6IIf-3Q6J78wOFH6q1wZlowE3iStEq4kbNkiEsPQIZbtmzO84p2IJ7_BLPy1tWE0ZmqBis_bdclTFNAC3bxr2L_Im029sy3g4LuCZpCZYyoz1H_R7mAZkG4lR33MnOniyMDedhAOXMyhG8jLeh_iFTuuRepvCj9xjY7kMoPAfJV8aVDMxEYlb0WnUpCPy1TLSo2dMRIJs0_K7EtnbtajVPMu8_epHDgx4HQeRdmQU_QaXSEFSKKXRglP8NELrTP4h92sCm1r4ZqimFX6A30gXyuz3bEWQxenhAOr11Wu_zfPpIVRVrWc-6va8mj4l1JVJNsoqC48EZxGRgyp-uG9iZFP9o81M9m_uFSpr2KpL9X4ra3xqAnr3Y1tyGzze956J_Aa1EvC-6up-cob_Z3h4iILtjCcJPwknEDjx1CBSfRZR5nu5k3ABDuGXeikc_yxAWHbMrseuM4yDaJ02PmWM53NdATUBtP0naKs9YWJ1sCPDzZgBHN3gjW8xLkePGUJ2xcia7Q4yIKZbgP_YIrkiCzSLgV_msNUneSL3H9HzU6tw6LgFWOVE3KbL4oLD5rJiPqn6ibB1DUuE2RVfxpi3zvS4TPmLybsboVUo9W-GLN8GLkiM_dxybwR9H9rea-dXudCdbQY_AD02i0shUr-PaoLrseu8990jTnAoFShwscZyQOPLNBJAKrnSf5A5t280TaGVQp1W7AeD2uN34Un_zA2bjnrh3wrlPePrm64UqkZRVVU3A=s64",
              "emailAddress": "contacta@hazmarca.es",
              "role": "owner",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "hasThumbnail": true,
          "spaces": [
            "drive"
          ],
          "id": "1s71fEbr-iDyUlBvF_P-Nzc20u7WpYRBD",
          "name": "2026-05-05_Soluciones-Web-On-Line-SLU_S-20807_8.02€111111 (1).pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "createdTime": "2026-05-14T10:53:54.577Z",
          "modifiedTime": "2026-05-14T07:00:46.000Z",
          "modifiedByMeTime": "2026-05-14T07:00:46.000Z",
          "viewedByMeTime": "2026-05-14T10:53:54.577Z",
          "quotaBytesUsed": "97312",
          "version": "3",
          "originalFilename": "2026-05-05_Soluciones-Web-On-Line-SLU_S-20807_8.02€111111 (1).pdf",
          "ownedByMe": true,
          "fullFileExtension": "pdf",
          "isAppAuthorized": false,
          "capabilities": {
            "canChangeViewersCanCopyContent": true,
            "canEdit": true,
            "canCopy": true,
            "canComment": true,
            "canAddChildren": false,
            "canDelete": true,
            "canDownload": true,
            "canListChildren": false,
            "canRemoveChildren": false,
            "canRename": true,
            "canTrash": true,
            "canReadRevisions": true,
            "canChangeCopyRequiresWriterPermission": true,
            "canMoveItemIntoTeamDrive": true,
            "canUntrash": true,
            "canModifyContent": true,
            "canMoveItemOutOfDrive": true,
            "canAddMyDriveParent": false,
            "canRemoveMyDriveParent": true,
            "canMoveItemWithinDrive": true,
            "canShare": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canAcceptOwnership": false,
            "canReadLabels": false,
            "canModifyLabels": false,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canRemoveContentRestriction": false,
            "canDisableInheritedPermissions": false,
            "canEnableInheritedPermissions": true,
            "canChangeItemDownloadRestriction": true,
            "canStartApproval": true
          },
          "thumbnailVersion": "1",
          "modifiedByMe": true,
          "permissionIds": [
            "06900128082479018489"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "sha1Checksum": "93dfaa2438837845cb61ef4927e6863cb97edcda",
          "sha256Checksum": "5a8db7ad37ee06fe1f8bf9a1875c8968f130bbf78fe2410470f9e858dcf9a575",
          "inheritedPermissionsDisabled": false,
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "clientEncryptionDetails": {
            "decryptionMetadata": {
              "wrappedKey": "",
              "kaclsId": "0",
              "aes256GcmChunkSize": "unset",
              "keyFormat": "unsetKeyFormat",
              "encryptionResourceKeyHash": ""
            }
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "versionId": "26c4e789-c4b0-46fa-8d84-2363f36a552d",
  "activeVersionId": "4a7f16bf-a336-4da8-8aad-df402ff95a46",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-14T06:47:14.484Z",
      "createdAt": "2026-05-14T06:47:14.484Z",
      "role": "workflow:owner",
      "workflowId": "IY1kPe7zBgCpcPHv",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-14T11:10:36.000Z",
    "createdAt": "2026-05-14T11:10:32.697Z",
    "versionId": "4a7f16bf-a336-4da8-8aad-df402ff95a46",
    "workflowId": "IY1kPe7zBgCpcPHv",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p",
            "mode": "list",
            "cachedResultName": "Proveedores",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -848,
          160
        ],
        "id": "7d0bc709-8ccb-449b-b04d-efc60e8be249",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -640,
          160
        ],
        "id": "63d32c08-7373-47c7-b487-c451d1ea58f6",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -176,
          160
        ],
        "id": "8cdc78c7-a342-40cb-8a7f-9ecd03f27747",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Extrae los datos de la factura adjunta y devuelve este JSON exacto:\n\n=== INICIO FACTURA ===\n{{ $json.text }}\n=== FIN FACTURA ===\n\n{\n  \"tipo\": \"cliente\" | \"proveedor\",\n  \"categoria\": \"hosting_dominios\" | \"software\" | \"servicios_profesionales\" | \"suministros\" | \"material_oficina\" | \"otros\",\n  \"emisor_nombre\": \"...\",\n  \"emisor_nif\": \"...\",\n  \"receptor_nombre\": \"...\",\n  \"receptor_nif\": \"...\",\n  \"numero_factura\": \"...\",\n  \"fecha_emision\": \"YYYY-MM-DD\",\n  \"fecha_vencimiento\": \"YYYY-MM-DD\" | null,\n  \"lineas\": [\n    {\n      \"descripcion\": \"...\",\n      \"cantidad\": 1,\n      \"pvpunitario\": 0.00,\n      \"iva_porcentaje\": 21,\n      \"irpf_porcentaje\": 0\n    }\n  ],\n  \"base_imponible\": 0.00,\n  \"iva_importe\": 0.00,\n  \"irpf_importe\": 0.00,\n  \"total\": 0.00,\n  \"moneda\": \"EUR\",\n  \"intracomunitaria\": false,\n  \"concepto_corto\": \"máximo 60 caracteres resumiendo la factura\",\n  \"confianza\": 95,\n  \"revision_manual\": false,\n  \"motivo_revision\": null\n  \"forma_pago\": \"Stripe\" | \"Transferencia\" | \"Tarjeta\" | \"Efectivo\" | \"Otros\",\n  \"estado_pago\": \"Pagado\" | \"Pendiente\",\n  \"periodo_servicio\": {\n    \"desde\": \"YYYY-MM-DD\",\n    \"hasta\": \"YYYY-MM-DD\"\n  } | null\n}\n\nVALIDACIÓN OBLIGATORIA antes de devolver:\n- Suma de (cantidad × pvpunitario) de todas las líneas debe ser igual a base_imponible (±0.02€ por redondeo)\n- base_imponible + iva_importe - irpf_importe debe ser igual a total\n- Si alguna validación falla → revision_manual: true y explica en motivo_revision\n\nAntes de devolver el JSON, hazte esta pregunta:\n- ¿El NIF B72913460 aparece como EMISOR o como RECEPTOR en la factura?\n- Si es EMISOR → tipo: \"cliente\"\n- Si es RECEPTOR → tipo: \"proveedor\"\n\nSi has marcado \"cliente\" pero el NIF B72913460 está como receptor, CORRIGE antes de devolver.\n\nDevuelve SOLO el JSON.",
          "options": {
            "systemMessage": "Eres un extractor de datos de facturas españolas. Tu única tarea es leer la factura y devolver un JSON válido con los campos solicitados.\n\nREGLAS INNEGOCIABLES:\n1. Devuelve ÚNICAMENTE el JSON. Nada de texto antes o después. Nada de ```json ni explicaciones.\n2. Si un campo no aparece en la factura, devuelve null. NUNCA lo inventes.\n3. Los importes son números decimales con punto (11.70), no strings.\n4. Las fechas en formato ISO: YYYY-MM-DD.\n5. NIF/CIF sin espacios, en mayúsculas.\n6. Si tienes dudas en algún campo, bájate la confianza y marca revision_manual: true.\n\nDETERMINACIÓN DEL TIPO — REGLA ABSOLUTA:\n\nTu empresa (la empresa para la que trabajas) es:\n- Nombre: Haz Marca Marketing Digital, S.L.U.\n- NIF: B72913460\n- Alias aceptados: \"Haz Marca\", \"HAZ MARCA\", \"Haz Marca Marketing Digital\", \"HAZ MARCA MARKETING DIGITAL\"\n\nIGNORA las etiquetas del documento como \"Cliente:\", \"Receptor:\", \"Facturar a:\", \"Destinatario:\". NO te bases en esas palabras para clasificar. Esas etiquetas describen el rol en ESA factura, no el rol fiscal respecto a TU empresa.\n\nSigue ESTOS pasos exactos en este orden:\n\nPASO 1: Identifica quién EMITE la factura (quien la firma, quien tiene los datos fiscales en cabecera, quien cobra).\nPASO 2: Identifica quién RECIBE la factura (a quién se le factura, quién paga).\nPASO 3: Compara los NIFs con B72913460 (tu empresa). El NIF es la única fuente fiable.\n\n- Si el NIF del EMISOR = B72913460 → tipo: \"cliente\" (tú facturas a otro)\n- Si el NIF del RECEPTOR = B72913460 → tipo: \"proveedor\" (otro te factura a ti)\n- Si ningún NIF coincide → tipo: null, revision_manual: true\n\nEsta regla es INNEGOCIABLE. No te dejes guiar por las palabras del documento, solo por los NIFs.\nLÍNEAS:\nExtrae TODAS las líneas de la factura, no solo un resumen. Cada concepto facturado es una línea independiente."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          32,
          160
        ],
        "id": "7c4ca01f-bbf6-43ff-9ca0-f1ea94ed1c61",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b:free",
          "options": {
            "temperature": 0,
            "topP": 0.4
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          16,
          496
        ],
        "id": "2d73344d-f7c6-45c6-8709-5fedf615b05d",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "WmMNHiHPh4aQe9KT",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.output;\nconst data = JSON.parse(raw);\nreturn [{ json: data }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          160
        ],
        "id": "0e1e6211-2983-4297-b05a-9d19671018a1",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "proveedor",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8642704b-8558-4027-aefb-8985e6a63f06"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "proveedor"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "6569f749-0b23-4868-b4c1-11549b108948",
                      "leftValue": "={{ $json.tipo }}",
                      "rightValue": "cliente",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cliente"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          816,
          160
        ],
        "id": "0dfd1bc6-bfd0-4f29-9253-9b26301c3abd",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "=https://hazmarca.marketing/slu/api/3/proveedores?filter[cifnif]={{ $json.emisor_nif }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1456,
          -160
        ],
        "id": "e4d42636-3d94-454b-b1f8-e1b3575122b8",
        "name": "HTTPProveedores",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qoKa7RcJ4cB8mSzv",
            "name": "FacturaScript API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9e60908e-52cf-4283-97cb-47ef666e6755",
                "leftValue": "={{ $json.codproveedor }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1648,
          -160
        ],
        "id": "7394180d-8f9c-4253-901a-3e572fc2fae4",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://hazmarca.marketing/slu/api/3/proveedores",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "nombre",
                "value": "={{ $('Switch').item.json.emisor_nombre }}"
              },
              {
                "name": "cifnif",
                "value": "={{ $('Switch').item.json.emisor_nif }}"
              },
              {
                "name": "razonsocial",
                "value": "={{ $('Switch').item.json.emisor_nombre }}"
              },
              {
                "name": "personafisica",
                "value": "false"
              },
              {
                "name": "tipoidfiscal",
                "value": "CIF"
              }
            ]
          },
          "options": {
            "pagination": {
              "pagination": {
                "parameters": {
                  "parameters": [
                    {
                      "name": "offset",
                      "value": "={{ $pageCount * 50 }}"
                    }
                  ]
                }
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1904,
          -96
        ],
        "id": "d6830d5c-4633-4843-bf3a-6d4bfc8caf4d",
        "name": "HTTPProveedores1",
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qoKa7RcJ4cB8mSzv",
            "name": "FacturaScript API"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b590cec7-ed3e-4dff-b503-5a306699843d",
                "name": "codproveedor",
                "value": "={{ $json.codproveedor }}",
                "type": "string"
              },
              {
                "id": "2f1cef02-480f-421c-8150-1b128aff2c30",
                "name": "emisor_nif",
                "value": "={{ $('Switch').item.json.emisor_nif }}",
                "type": "string"
              },
              {
                "id": "919a66b3-db18-4fb4-9f0e-1b0e0c5b8abb",
                "name": "fecha_emision",
                "value": "={{ $('Switch').item.json.fecha_emision }}",
                "type": "string"
              },
              {
                "id": "b461c674-d627-4ffb-bf13-0877ad45e4eb",
                "name": "numero_factura",
                "value": "={{ $('Switch').item.json.numero_factura }}",
                "type": "string"
              },
              {
                "id": "d144853d-712e-45ee-ac20-8c03898a5f89",
                "name": "lineas",
                "value": "={{ $('Switch').item.json.lineas }}",
                "type": "array"
              },
              {
                "id": "68c7b4be-7493-4078-9e20-d76e1ca7ef6f",
                "name": "concepto_corto",
                "value": "={{ $('Switch').item.json.concepto_corto }}",
                "type": "string"
              },
              {
                "id": "8869f2e0-d65e-474b-9bd0-98eba72627f2",
                "name": "nombre",
                "value": "={{ $json.nombre }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2192,
          -176
        ],
        "id": "ab6fd4a9-fb00-4a4d-b307-be2bc957623c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://hazmarca.marketing/slu/api/3/albaranproveedores",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "codproveedor",
                "value": "={{ $json.codproveedor }}"
              },
              {
                "name": "fecha",
                "value": "={{ $json.fecha_emision }}"
              },
              {
                "name": "numproveedor",
                "value": "={{ $json.numero_factura }}"
              },
              {
                "name": "observaciones",
                "value": "={{ $json.concepto_corto }}"
              },
              {
                "name": "codalmacen",
                "value": "ALG"
              },
              {
                "name": "codserie",
                "value": "A"
              },
              {
                "name": "cifnif",
                "value": "={{ $json.emisor_nif }}"
              },
              {
                "name": "nombre",
                "value": "={{ $json.nombre }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2400,
          -176
        ],
        "id": "b7faf74d-7e7c-4488-b07d-813ff7d8a985",
        "name": "HTTPAlbaran",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qoKa7RcJ4cB8mSzv",
            "name": "FacturaScript API"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "lineas",
          "include": "selectedOtherFields",
          "fieldsToInclude": "idalbaran",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          2800,
          -176
        ],
        "id": "87438cfe-bddc-4552-aa2c-fbf7df1cea48",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ca0ac8ee-6ec1-4348-94ce-e4197f1d11ab",
                "name": "idalbaran",
                "value": "={{ $json.data.idalbaran }}",
                "type": "string"
              },
              {
                "id": "161ab173-b000-43d4-ad34-2ef898781237",
                "name": "lineas",
                "value": "={{ $('Edit Fields').item.json.lineas }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2608,
          -176
        ],
        "id": "83169866-91bf-4353-8768-5a32f46015cb",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://hazmarca.marketing/slu/api/3/lineaalbaranproveedores",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "idalbaran",
                "value": "={{ $json.idalbaran }}"
              },
              {
                "name": "descripcion",
                "value": "={{ $json.lineas.descripcion }}"
              },
              {
                "name": "cantidad",
                "value": "={{ $json.lineas.cantidad }}"
              },
              {
                "name": "codserie",
                "value": "A"
              },
              {
                "name": "pvpunitario",
                "value": "={{ $json.lineas.pvpunitario }}"
              },
              {
                "name": "codimpuesto",
                "value": "=IVA{{ $json.lineas.iva_porcentaje }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3008,
          -176
        ],
        "id": "06c2fe7e-0e84-497d-8656-81e0889cd125",
        "name": "HTTPLinealAlbaran",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qoKa7RcJ4cB8mSzv",
            "name": "FacturaScript API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cf31a4be-9102-48d9-b945-f06640aff37e",
                "leftValue": "={{ $json.revision_manual }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              },
              {
                "id": "9598cc36-7377-40e4-9a78-b22a2044c912",
                "leftValue": "={{ $json.confianza }}",
                "rightValue": 40,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          592,
          160
        ],
        "id": "32ae6326-3059-4340-8680-871733900bb0",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "= {{ $('Loop Over Items').item.json.id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1QPL7ZWWudNq5U7AbY5BcE4ygpqwdVI2p"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          816,
          -16
        ],
        "id": "53319cef-3fb0-4738-b598-cb3d29b49316",
        "name": "Mover a Revisión",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Loop Over Items').item.json.id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1NeXfO-tA02WtZ4m89HqzGG3WIjDoPrLo"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3584,
          560
        ],
        "id": "222a21a6-1bae-4233-9e5b-c5ec00a96bbf",
        "name": "Move file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "kjAHWBgsL4LvNzuN",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -432,
          160
        ],
        "id": "304009bf-6ff8-4c27-bd35-2c3dc817b18b",
        "name": "Loop Over Items"
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "HTTPProveedores",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "Mover a Revisión",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTPProveedores": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTPProveedores1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTPProveedores1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTPAlbaran",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTPAlbaran": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "HTTPLinealAlbaran",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Mover a Revisión",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTPLinealAlbaran": {
        "main": [
          [
            {
              "node": "Move file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version 4a7f16bf",
    "description": "",
    "autosaved": true
  },
  "tags": []
}