workflows/Post wordpress v2.json
{
  "updatedAt": "2026-05-11T08:45:59.647Z",
  "createdAt": "2026-05-11T08:30:56.813Z",
  "id": "PHW5Jq9HXvonE1d4",
  "name": "Post wordpress v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f25b4cd-4474-4f60-9cb1-df3e1566329d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://gizmodo.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "39dd2192-708d-4b24-8b83-8925e3f31163",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f11b7ba-f7b5-48e6-88eb-df51947040ff",
              "leftValue": "={{ $json.categories }}",
              "rightValue": "=Artificial Intelligence",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "965e4d5c-2f6e-4b7c-84c1-0b0075036380",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo de la noticia:  {{ $json.title }}\nContenido: {{ $json.content }}\nLink: {{ $json.link }}\nImagen: {{ $json.enclosure.url }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Comportate como un experto redactor de contenido de categoria inteligencia artificial que traduce y amplia informacion sobre la noticia que le envia el usuario y la mejora en español para publicarla en una web con todos los controles SEO necesarios\n\nTienes a tu disposicion la herramienta de Perplexity para buscar y ampliar la informacion necesaria de la noticia.\n\nQueremos las noticias en español."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        0
      ],
      "id": "61b6b70a-d2d6-4ed6-8a27-78a644bf260c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"titulo\": \"titulo de la noticia en español\",\n\t\"contenido\": \"Conenido de la noticia en html\",\n  \"categoria\":\"categoria de la noticia\", \n  \"tags\":\"tags de la noticia\",\n  \"meta-descripcion\":\"meta descripcion para SEO\",\n  \"meta-tittle\":\"titulo meta para SEO\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        224
      ],
      "id": "6ebcfdf0-56da-45b3-b1b2-44f21667d795",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "ba61ac3c-0591-4d48-bf63-83367dc762eb",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        432
      ],
      "id": "2980050b-c1cf-48e8-89a2-a9bbad543d8e",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "4652069e-c88e-4ad8-bbc3-0b4ebe170c8b",
      "name": "Search in Tavily",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9a252b4-d882-4920-a035-4ce5e618d080",
              "leftValue": "={{ $json.output.titulo }}",
              "rightValue": "Google",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "41b56310-69cd-4229-bce0-432638441eea",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1296,
        0
      ],
      "id": "cec624ba-1afa-4745-b661-034dfa0b9511",
      "name": "Filter1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=En base a este post de noticia genera el promt en ingles para nano banana para que genere la imagen perfecta que debe acompañar a esta noticia en un periodico online. No debe llevar texto, solo debe ser una imagen ilustrativa con caracter y realista.\n{{ $json.output.contenido }}\n\nDevuelve solo el prompt para nano banana en ingles sin dirigirte a mi",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        0
      ],
      "id": "1543acab-e033-4b5f-b815-8ab8411cdf10",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        224
      ],
      "id": "66d803af-28a5-437d-a0f0-3608b358f961",
      "name": "Groq Chat Model2"
    },
    {
      "parameters": {
        "title": "={{ $('AI Agent').item.json.output.titulo }}",
        "additionalFields": {
          "content": "={{ $('AI Agent').item.json.output.contenido }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2096,
        0
      ],
      "id": "7840b5ec-5647-4013-b85e-b5ac7183339d",
      "name": "Create a post"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.output }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        0
      ],
      "id": "e5eb27ae-7c2a-4f58-b596-95a7d7374fa7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f9d416-d2cb-47b7-b270-ca47416583d8",
              "name": "data",
              "value": "={{ $('HTTP Request1').item.binary.data }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        0
      ],
      "id": "5071053d-76b1-4516-a31d-ee13541ab80a",
      "name": "recupero-imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-wppruebas.jynsvq.easypanel.host/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('AI Agent').item.json.output['meta-tittle'] }}.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2544,
        0
      ],
      "id": "51ac8570-0437-4acb-9028-4252708530ef",
      "name": "subir-imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n-wppruebas.jynsvq.easypanel.host/wp-json/wp/v2/posts/{{ $('Create a post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2768,
        0
      ],
      "id": "866d6d4a-5c03-4249-b12f-fa8cb5e7c955",
      "name": "Asignar imagen"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Create a post').item.json.id }}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2992,
        0
      ],
      "id": "bd8597a5-e6e9-4d3c-a6f8-a3127bd8c7dd",
      "name": "Update a post"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "recupero-imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recupero-imagen": {
      "main": [
        [
          {
            "node": "subir-imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subir-imagen": {
      "main": [
        [
          {
            "node": "Asignar imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar imagen": {
      "main": [
        [
          {
            "node": "Update a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9047d72e-5df1-46e2-9092-a597ababce35",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:30:56.814Z",
      "createdAt": "2026-05-11T08:30:56.814Z",
      "role": "workflow:owner",
      "workflowId": "PHW5Jq9HXvonE1d4",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}