workflows/Post wordpress v2.json
{
  "updatedAt": "2026-04-30T08:33:23.141Z",
  "createdAt": "2026-04-28T08:30:58.090Z",
  "id": "pSIKk7imBuVB6ezO",
  "name": "Post wordpress v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ],
      "id": "b944ae64-450b-4314-ba8f-b258f3af23e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://gizmodo.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -480,
        -16
      ],
      "id": "2ee69d0a-1e2b-4135-ac73-be766a185594",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f11b7ba-f7b5-48e6-88eb-df51947040ff",
              "leftValue": "={{ $json.categories }}",
              "rightValue": "=Artificial Intelligence",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -256,
        -16
      ],
      "id": "5128c72c-9300-4a4b-b399-b4ea17e3e3eb",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titulo de la noticia:  {{ $json.title }}\nContenido: {{ $json.content }}\nLink: {{ $json.link }}\nImagen: {{ $json.enclosure.url }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Comportate como un experto redactor de contenido de categoria inteligencia artificial que traduce y amplia informacion sobre la noticia que le envia el usuario y la mejora en español para publicarla en una web con todos los controles SEO necesarios\n\nTienes a tu disposicion la herramienta de Perplexity para buscar y ampliar la informacion necesaria de la noticia.\n\nQueremos las noticias en español."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -16
      ],
      "id": "ecb1fc83-85e5-4201-b4c2-4cdf05335b63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"titulo\": \"titulo de la noticia en español\",\n\t\"contenido\": \"Conenido de la noticia en html\",\n  \"categoria\":\"categoria de la noticia\", \n  \"tags\":\"tags de la noticia\",\n  \"meta-descripcion\":\"meta descripcion para SEO\",\n  \"meta-tittle\":\"titulo meta para SEO\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "414419c5-a9eb-45cb-b565-48626ab978a7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ],
      "id": "f5d26977-dddf-44a7-bee0-f1e9a7cac41e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LZwftT7lD2IP0iVn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        416
      ],
      "id": "6c2fc78e-dc17-40af-86cc-74537822f61b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "8DGn892MwpIeSqyd",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "aaf901a2-8f88-4cb2-b239-24743428fcee",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "xMX0R5Nt8vSRaxH2",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d9a252b4-d882-4920-a035-4ce5e618d080",
              "leftValue": "={{ $json.output.titulo }}",
              "rightValue": "Google",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "41b56310-69cd-4229-bce0-432638441eea",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        592,
        -16
      ],
      "id": "64f68333-7bb3-4bbc-8f4e-664de7816558",
      "name": "Filter1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=En base a este post de noticia genera el promt en ingles para nano banana para que genere la imagen perfecta que debe acompañar a esta noticia en un periodico online. No debe llevar texto, solo debe ser una imagen ilustrativa con caracter y realista.\n{{ $json.output.contenido }}\n\nDevuelve solo el prompt para nano banana en ingles sin dirigirte a mi",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -16
      ],
      "id": "2c607ea4-8cf3-4cf0-8aba-4a07f34bccc0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        208
      ],
      "id": "94835bdc-e162-4230-9fdc-a491569e731e",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "LZwftT7lD2IP0iVn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('AI Agent').item.json.output.titulo }}",
        "additionalFields": {
          "content": "={{ $('AI Agent').item.json.output.contenido }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1392,
        -16
      ],
      "id": "784c2b9f-a352-4ded-bfc5-6b93795e1eed",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "tfjLAXjm9b0jtWuZ",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.output }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        -16
      ],
      "id": "47877778-e87e-4f3f-9b02-eb21c4a10f05",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f9d416-d2cb-47b7-b270-ca47416583d8",
              "name": "data",
              "value": "={{ $('HTTP Request1').item.binary.data }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        -16
      ],
      "id": "5d0013f3-e04a-4034-bfa9-5cd67228f98b",
      "name": "recupero-imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-wppruebas.jynsvq.easypanel.host/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('AI Agent').item.json.output['meta-tittle'] }}.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        -16
      ],
      "id": "5a4a2923-7aff-466d-9c87-c953013b509d",
      "name": "subir-imagen",
      "credentials": {
        "wordpressApi": {
          "id": "tfjLAXjm9b0jtWuZ",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n-wppruebas.jynsvq.easypanel.host/wp-json/wp/v2/posts/{{ $('Create a post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2064,
        -16
      ],
      "id": "1033780d-8e5e-4c6c-b3af-950af819eee3",
      "name": "Asignar imagen",
      "credentials": {
        "wordpressApi": {
          "id": "tfjLAXjm9b0jtWuZ",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('Create a post').item.json.id }}",
        "updateFields": {
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2288,
        -16
      ],
      "id": "65ff1b60-9adb-4d0e-91ee-85200397ebc9",
      "name": "Update a post",
      "credentials": {
        "wordpressApi": {
          "id": "tfjLAXjm9b0jtWuZ",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "recupero-imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recupero-imagen": {
      "main": [
        [
          {
            "node": "subir-imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subir-imagen": {
      "main": [
        [
          {
            "node": "Asignar imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar imagen": {
      "main": [
        [
          {
            "node": "Update a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2405834c-d81f-40c3-9763-18bd8ad0f9b3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-28T08:30:58.110Z",
      "createdAt": "2026-04-28T08:30:58.110Z",
      "role": "workflow:owner",
      "workflowId": "pSIKk7imBuVB6ezO",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}