workflows/primer agente.json
{
  "updatedAt": "2026-04-17T08:56:37.263Z",
  "createdAt": "2026-04-07T11:33:29.360Z",
  "id": "AuP6hqp4EjXe9e9D",
  "name": "primer agente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=** Importante **\nDia y hora actual: {{$now.format('dd-MM-yyyy hh:mm') }}\n\nYou are a helpful assistant\n\ndispones de la tool de google calendar para agendar citas en el calendario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -48
      ],
      "id": "d7dd6b55-a84b-4112-af23-47f649104b35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "4175975f-0a8e-4f7e-8662-681e37ff645e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LZwftT7lD2IP0iVn",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=mes {{ $json.message.from.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -16,
        240
      ],
      "id": "e9324ecd-9f52-4673-a745-a07fbf35c5c6",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9e303b9ae09b4a3351731b434b2ec697ee4a30d5d1afb0337699d8aa38fa8abc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "prueba"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "cfd390b9-2152-445e-8b8f-e0d0a480f997",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "x4iIyan7LlmKH2vd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -48
      ],
      "id": "db5c8f05-3e83-4fa1-8b3a-1c8e074f7bb1",
      "name": "Telegram Trigger",
      "webhookId": "d5cc01f7-15af-4d8e-9610-be441080b27b",
      "credentials": {
        "telegramApi": {
          "id": "QuJbPs5IyGMTK7MO",
          "name": "ErroresBotTelegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -48
      ],
      "id": "ff96f964-6c96-47d5-8c5d-b9401fb7ad04",
      "name": "Send a text message1",
      "webhookId": "f589fc2f-d5d8-4da6-9849-0f3882c9f39b",
      "credentials": {
        "telegramApi": {
          "id": "QuJbPs5IyGMTK7MO",
          "name": "ErroresBotTelegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1518965662",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramHitlTool",
      "typeVersion": 1.2,
      "position": [
        112,
        208
      ],
      "id": "f19a32c6-e81d-4586-8a06-3eb3e3b37810",
      "name": "Telegram",
      "webhookId": "17123010-37b8-4415-9ed8-e6280aa9b13a",
      "credentials": {
        "telegramApi": {
          "id": "QuJbPs5IyGMTK7MO",
          "name": "ErroresBotTelegram"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "warmane675@gmail.com",
          "mode": "list",
          "cachedResultName": "warmane675@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        112,
        400
      ],
      "id": "040e35ce-8256-4cc0-b208-a1166e78b627",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "x4iIyan7LlmKH2vd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ],
      "id": "78e23720-06ed-404b-9f96-d43d17ad8d48",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "myaWeBiunKMboJJC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "ai_tool": [
        []
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Telegram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "4QTTaZP0TYsnmiyK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 32432336,
          "message": {
            "message_id": 45,
            "from": {
              "id": 1518965662,
              "is_bot": false,
              "first_name": "Adri",
              "username": "nairda12345",
              "language_code": "es"
            },
            "chat": {
              "id": 1518965662,
              "first_name": "Adri",
              "username": "nairda12345",
              "type": "private"
            },
            "date": 1775632048,
            "text": "Cita mañana"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "1b71dbea-6243-4970-bc3e-5504349a9d92",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T11:33:29.365Z",
      "createdAt": "2026-04-07T11:33:29.365Z",
      "role": "workflow:owner",
      "workflowId": "AuP6hqp4EjXe9e9D",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}