workflows/primer agente.json
{
  "updatedAt": "2026-05-11T08:45:54.945Z",
  "createdAt": "2026-05-11T08:31:09.320Z",
  "id": "XROvWbWEwmr4euQ8",
  "name": "primer agente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=** Importante **\nDia y hora actual: {{$now.format('dd-MM-yyyy hh:mm') }}\n\nYou are a helpful assistant\n\ndispones de la tool de google calendar para agendar citas en el calendario"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "f704823d-9a4e-4004-b0c7-5502f7e09bcc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "95eb8d2e-19d8-45ee-93c9-36db6a0128e5",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=mes {{ $json.message.from.id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        336,
        288
      ],
      "id": "3601dc41-8ebb-43d4-93e6-fec94bdcbb74",
      "name": "Redis Chat Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "9e303b9ae09b4a3351731b434b2ec697ee4a30d5d1afb0337699d8aa38fa8abc@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "prueba"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        256
      ],
      "id": "10d0fc63-8b24-412d-9f26-40e5b43f1984",
      "name": "Create an event in Google Calendar"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6e564cd8-25b1-4ce7-a870-00af5b978b99",
      "name": "Telegram Trigger",
      "webhookId": "d5cc01f7-15af-4d8e-9610-be441080b27b"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "43149b30-db8c-4c3e-97fa-e520d24adbe3",
      "name": "Send a text message1",
      "webhookId": "f589fc2f-d5d8-4da6-9849-0f3882c9f39b"
    },
    {
      "parameters": {
        "chatId": "1518965662",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramHitlTool",
      "typeVersion": 1.2,
      "position": [
        464,
        256
      ],
      "id": "c87273e8-832c-4b81-80a9-ef329c05cfa4",
      "name": "Telegram",
      "webhookId": "17123010-37b8-4415-9ed8-e6280aa9b13a",
      "disabled": true
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "warmane675@gmail.com",
          "mode": "list",
          "cachedResultName": "warmane675@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        448
      ],
      "id": "45848582-5ed8-433d-add8-9141d1ffe991",
      "name": "Create an event in Google Calendar1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        256
      ],
      "id": "aeef9081-bb95-4c9a-80ca-f79309f59fce",
      "name": "Google Gemini Chat Model"
    }
  ],
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Telegram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 32432336,
          "message": {
            "message_id": 45,
            "from": {
              "id": 1518965662,
              "is_bot": false,
              "first_name": "Adri",
              "username": "nairda12345",
              "language_code": "es"
            },
            "chat": {
              "id": 1518965662,
              "first_name": "Adri",
              "username": "nairda12345",
              "type": "private"
            },
            "date": 1775632048,
            "text": "Cita mañana"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3053e00f-7938-4fff-bf96-8a8a5ee95ce7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:31:09.326Z",
      "createdAt": "2026-05-11T08:31:09.326Z",
      "role": "workflow:owner",
      "workflowId": "XROvWbWEwmr4euQ8",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}