workflows/Proforma y correo.json
{
  "updatedAt": "2026-05-11T08:45:47.569Z",
  "createdAt": "2026-05-11T08:31:40.718Z",
  "id": "webAqHwhiG9SnjQK",
  "name": "Proforma y correo",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Calculo de dias restantes').item.json['Email Cliente'] }}",
        "subject": "={{ $('Calculo de dias restantes').item.json.diasRestantes > 0 ? 'Tu dominio ' + $('Calculo de dias restantes').item.json.Dominio + ' vence en ' + $('Calculo de dias restantes').item.json.diasRestantes + ' días — ' + $('Calculo de dias restantes').item.json.nombreTramo : 'URGENTE: Tu dominio ' + $('Calculo de dias restantes').item.json.dominio + ' ha vencido — acción requerida' }}",
        "message": "=<p>Hola,</p>\n\n<p>Te contactamos porque el dominio <strong>{{ $('Calculo de dias restantes').item.json.Dominio }}</strong> \n{{ $('Calculo de dias restantes').item.json.diasRestantes > 0 ? 'vence en <strong>' + $('Calculo de dias restantes').item.json.diasRestantes + ' días</strong>' : 'venció hace <strong>' + Math.abs($('Calculo de dias restantes').item.json.diasRestantes) + ' días</strong>' }}.</p>\n\n<p>Adjuntamos factura proforma con el precio actual:</p>\n\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\">Precio base</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Calculo de dias restantes').item.json['Precio Base (€)'] }}€</strong></td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd\">Recargo ({{ $('Calculo de dias restantes').item.json.nombreTramo }})</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right;color:#c0392b\"><strong>+{{ $('Calculo de dias restantes').item.json.recargo }}€</strong></td></tr>\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Calculo de dias restantes').item.json.precioFinal }}€</strong></td></tr>\n</table>\n\n<p style=\"color:#888;font-size:12px;margin-top:20px\">Este precio corresponde al tramo <em>{{ $('Calculo de dias restantes').item.json.nombreTramo }}</em> según nuestra política de renovaciones {{ new Date().getFullYear() }}. El precio se actualiza automáticamente según la fecha de vencimiento.</p>\n\n\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://n8n-n8n.jynsvq.easypanel.host/webhook/pago-confirmado?dominio={{ $('Calculo de dias restantes').item.json.Dominio }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Confirmar pago recibido\n  </a>\n</div>\n\n\n<p>Para cualquier consulta, responde a este email.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        208
      ],
      "id": "f8eaedc6-bd30-43bc-98dd-9bc7350b0707",
      "name": "Send a message",
      "webhookId": "cc026627-efbd-48f7-be8b-5fe53bef1bcc"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Cliente'] }}",
        "subject": "=Renueva {{ $json.Dominio }} al mejor precio",
        "message": "=Tu dominio vence en {{ $json.diasRestantes }} días. Renuévalo ahora al precio mínimo de {{ $json.precioFinal }}€.\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        48
      ],
      "id": "6b4b5328-4fcb-4804-b11f-c0a2069b7c7c",
      "name": "Send a message1",
      "webhookId": "a3578c52-6823-4157-82a3-59446dbba3ad"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        128
      ],
      "id": "55393191-0574-437c-8295-cb1b2d88fb36",
      "name": "Trigger diario"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0",
          "mode": "list",
          "cachedResultName": "renovaciones_prueba",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1743362210,
          "mode": "list",
          "cachedResultName": "Dominios_Renovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p8AcIfz1D3OFm1s04bvIcqhHU5QGUkHArT34ykAjzf0/edit#gid=1743362210"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        128
      ],
      "id": "c4e7a64a-6c89-4a6c-aab3-f8c5581bd920",
      "name": "Datos del Excel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1b9feef-197b-4004-8b8f-4fd52263a43f",
              "leftValue": "={{ $json['Estado Sered'] }}",
              "rightValue": "Auto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        256,
        128
      ],
      "id": "db13cd68-778d-4160-b488-91880cc3dc65",
      "name": "Filtro de estado Auto"
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\n\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const datos = item.json;\n\n  const fechaVenc = new Date(datos[\"Fecha Vencimiento\"]);\n  fechaVenc.setHours(0, 0, 0, 0);\n\n  const diffMs   = fechaVenc - hoy;\n  const diasRest = Math.round(diffMs / (1000 * 60 * 60 * 24));\n\n  // Filtro: ignorar si faltan más de 60 días\n  if (diasRest > 60) continue;\n\n  // Calcular tramo y recargo\n  let tramo, recargo, nombreTramo;\n  if (diasRest > 45) {\n    tramo = \"pronto_pago\";   recargo = 0;  nombreTramo = \"Pronto Pago\";\n  } else if (diasRest >= 31) {\n    tramo = \"gestion\";       recargo = 10; nombreTramo = \"Gestión Estándar\";\n  } else if (diasRest >= 15) {\n    tramo = \"urgencia\";      recargo = 25; nombreTramo = \"Recargo por Urgencia\";\n  } else {\n    tramo = \"recuperacion\";  recargo = 50; nombreTramo = \"Tasa de Recuperación\";\n  }\n\n  const precioBase  = parseFloat(datos[\"Precio Base (€)\"]) || 0;\n  const precioFinal = precioBase + recargo;\n\n  resultado.push({\n    json: {\n      ...datos,\n      diasRestantes: diasRest,\n      tramo,\n      nombreTramo,\n      recargo,\n      precioBase,\n      precioFinal,\n    }\n  });\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        128
      ],
      "id": "ddcff23c-8e21-40e9-89cf-1ea08e7eb275",
      "name": "Calculo de dias restantes"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tramo }}",
                    "rightValue": "pronto_pago",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13470673-869e-46cf-862d-131f74e62638"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ade6d66c-ad6d-4003-8836-29aa28a20684",
                    "leftValue": "={{ $json.tramo }}",
                    "rightValue": "gestion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "74f11d9a-e6fc-48f2-8c06-78e09c486201",
                    "leftValue": "={{ $json.tramo }}",
                    "rightValue": "urgencia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8eedf4a6-3997-473c-a10c-f5992dbb48dd",
                    "leftValue": "={{ $json.tramo }}",
                    "rightValue": "recuperacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        80
      ],
      "id": "d83600da-2c01-4621-959f-26da0da99d5c",
      "name": "Switch Tramos de recargo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/crearPresupuestoCliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "codcliente",
              "value": "={{ $('Datos del Excel').item.json['ID Cliente Factura'] }}"
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "descripcion",
              "value": "=Renovación dominio {{ $json.Dominio }} - {{ $json.tramo }}"
            },
            {
              "name": "lineas",
              "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.Dominio }} - {{ $json.nombreTramo }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.precioFinal }}}]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        128
      ],
      "id": "15213d02-a8c6-47ad-a788-2c2c5354e509",
      "name": "Crear proforma en factura.city"
    },
    {
      "parameters": {
        "content": "## Recoger, Filtrar y Formatear datos\n",
        "height": 368,
        "width": 608,
        "color": "#776A18"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "889d1a63-4cca-486e-8915-41c0fa1db529",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Separar segun Recargo\n",
        "height": 368,
        "width": 192,
        "color": "#275928"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        0
      ],
      "typeVersion": 1,
      "id": "5ad23abf-d14a-4d8f-b7cd-7735c62703c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##  Crear presupuesto y descargarlo aqui\n",
        "height": 368,
        "width": 480,
        "color": "#6045A1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        0
      ],
      "typeVersion": 1,
      "id": "7944df51-cb3f-429e-b569-a0699c0c0033",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=https://space-1q21-1b.facturas.live/pruebas/api/3/exportarPresupuestoCliente/{{ $json.lines[0].idpresupuesto }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "w7CVLwRE94qN6cru1nDn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        128
      ],
      "id": "16a647a3-85ae-47f5-afb7-2607b0a3e24b",
      "name": "Pdf presupuesto factura.city"
    },
    {
      "parameters": {
        "content": "## Enviar correo cliente",
        "height": 368,
        "width": 256,
        "color": "#A44141"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        0
      ],
      "typeVersion": 1,
      "id": "29500f4d-5cfb-470c-abbb-614da412fdc1",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Trigger diario": {
      "main": [
        [
          {
            "node": "Datos del Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Excel": {
      "main": [
        [
          {
            "node": "Filtro de estado Auto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de estado Auto": {
      "main": [
        [
          {
            "node": "Calculo de dias restantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo de dias restantes": {
      "main": [
        [
          {
            "node": "Switch Tramos de recargo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tramos de recargo": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear proforma en factura.city",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear proforma en factura.city",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear proforma en factura.city",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear proforma en factura.city": {
      "main": [
        [
          {
            "node": "Pdf presupuesto factura.city",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pdf presupuesto factura.city": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "16a598ec-576d-454b-a207-d01452e531c1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:31:40.719Z",
      "createdAt": "2026-05-11T08:31:40.719Z",
      "role": "workflow:owner",
      "workflowId": "webAqHwhiG9SnjQK",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}