workflows/Proforma y correo v3.json
{
  "updatedAt": "2026-05-12T07:22:47.165Z",
  "createdAt": "2026-05-11T08:31:30.249Z",
  "id": "6WPxQeYlPWlb91Fj",
  "name": "Proforma y correo v3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
        "subject": "=Tu dominio {{ $('Loop Over Items').item.json.Dominio }} — renueva antes del {{ $('Loop Over Items').item.json.fechaLimite }} al precio mínimo",
        "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nvence en <strong>{{ $('Loop Over Items').item.json.diasParaLimite }}</strong> días.</p>\n<p>Para renovarlo al precio mínimo, tienes hasta el <strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>. A partir de esa fecha se aplicarán recargos adicionales.</p>\n<p>Adjuntamos factura proforma con el precio actual:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#888;font-size:12px;margin-top:20px\">Precio sin recargos según nuestra política de renovaciones {{ new Date().getFullYear() }}. Si no renueva antes del {{ $('Loop Over Items').item.json['fechaLimite'] }}, el precio aumentará automáticamente.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/aviso-de-pago?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}&pvpunitario={{ $json.lines[0].pvpunitario }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Renovar ahora al precio mínimo\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        32
      ],
      "id": "ca7f7eeb-ad6c-461e-875b-1fc2aa77903e",
      "name": "Send a message1",
      "webhookId": "88229b46-c522-49e4-b137-0dca6c0c45e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "K88Ro02qAPLqoTbF",
          "name": "Gmail contacta"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1360,
        208
      ],
      "id": "3d9b2e9f-e619-4c22-aa09-74d477bf5eb2",
      "name": "Trigger diario"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        208
      ],
      "id": "cffd5ece-cae6-49b4-b352-51b07cc6ab52",
      "name": "Datos del Excel",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const datos = item.json;\n  if (!datos[\"Fecha Vencimiento\"] || !datos[\"Precio Base (€)\"]) continue;\n  if (datos[\"Estado Sered\"] === \"Manual\") continue;\n\n  const fechaVenc = new Date(datos[\"Fecha Vencimiento\"]);\n  fechaVenc.setHours(0, 0, 0, 0);\n\n  // Fecha límite: 30 días antes del vencimiento\n  const fechaLimite = new Date(fechaVenc);\n  fechaLimite.setDate(fechaLimite.getDate() - 30);\n\n  const diffMs   = fechaVenc - hoy;\n  const diasRest = Math.round(diffMs / (1000 * 60 * 60 * 24));\n\n  // Días restantes hasta la fecha límite\n  const diffLimiteMs   = fechaLimite - hoy;\n  const diasParaLimite = Math.round(diffLimiteMs / (1000 * 60 * 60 * 24));\n\n  if (diasRest > 90 || diasRest < -60) continue;\n\n  let tramo, recargo, nombreTramo;\n  if (diasRest <= 90 && diasRest > 45) {\n    tramo = \"aviso_90\";     recargo = 0;  nombreTramo = \"Aviso 60 días\";\n  } else if (diasRest === 45) {\n    tramo = \"aviso_45\";     recargo = 0;  nombreTramo = \"Aviso 15 días\";\n  } else if (diasRest > 30 && diasRest < 45) {\n    tramo = \"aviso_45\";     recargo = 0;  nombreTramo = \"Aviso 15 días\";\n  } else if (diasRest <= 30) {\n    tramo = \"recuperacion\"; recargo = 50; nombreTramo = \"Tasa de Recuperación\";\n  }\n\n  const precioBase  = parseFloat(datos[\"Precio Base (€)\"]) || 0;\n  if (!precioBase || precioBase <= 0) continue;\n  const precioFinal = precioBase + recargo;\n\n  const dia  = String(fechaLimite.getDate()).padStart(2, \"0\");\n  const mes  = String(fechaLimite.getMonth() + 1).padStart(2, \"0\");\n  const anio = fechaLimite.getFullYear();\n  const fechaLimiteStr = `${dia}/${mes}/${anio}`;\n\n  resultado.push({\n    json: {\n      ...datos,\n      diasRestantes: diasRest,\n      tramo,\n      nombreTramo,\n      recargo,\n      precioBase,\n      precioFinal,\n      fechaLimite: fechaLimiteStr,\n      diasParaLimite,\n    }\n  });\n}\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        208
      ],
      "id": "6f5e1260-e9aa-426a-a127-4105ed25edf9",
      "name": "Calculo de dias restantes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/crearPresupuestoCliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "codcliente",
              "value": "={{ $json[\"ID Cliente\"] }}"
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "descripcion",
              "value": "=Renovación dominio {{ $json.Dominio }} "
            },
            {
              "name": "lineas",
              "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.Dominio }} - {{ $json.nombreTramo }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.precioFinal }}}]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        128
      ],
      "id": "7e6a5b2d-43c4-476a-bb4e-d437d6bfa106",
      "name": "Crear proforma en factura.city1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "h1q5CvfA7svrUbQP",
          "name": "Factura pruebas"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://space-1q21-1b.facturas.live/pruebas/api/3/exportarPresupuestoCliente/{{ $json.lines[0].idpresupuesto }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "w7CVLwRE94qN6cru1nDn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        128
      ],
      "id": "84e5a069-1f53-4230-a3b3-f3682e8c15cc",
      "name": "Pdf presupuesto factura.city1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "h1q5CvfA7svrUbQP",
          "name": "Factura pruebas"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
        "subject": "=URGENTE: Tu dominio {{ $('Loop Over Items').item.json.Dominio }} en riesgo — acción requerida antes de perderlo",
        "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nha superado la fecha límite de renovación sin coste adicional (<strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>).</p>\n<p>Para recuperar el dominio es necesario aplicar una tasa de recuperación. Adjuntamos factura proforma con el desglose:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\">Precio base</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioBase'] }}€</strong></td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;color:#c0392b\">Tasa de Recuperación</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right;color:#c0392b\"><strong>+{{ $('Loop Over Items').item.json['recargo'] }}€</strong></td></tr>\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#c0392b;font-size:13px;margin-top:16px\"><strong>Atención:</strong> Si no se realiza el pago en los próximos días, el dominio podría perderse definitivamente.</p>\n<p style=\"color:#888;font-size:12px;margin-top:8px\">Este recargo se aplica automáticamente según nuestra política de renovaciones {{ new Date().getFullYear() }}.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/aviso-de-pago?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}&pvpunitario={{ $json.lines[0].pvpunitario }}\" style=\"background:#c0392b;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Recuperar dominio ahora\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        224
      ],
      "id": "d5689a9f-90d2-4a78-918f-da0e191d84e7",
      "name": "Send a message",
      "webhookId": "aafb3111-4752-48d8-9f32-6343480317f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "K88Ro02qAPLqoTbF",
          "name": "Gmail contacta"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        192
      ],
      "id": "fdb5c014-caa1-4d98-97c5-5e82d5832b2f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        224
      ],
      "id": "1031f788-7f53-444c-bfbc-f3aa016443f3",
      "name": "Wait",
      "webhookId": "bcbde60b-b03f-4280-85b1-52dddfd52366"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                    "rightValue": "Aviso 60 días",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "97af3aa0-b90b-4397-8f1f-29468df434be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "84ec2f6e-b106-4310-a5c5-92230cc69d55",
                    "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                    "rightValue": "Aviso 15 días",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7095a6bb-1547-49e3-a880-ebd552f52ccf",
                    "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                    "rightValue": "Tasa de Recuperación",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        96
      ],
      "id": "fe37bc07-6b36-4ed2-b04d-a4768dbfd028",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fc3235b5-2be0-41a5-9e03-d9a9c3109ece",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c837de6-55d1-4417-8be5-714ab00413a2",
              "leftValue": "={{ $json.diasParaLimite }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "9cb96e20-e27f-458d-9ef3-b60b71042c33",
              "leftValue": "={{ $json.diasParaLimite }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1154a7e4-5a8c-4eeb-abd0-faf72446688f",
              "leftValue": "={{ $json.diasParaLimite }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        208
      ],
      "id": "755a8d4a-edf8-4285-bbe3-f16a326f5352",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1b9feef-197b-4004-8b8f-4fd52263a43f",
              "leftValue": "={{ $json['Estado'] }}",
              "rightValue": "Auto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4400e413-93de-417c-b928-497b267ea568",
              "leftValue": "={{ $json['Última Acción'] }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -944,
        208
      ],
      "id": "c8b23f1a-aea7-46a0-af36-88e9bf8140ac",
      "name": "Filtro de estado Auto y PAGADO"
    }
  ],
  "connections": {
    "Trigger diario": {
      "main": [
        [
          {
            "node": "Datos del Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Excel": {
      "main": [
        [
          {
            "node": "Filtro de estado Auto y PAGADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo de dias restantes": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear proforma en factura.city1": {
      "main": [
        [
          {
            "node": "Pdf presupuesto factura.city1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pdf presupuesto factura.city1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear proforma en factura.city1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de estado Auto y PAGADO": {
      "main": [
        [
          {
            "node": "Calculo de dias restantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Trigger diario": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4a066515-6884-4530-a778-9b8dd905e3c0",
  "activeVersionId": "70b6ac7a-348b-459e-89f7-613f336ab3f3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:31:30.251Z",
      "createdAt": "2026-05-11T08:31:30.251Z",
      "role": "workflow:owner",
      "workflowId": "6WPxQeYlPWlb91Fj",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T07:12:59.000Z",
    "createdAt": "2026-05-12T07:12:57.986Z",
    "versionId": "70b6ac7a-348b-459e-89f7-613f336ab3f3",
    "workflowId": "6WPxQeYlPWlb91Fj",
    "nodes": [
      {
        "parameters": {
          "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
          "subject": "=Tu dominio {{ $('Loop Over Items').item.json.Dominio }} — renueva antes del {{ $('Loop Over Items').item.json.fechaLimite }} al precio mínimo",
          "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nvence en <strong>{{ $('Loop Over Items').item.json.diasParaLimite }}</strong> días.</p>\n<p>Para renovarlo al precio mínimo, tienes hasta el <strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>. A partir de esa fecha se aplicarán recargos adicionales.</p>\n<p>Adjuntamos factura proforma con el precio actual:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#888;font-size:12px;margin-top:20px\">Precio sin recargos según nuestra política de renovaciones {{ new Date().getFullYear() }}. Si no renueva antes del {{ $('Loop Over Items').item.json['fechaLimite'] }}, el precio aumentará automáticamente.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/aviso-de-pago?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}&pvpunitario={{ $json.lines[0].pvpunitario }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Renovar ahora al precio mínimo\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {
                  "property": "=data"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          992,
          32
        ],
        "id": "ca7f7eeb-ad6c-461e-875b-1fc2aa77903e",
        "name": "Send a message1",
        "webhookId": "88229b46-c522-49e4-b137-0dca6c0c45e3",
        "credentials": {
          "gmailOAuth2": {
            "id": "K88Ro02qAPLqoTbF",
            "name": "Gmail contacta"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1360,
          208
        ],
        "id": "3d9b2e9f-e619-4c22-aa09-74d477bf5eb2",
        "name": "Trigger diario"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
            "mode": "list",
            "cachedResultName": "n8nRenovaciones",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1152,
          208
        ],
        "id": "cffd5ece-cae6-49b4-b352-51b07cc6ab52",
        "name": "Datos del Excel",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "tlryTl2TVc3G1dVp",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const datos = item.json;\n  if (!datos[\"Fecha Vencimiento\"] || !datos[\"Precio Base (€)\"]) continue;\n  if (datos[\"Estado Sered\"] === \"Manual\") continue;\n\n  const fechaVenc = new Date(datos[\"Fecha Vencimiento\"]);\n  fechaVenc.setHours(0, 0, 0, 0);\n\n  // Fecha límite: 30 días antes del vencimiento\n  const fechaLimite = new Date(fechaVenc);\n  fechaLimite.setDate(fechaLimite.getDate() - 30);\n\n  const diffMs   = fechaVenc - hoy;\n  const diasRest = Math.round(diffMs / (1000 * 60 * 60 * 24));\n\n  // Días restantes hasta la fecha límite\n  const diffLimiteMs   = fechaLimite - hoy;\n  const diasParaLimite = Math.round(diffLimiteMs / (1000 * 60 * 60 * 24));\n\n  if (diasRest > 90 || diasRest < -60) continue;\n\n  let tramo, recargo, nombreTramo;\n  if (diasRest <= 90 && diasRest > 45) {\n    tramo = \"aviso_90\";     recargo = 0;  nombreTramo = \"Aviso 60 días\";\n  } else if (diasRest === 45) {\n    tramo = \"aviso_45\";     recargo = 0;  nombreTramo = \"Aviso 15 días\";\n  } else if (diasRest > 30 && diasRest < 45) {\n    tramo = \"aviso_45\";     recargo = 0;  nombreTramo = \"Aviso 15 días\";\n  } else if (diasRest <= 30) {\n    tramo = \"recuperacion\"; recargo = 50; nombreTramo = \"Tasa de Recuperación\";\n  }\n\n  const precioBase  = parseFloat(datos[\"Precio Base (€)\"]) || 0;\n  if (!precioBase || precioBase <= 0) continue;\n  const precioFinal = precioBase + recargo;\n\n  const dia  = String(fechaLimite.getDate()).padStart(2, \"0\");\n  const mes  = String(fechaLimite.getMonth() + 1).padStart(2, \"0\");\n  const anio = fechaLimite.getFullYear();\n  const fechaLimiteStr = `${dia}/${mes}/${anio}`;\n\n  resultado.push({\n    json: {\n      ...datos,\n      diasRestantes: diasRest,\n      tramo,\n      nombreTramo,\n      recargo,\n      precioBase,\n      precioFinal,\n      fechaLimite: fechaLimiteStr,\n      diasParaLimite,\n    }\n  });\n}\nreturn resultado;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -736,
          208
        ],
        "id": "6f5e1260-e9aa-426a-a127-4105ed25edf9",
        "name": "Calculo de dias restantes"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://space-1q21-1b.facturas.live/pruebas/api/3/crearPresupuestoCliente",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "codcliente",
                "value": "={{ $json[\"ID Cliente\"] }}"
              },
              {
                "name": "fecha",
                "value": "={{ new Date().toISOString().split('T')[0] }}"
              },
              {
                "name": "descripcion",
                "value": "=Renovación dominio {{ $json.Dominio }} "
              },
              {
                "name": "lineas",
                "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.Dominio }} - {{ $json.nombreTramo }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.precioFinal }}}]"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          272,
          128
        ],
        "id": "7e6a5b2d-43c4-476a-bb4e-d437d6bfa106",
        "name": "Crear proforma en factura.city1",
        "alwaysOutputData": true,
        "executeOnce": false,
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "h1q5CvfA7svrUbQP",
            "name": "Factura pruebas"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://space-1q21-1b.facturas.live/pruebas/api/3/exportarPresupuestoCliente/{{ $json.lines[0].idpresupuesto }}\n",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "token",
                "value": "w7CVLwRE94qN6cru1nDn"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          128
        ],
        "id": "84e5a069-1f53-4230-a3b3-f3682e8c15cc",
        "name": "Pdf presupuesto factura.city1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "h1q5CvfA7svrUbQP",
            "name": "Factura pruebas"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
          "subject": "=URGENTE: Tu dominio {{ $('Loop Over Items').item.json.Dominio }} en riesgo — acción requerida antes de perderlo",
          "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nha superado la fecha límite de renovación sin coste adicional (<strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>).</p>\n<p>Para recuperar el dominio es necesario aplicar una tasa de recuperación. Adjuntamos factura proforma con el desglose:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\">Precio base</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioBase'] }}€</strong></td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;color:#c0392b\">Tasa de Recuperación</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right;color:#c0392b\"><strong>+{{ $('Loop Over Items').item.json['recargo'] }}€</strong></td></tr>\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#c0392b;font-size:13px;margin-top:16px\"><strong>Atención:</strong> Si no se realiza el pago en los próximos días, el dominio podría perderse definitivamente.</p>\n<p style=\"color:#888;font-size:12px;margin-top:8px\">Este recargo se aplica automáticamente según nuestra política de renovaciones {{ new Date().getFullYear() }}.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/aviso-de-pago?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}\" style=\"background:#c0392b;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Recuperar dominio ahora\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            }
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          992,
          224
        ],
        "id": "d5689a9f-90d2-4a78-918f-da0e191d84e7",
        "name": "Send a message",
        "webhookId": "aafb3111-4752-48d8-9f32-6343480317f7",
        "credentials": {
          "gmailOAuth2": {
            "id": "K88Ro02qAPLqoTbF",
            "name": "Gmail contacta"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -176,
          192
        ],
        "id": "fdb5c014-caa1-4d98-97c5-5e82d5832b2f",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1168,
          224
        ],
        "id": "1031f788-7f53-444c-bfbc-f3aa016443f3",
        "name": "Wait",
        "webhookId": "bcbde60b-b03f-4280-85b1-52dddfd52366"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                      "rightValue": "Aviso 60 días",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "97af3aa0-b90b-4397-8f1f-29468df434be"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "84ec2f6e-b106-4310-a5c5-92230cc69d55",
                      "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                      "rightValue": "Aviso 15 días",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "7095a6bb-1547-49e3-a880-ebd552f52ccf",
                      "leftValue": "={{ $('Loop Over Items').item.json.nombreTramo }}",
                      "rightValue": "Tasa de Recuperación",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          704,
          96
        ],
        "id": "fe37bc07-6b36-4ed2-b04d-a4768dbfd028",
        "name": "Switch"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "fc3235b5-2be0-41a5-9e03-d9a9c3109ece",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1c837de6-55d1-4417-8be5-714ab00413a2",
                "leftValue": "={{ $json.diasParaLimite }}",
                "rightValue": 60,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "9cb96e20-e27f-458d-9ef3-b60b71042c33",
                "leftValue": "={{ $json.diasParaLimite }}",
                "rightValue": 15,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "1154a7e4-5a8c-4eeb-abd0-faf72446688f",
                "leftValue": "={{ $json.diasParaLimite }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -512,
          208
        ],
        "id": "755a8d4a-edf8-4285-bbe3-f16a326f5352",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e1b9feef-197b-4004-8b8f-4fd52263a43f",
                "leftValue": "={{ $json['Estado'] }}",
                "rightValue": "Auto",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "4400e413-93de-417c-b928-497b267ea568",
                "leftValue": "={{ $json['Última Acción'] }}",
                "rightValue": "PAGADO",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -944,
          208
        ],
        "id": "c8b23f1a-aea7-46a0-af36-88e9bf8140ac",
        "name": "Filtro de estado Auto y PAGADO"
      }
    ],
    "connections": {
      "Trigger diario": {
        "main": [
          [
            {
              "node": "Datos del Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos del Excel": {
        "main": [
          [
            {
              "node": "Filtro de estado Auto y PAGADO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculo de dias restantes": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear proforma en factura.city1": {
        "main": [
          [
            {
              "node": "Pdf presupuesto factura.city1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pdf presupuesto factura.city1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Crear proforma en factura.city1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro de estado Auto y PAGADO": {
        "main": [
          [
            {
              "node": "Calculo de dias restantes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Leandro Martinez",
    "name": "Version 70b6ac7a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}