workflows/Proforma y correo v4.json
{
  "updatedAt": "2026-05-13T11:24:14.343Z",
  "createdAt": "2026-05-13T10:11:20.548Z",
  "id": "91yQRRzF8uWtnuLK",
  "name": "Proforma y correo v4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
        "subject": "=Tu dominio {{ $('Loop Over Items').item.json.Dominio }} — renueva antes del {{ $('Loop Over Items').item.json.fechaLimite }} al precio mínimo",
        "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nvence pronto.</p>\n<p>Para renovarlo al precio mínimo, tienes hasta el <strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>. A partir de esa fecha se aplicarán recargos adicionales.</p>\n<p>Adjuntamos factura proforma con el precio actual:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#888;font-size:12px;margin-top:20px\">Precio sin recargos según nuestra política de renovaciones {{ new Date().getFullYear() }}. Si no renueva antes del {{ $('Loop Over Items').item.json['fechaLimite'] }}, el precio aumentará automáticamente.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/voy_a_pagar?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}&pvpunitario={{ $json.lines[0].pvpunitario }}&cliente={{ $('Loop Over Items').item.json['Nombre Cliente'] }}\" style=\"background:#27AE60;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Renovar ahora al precio mínimo\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        32
      ],
      "id": "8d90454d-0452-477c-9c26-db556a0d9575",
      "name": "Send a message1",
      "webhookId": "02c76a30-2df6-4c3a-8efb-026c331af1ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "K88Ro02qAPLqoTbF",
          "name": "Gmail contacta"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1360,
        208
      ],
      "id": "bd196f68-f51c-4d04-afd0-6658ebf31013",
      "name": "Trigger diario"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8",
          "mode": "list",
          "cachedResultName": "n8nRenovaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QVP5U6uNJ7FdkoUwh4XXP_pZKzGfBbc8BZCSF_d_vs8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        208
      ],
      "id": "6b26091d-7f4e-4b0e-b74b-229863b13552",
      "name": "Datos del Excel",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlryTl2TVc3G1dVp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\n\n// Parser robusto para fechas en formato DD-MM-YYYY o DD/MM/YYYY\nconst parsearFechaEs = (str) => {\n  if (!str || typeof str !== 'string') return null;\n  const partes = str.split(/[-/]/);\n  if (partes.length !== 3) return null;\n  const [dia, mes, anio] = partes.map(p => parseInt(p, 10));\n  if (isNaN(dia) || isNaN(mes) || isNaN(anio)) return null;\n  const fecha = new Date(anio, mes - 1, dia);\n  fecha.setHours(0, 0, 0, 0);\n  return fecha;\n};\n\n// Formatea Date a \"DD-MM-YYYY\"\nconst formatearFechaEs = (fecha) => {\n  if (!fecha) return null;\n  const dia  = String(fecha.getDate()).padStart(2, \"0\");\n  const mes  = String(fecha.getMonth() + 1).padStart(2, \"0\");\n  const anio = fecha.getFullYear();\n  return `${dia}-${mes}-${anio}`;\n};\n\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const datos = item.json;\n\n  const fechaVenc = parsearFechaEs(datos[\"Fecha Vencimiento\"]);\n  const precioBase = parseFloat(datos[\"Precio Base (€)\"]) || 0;\n\n  let diasRestantes = null;\n  let fechaLimite = null;\n\n  if (fechaVenc) {\n    diasRestantes = Math.round((fechaVenc - hoy) / (1000 * 60 * 60 * 24));\n\n    // Fecha límite = vencimiento - 30 días\n    fechaLimite = new Date(fechaVenc);\n    fechaLimite.setDate(fechaLimite.getDate() - 30);\n  }\n\n  const enRecuperacion = diasRestantes !== null && diasRestantes <= 30;\n  const recargo = enRecuperacion ? 50 : 0;\n  const tipoTasa = enRecuperacion ? \"Tasa de Recuperación\" : \"Tasa Estándar\";\n  const precioFinal = precioBase + recargo;\n\n  resultado.push({\n    json: {\n      ...datos,\n      diasRestantes,\n      fechaLimite: formatearFechaEs(fechaLimite),\n      recargo,\n      tipoTasa,\n      precioFinal\n    }\n  });\n}\n\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        208
      ],
      "id": "f2406c64-d60b-42f3-8d33-73f3a631b309",
      "name": "Calculo de dias restantes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hazmarca.marketing/slu/api/3/crearPresupuestoCliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "codcliente",
              "value": "={{ $json[\"ID Cliente\"] }}"
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "descripcion",
              "value": "=Renovación dominio {{ $json.Dominio }} "
            },
            {
              "name": "lineas",
              "value": "=[{\"descripcion\": \"Renovación dominio {{ $json.Dominio }}  -  {{ $json.tipoTasa }}\", \"cantidad\": 1, \"pvpunitario\": {{ $json.precioFinal }}}]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        128
      ],
      "id": "74d72439-88e7-403f-8286-fa9e87ec12e1",
      "name": "Crear proforma en factura.city1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://hazmarca.marketing/slu/api/3/exportarPresupuestoCliente/{{ $json.lines[0].idpresupuesto }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        128
      ],
      "id": "552f9282-d653-4829-b6a9-ea41e50de9ac",
      "name": "Pdf presupuesto factura.city1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json['Email Cliente'] }}",
        "subject": "=URGENTE: Tu dominio {{ $('Loop Over Items').item.json.Dominio }} en riesgo — acción requerida antes de perderlo",
        "message": "=<p>Hola {{ $('Loop Over Items').item.json['Nombre Cliente'] }},</p>\n<p>Te contactamos porque el dominio <strong>{{ $('Loop Over Items').item.json['Dominio'] }}</strong> \nha superado la fecha límite de renovación sin coste adicional (<strong>{{ $('Loop Over Items').item.json['fechaLimite'] }}</strong>).</p>\n<p>Para recuperar el dominio es necesario aplicar una tasa de recuperación. Adjuntamos factura proforma con el desglose:</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:400px\">\n<tr><td style=\"padding:8px;border:1px solid #ddd\">Precio base</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['Precio Base (€)'] }}€</strong></td></tr>\n<tr><td style=\"padding:8px;border:1px solid #ddd;color:#c0392b\">Tasa de Recuperación</td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right;color:#c0392b\"><strong>+{{ $('Loop Over Items').item.json['recargo'] }}€</strong></td></tr>\n<tr style=\"background:#f8f8f8\"><td style=\"padding:8px;border:1px solid #ddd\"><strong>TOTAL</strong></td>\n<td style=\"padding:8px;border:1px solid #ddd;text-align:right\"><strong>{{ $('Loop Over Items').item.json['precioFinal'] }}€</strong></td></tr>\n</table>\n<p style=\"color:#c0392b;font-size:13px;margin-top:16px\"><strong>Atención:</strong> Si no se realiza el pago en los próximos días, el dominio podría perderse definitivamente.</p>\n<p style=\"color:#888;font-size:12px;margin-top:8px\">Este recargo se aplica automáticamente según nuestra política de renovaciones {{ new Date().getFullYear() }}.</p>\n<div style=\"margin-top:24px;text-align:center\">\n  <a href=\"https://proyecton8n-n8n.yq3yuy.easypanel.host/webhook/voy_a_pagar?dominio={{ $('Loop Over Items').item.json['Dominio'] }}&idpresupuesto={{ $json.lines[0].idpresupuesto }}&codcliente={{ $json.doc.codcliente }}&pvpunitario={{ $json.lines[0].pvpunitario }}&cliente={{ $('Loop Over Items').item.json['Nombre Cliente'] }}\" style=\"background:#c0392b;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold;display:inline-block\">\n    Recuperar dominio ahora\n  </a>\n</div>\n<p>Para cualquier consulta, responde a este email.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        224
      ],
      "id": "c3c6cfc0-3c68-4b21-bc94-0aaa6d07db17",
      "name": "Send a message",
      "webhookId": "905c3d4e-aca8-4e30-bf55-af11778198db",
      "credentials": {
        "gmailOAuth2": {
          "id": "K88Ro02qAPLqoTbF",
          "name": "Gmail contacta"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        192
      ],
      "id": "9d5386df-65e7-4806-a63d-b5174366836f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        224
      ],
      "id": "7369e8bb-0a4f-40c0-883f-a6d593873f70",
      "name": "Wait",
      "webhookId": "3d6b628d-c396-45c5-b616-a37f512bd173"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items').item.json.diasRestantes }}",
                    "rightValue": 90,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "97af3aa0-b90b-4397-8f1f-29468df434be"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "84ec2f6e-b106-4310-a5c5-92230cc69d55",
                    "leftValue": "={{ $('Loop Over Items').item.json.diasRestantes }}",
                    "rightValue": 45,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7095a6bb-1547-49e3-a880-ebd552f52ccf",
                    "leftValue": "={{ $('Loop Over Items').item.json.diasRestantes }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        96
      ],
      "id": "a6c9ba65-b928-4371-b73e-fd9360672222",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8f9f2644-3588-4c8a-a2f7-2470bc6c8967",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c837de6-55d1-4417-8be5-714ab00413a2",
              "leftValue": "={{ $json.diasRestantes }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1154a7e4-5a8c-4eeb-abd0-faf72446688f",
              "leftValue": "={{ $json.diasRestantes }}",
              "rightValue": 45,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1bd6d552-c6d0-4a20-b426-cc073b6c177b",
              "leftValue": "={{ $json.diasRestantes }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        208
      ],
      "id": "e0485254-5408-4931-b05c-f8dca8400c27",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1b9feef-197b-4004-8b8f-4fd52263a43f",
              "leftValue": "={{ $json['Estado'] }}",
              "rightValue": "Auto",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4400e413-93de-417c-b928-497b267ea568",
              "leftValue": "={{ $json['Última Acción'] }}",
              "rightValue": "PAGADO",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -944,
        208
      ],
      "id": "d0b3069b-2a40-4e2c-89c8-182b42452a53",
      "name": "Filtro de estado Auto y PAGADO"
    }
  ],
  "connections": {
    "Trigger diario": {
      "main": [
        [
          {
            "node": "Datos del Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Excel": {
      "main": [
        [
          {
            "node": "Filtro de estado Auto y PAGADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo de dias restantes": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear proforma en factura.city1": {
      "main": [
        [
          {
            "node": "Pdf presupuesto factura.city1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pdf presupuesto factura.city1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear proforma en factura.city1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de estado Auto y PAGADO": {
      "main": [
        [
          {
            "node": "Calculo de dias restantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "jWOwPrw3rbQy2Doq",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger diario": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Trigger diario": [
      {
        "json": {
          "timestamp": "2026-05-13T13:09:41.576+02:00",
          "Readable date": "May 13th 2026, 1:09:41 pm",
          "Readable time": "1:09:41 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "13",
          "Hour": "13",
          "Minute": "09",
          "Second": "41",
          "Timezone": "Europe/Madrid (UTC+02:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d8deadae-2b71-4820-95fd-e6e8f1062e3a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-13T10:11:20.553Z",
      "createdAt": "2026-05-13T10:11:20.553Z",
      "role": "workflow:owner",
      "workflowId": "91yQRRzF8uWtnuLK",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-05-11T09:01:50.331Z",
      "createdAt": "2026-05-11T09:01:50.331Z",
      "id": "1RdtjEkS3P0u2ppX",
      "name": "v4"
    }
  ]
}