workflows/prueba de errores con telegram.json
{
  "updatedAt": "2026-04-29T08:47:06.441Z",
  "createdAt": "2026-04-29T08:47:06.441Z",
  "id": "o0zGp7MTANJfWGKy",
  "name": "prueba de errores con telegram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2d2188c1-8815-4970-8b9c-42fc2c4a7f1e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => item.json.categoria === \"Pantalones\"#)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "ed743551-e150-431e-ae64-bf4185c2ed77",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "7dd1c793-4fd4-4bc9-912f-e414093cc6ce",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ]
  },
  "versionId": "f6b91216-a79d-4e72-84ab-12af789d2145",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-29T08:47:06.463Z",
      "createdAt": "2026-04-29T08:47:06.463Z",
      "role": "workflow:owner",
      "workflowId": "o0zGp7MTANJfWGKy",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}