workflows/pruebas loop con json de noticias.json
{
  "updatedAt": "2026-05-11T08:45:41.125Z",
  "createdAt": "2026-05-11T08:32:07.570Z",
  "id": "UyRzyDGVAMBNbhPo",
  "name": "pruebas loop con json de noticias",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        384
      ],
      "id": "3ab547f1-a2a9-43d7-88a8-0b4d31c51034",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        384
      ],
      "id": "e712f095-6bd3-4399-8fdc-611333e84df1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "464c6365-c601-49fb-85b2-78e22a84215d",
              "leftValue": "={{ $json.creator }}",
              "rightValue": "Jagmeet Singh",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5f6a1aa8-fea2-4850-aa62-ec69d8d15f33",
              "leftValue": "={{ $json.content }}",
              "rightValue": "inte",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7c22e4a2-b8d4-429d-a393-f682a0de16bb",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "jan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "fd3da143-bb98-49d3-a19c-51030b87ce3f",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.creator }}",
                    "rightValue": "Jagmeet Singh",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cca812cf-8498-48ff-9c37-e8a546eda76a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jagmeet Singh"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ae0406b-5a3d-483a-b995-60fe62276544",
                    "leftValue": "={{ $json.creator }}",
                    "rightValue": "Aisha Malik",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aisha Malik"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        176
      ],
      "id": "38c9f3da-0dc3-4efa-adcd-acfab09f1d55",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        448
      ],
      "id": "7e48c37d-e44e-4131-b621-f084b476d7a4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        320,
        528
      ],
      "id": "786eae40-3bfe-4952-b53b-d408c5de2ab0",
      "placeholder": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        528,
        352
      ],
      "id": "c817d883-c0ec-413e-98d6-91968226022b",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e8eed69b-4929-4754-b81c-d134bb615d5b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:32:07.571Z",
      "createdAt": "2026-05-11T08:32:07.571Z",
      "role": "workflow:owner",
      "workflowId": "UyRzyDGVAMBNbhPo",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}