workflows/prueba de errores con telegram.json
{
  "updatedAt": "2026-05-11T08:45:43.841Z",
  "createdAt": "2026-05-11T08:31:50.413Z",
  "id": "l4PF4Ymeu4WwtrkS",
  "name": "prueba de errores con telegram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7ace78e-0b71-4b30-a853-68323f3a4e0d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => item.json.categoria === \"Pantalones\"#)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "144fb466-dd70-4761-947f-ed7fc6f0dccc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "67a88728-e8ac-41d8-b5fd-c149d30a3501",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ]
  },
  "versionId": "069e9010-6f28-4b37-b1db-db7abb8c4bdc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T08:31:50.414Z",
      "createdAt": "2026-05-11T08:31:50.414Z",
      "role": "workflow:owner",
      "workflowId": "l4PF4Ymeu4WwtrkS",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}