workflows/prueba de errores con telegram.json
{
  "updatedAt": "2026-04-17T08:56:24.701Z",
  "createdAt": "2026-04-07T08:01:18.497Z",
  "id": "wcRLx5Asp7gB3LHj",
  "name": "prueba de errores con telegram",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ],
      "id": "356d2a0d-d71b-491f-bc01-1c988ee85184",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => item.json.categoria === \"Pantalones\"#)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -96
      ],
      "id": "c0ccd2d5-ea4f-4504-9812-ad42995d6a0b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        96
      ],
      "id": "cfd0f6f4-e5a3-4b9b-8f47-7a4b133c6aad",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "4QTTaZP0TYsnmiyK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "id": 1,
          "nombre": "Camiseta Oversize Essential",
          "precio": 29.99,
          "categoria": "Tops",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "blanco",
            "negro",
            "beige"
          ],
          "stock": 150,
          "descripcion": "Camiseta unisex de algodón 100%. Corte oversize, perfecta para cualquier look.",
          "imagen": "camiseta-oversize.jpg"
        }
      },
      {
        "json": {
          "id": 2,
          "nombre": "Pantalón Cargo Urbano",
          "precio": 59.99,
          "categoria": "Pantalones",
          "tallas": [
            "S",
            "M",
            "L",
            "XL"
          ],
          "colores": [
            "kaki",
            "negro",
            "gris"
          ],
          "stock": 80,
          "descripcion": "Pantalón cargo con 6 bolsillos. Tejido resistente, estilo urbano funcional.",
          "imagen": "pantalon-cargo.jpg"
        }
      },
      {
        "json": {
          "id": 3,
          "nombre": "Sudadera Hoodie Premium",
          "precio": 49.99,
          "categoria": "Sudaderas",
          "tallas": [
            "XS",
            "S",
            "M",
            "L",
            "XL",
            "XXL"
          ],
          "colores": [
            "azul marino",
            "gris marengo",
            "verde oliva"
          ],
          "stock": 120,
          "descripcion": "Hoodie con interior afelpado, bolsillo canguro y capucha ajustable. Abriga sin sacrificar estilo.",
          "imagen": "hoodie-premium.jpg"
        }
      }
    ]
  },
  "versionId": "4f5c71fd-18e7-4fcf-9ac2-8a4a9c7d3cff",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T08:01:18.519Z",
      "createdAt": "2026-04-07T08:01:18.519Z",
      "role": "workflow:owner",
      "workflowId": "wcRLx5Asp7gB3LHj",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": null,
  "tags": []
}