workflows/Pruebas FacturaScript.json
{
  "updatedAt": "2026-05-12T10:45:57.478Z",
  "createdAt": "2026-05-11T09:32:03.413Z",
  "id": "szRubO0grfGzlKbv",
  "name": "Pruebas FacturaScript",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        144
      ],
      "id": "74d2a30a-0901-42e1-bb82-884e35b24ac2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c7492b1b-f662-45e1-9096-1583ca67e2d3",
              "leftValue": "={{ $json.idproduct }}",
              "rightValue": null,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        272,
        -128
      ],
      "id": "490f61dc-e841-40f9-bb11-7d9aef038692",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "https://hazmarca.marketing/slu/api/3/variantes?filter[idproducto]=43",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": []
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        -160
      ],
      "id": "d86eda29-2720-45c8-bc55-6d4595c83efe",
      "name": "HTTP Clientes1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qoKa7RcJ4cB8mSzv",
          "name": "FacturaScript API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ipify.org",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        144
      ],
      "id": "6a9375e6-9b6a-45da-84b2-f3e18bb13f3a",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Clientes1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ea0270d3-116b-40f7-8e28-96afed030a23",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-11T09:32:03.416Z",
      "createdAt": "2026-05-11T09:32:03.416Z",
      "role": "workflow:owner",
      "workflowId": "szRubO0grfGzlKbv",
      "projectId": "HySVhA2Rl8waskJL"
    }
  ],
  "activeVersion": null,
  "tags": []
}