workflows/Telegram Imagenes.json
{
  "updatedAt": "2026-05-04T11:24:12.452Z",
  "createdAt": "2026-05-04T09:12:53.886Z",
  "id": "fRDrFNSRXGixJjls",
  "name": "Telegram Imagenes",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        48
      ],
      "id": "a35178c9-a409-44b6-8b8a-ba9cb789060a",
      "name": "Telegram Trigger",
      "webhookId": "03870d8a-64bd-4190-82c1-2937c22ac12c",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3863822b-e89b-411b-ac65-ec0b2ed7a236"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db5b2fb7-4d98-400f-92f3-e25df27dedc9",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Generar una imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generar una imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63d302d8-2407-42e8-9182-e063046098c5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Modificar imagen",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modificar imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8f1b9e7d-9ef2-42be-880c-e0b95e7b98a6",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "accion_generar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accion_generar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "27eb5a80-d44d-493e-bb71-b74a25c895d9",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "=accion_modificar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accion_modificar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -368,
        -16
      ],
      "id": "634fe11a-d1e1-4b72-a6a8-0fd9327b3c9c",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🙌 Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}\n\nEncantado de estar aqui, ¿qué te gustaría hacer ahora?",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Generar una imagen",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Modificar imagen",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -256
      ],
      "id": "e46aed34-2349-4a57-8510-384fea87b7b5",
      "name": "Send a text message",
      "webhookId": "d2847c15-a8d0-4bff-9a84-b0944efabbb0",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👌 Estupendo!! Dime que imagen quieres generar.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -80
      ],
      "id": "6fb44a2c-b89f-4197-ac5a-a7a2986ce22d",
      "name": "Send a text message1",
      "webhookId": "d7d5d7be-e079-406b-a825-d38c2833b4e2",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "accion",
        "key": "=ultima_accion:{{ $json.message.chat.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -592,
        48
      ],
      "id": "e6a3bf66-053d-4f15-a8ff-6b9de4cf0634",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "value": "accion_generar"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        192,
        -80
      ],
      "id": "87485594-fb13-4588-a072-fe0dcf126b6b",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $('Telegram Trigger').item.json.message.text }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        160
      ],
      "id": "e7496ef1-6ebb-45f2-b263-74288719f10c",
      "name": "Crear imagen"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Telegram Trigger').item.json.message.text }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        160
      ],
      "id": "3ecae777-5ca8-4de4-9e51-4ceac8665d42",
      "name": "Send a photo message",
      "webhookId": "747ddfa0-ab7d-4f3b-ae67-fe5801d384e2",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "8e399cc9-a30a-4424-ab6c-0d720a6848ef",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🙌 Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}\n\nEncantado de estar aqui, ¿qué te gustaría hacer ahora?",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Generar una imagen",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Modificar imagen",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        544
      ],
      "id": "e0a18e57-f8c7-4e13-becf-1d9ee0fb0469",
      "name": "Send a text message2",
      "webhookId": "d2847c15-a8d0-4bff-9a84-b0944efabbb0",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👌 Vamos a ello!! Envíame una imagen para modificarla.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        32
      ],
      "id": "cbe74853-7136-47d9-a440-3385efd05a7e",
      "name": "Send a text message3",
      "webhookId": "d7d5d7be-e079-406b-a825-d38c2833b4e2",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "value": "accion_modificar"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1280,
        32
      ],
      "id": "ba4820a1-abe3-4d15-b46f-20390e1df883",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceder directamente al nodo Telegram Trigger por su nombre\nconst message = $('Telegram Trigger').first().json.message || {};\nconst photos = message.photo || [];\nconst caption = message.caption || message.text || '';\n\n// Caso 1: No hay imágenes\nif (photos.length === 0) {\n  return [\n    {\n      json: {\n        data: 'no hay imagenes',\n        caption: caption,\n        chat_id: message.chat?.id,\n        message_id: message.message_id\n      }\n    }\n  ];\n}\n\n// Caso 2: Hay imágenes → devolver la de mayor resolución\nconst largestPhoto = photos.reduce((max, photo) => {\n  return (photo.width * photo.height) > (max.width * max.height) ? photo : max;\n});\n\nreturn [\n  {\n    json: {\n      data: 'imagen existente',\n      file_id: largestPhoto.file_id,\n      file_unique_id: largestPhoto.file_unique_id,\n      file_size: largestPhoto.file_size,\n      width: largestPhoto.width,\n      height: largestPhoto.height,\n      caption: caption,\n      chat_id: message.chat?.id,\n      message_id: message.message_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        368
      ],
      "id": "b0a6cc18-ceb4-4f59-9988-74857f5ff03c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0f6a3c7-d01d-48d2-b881-9d3639a73c5d",
              "leftValue": "={{ $json.data }}",
              "rightValue": "imagen existente",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        368
      ],
      "id": "435b82bc-d8c7-4127-b45a-2a6f1056aaba",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        384
      ],
      "id": "3bde91a5-cb02-4584-b4d3-1035f22e5d06",
      "name": "Get a file",
      "webhookId": "2a673f20-676b-4452-b5e2-5ccfe5fb3f83",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $('If').item.json.caption }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        384
      ],
      "id": "58abad7b-d806-4f58-b2ba-ad5b97eb28f4",
      "name": "Crear imagen1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98763cee-69b8-4cc7-936e-5473bf6580bc",
              "name": "image_url",
              "value": "=https://api.telegram.org/file/bot8631923612:AAE3y8ge_FV3v0DSH_CY146yElBylLTwIc8/{{ $json.result.file_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        384
      ],
      "id": "780105cd-7dbf-497d-858a-c68ffc5124e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Code in JavaScript').item.json.caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        384
      ],
      "id": "a6b22924-4250-4d04-8b6c-ab7a911566ed",
      "name": "Send a photo message1",
      "webhookId": "747ddfa0-ab7d-4f3b-ae67-fe5801d384e2",
      "credentials": {
        "telegramApi": {
          "id": "1jYBdd7EtSLOF7ze",
          "name": "Nuevo_imagenes"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1280,
        384
      ],
      "id": "55d6152f-99e1-4c3e-a771-da48ecf60de6",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "1ZFBZTuKCE2exGSy",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear imagen": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crear imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message1": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear imagen1": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 610187121,
          "message": {
            "message_id": 6,
            "from": {
              "id": 1518965662,
              "is_bot": false,
              "first_name": "Adri",
              "username": "nairda12345",
              "language_code": "es"
            },
            "chat": {
              "id": -1003945823915,
              "title": "Yo que se",
              "type": "supergroup"
            },
            "date": 1777893610,
            "text": "Unos perros jugando poker"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "9c964532-0b27-4ffd-989d-7d37763af072",
  "activeVersionId": "9c964532-0b27-4ffd-989d-7d37763af072",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-04T09:12:53.903Z",
      "createdAt": "2026-05-04T09:12:53.903Z",
      "role": "workflow:owner",
      "workflowId": "fRDrFNSRXGixJjls",
      "projectId": "JoN2JTiYqtJQ4ZAc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-04T11:23:17.000Z",
    "createdAt": "2026-05-04T11:22:31.443Z",
    "versionId": "9c964532-0b27-4ffd-989d-7d37763af072",
    "workflowId": "fRDrFNSRXGixJjls",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -768,
          48
        ],
        "id": "a35178c9-a409-44b6-8b8a-ba9cb789060a",
        "name": "Telegram Trigger",
        "webhookId": "03870d8a-64bd-4190-82c1-2937c22ac12c",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3863822b-e89b-411b-ac65-ec0b2ed7a236"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "menu"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "db5b2fb7-4d98-400f-92f3-e25df27dedc9",
                      "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                      "rightValue": "Generar una imagen",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Generar una imagen"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "63d302d8-2407-42e8-9182-e063046098c5",
                      "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                      "rightValue": "Modificar imagen",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Modificar imagen"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "8f1b9e7d-9ef2-42be-880c-e0b95e7b98a6",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "accion_generar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "accion_generar"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "27eb5a80-d44d-493e-bb71-b74a25c895d9",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "=accion_modificar",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "accion_modificar"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -368,
          -16
        ],
        "id": "634fe11a-d1e1-4b72-a6a8-0fd9327b3c9c",
        "name": "Switch"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "=🙌 Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}\n\nEncantado de estar aqui, ¿qué te gustaría hacer ahora?",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Generar una imagen",
                      "additionalFields": {}
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Modificar imagen",
                      "additionalFields": {}
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {},
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -16,
          -256
        ],
        "id": "e46aed34-2349-4a57-8510-384fea87b7b5",
        "name": "Send a text message",
        "webhookId": "d2847c15-a8d0-4bff-9a84-b0944efabbb0",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "👌 Estupendo!! Dime que imagen quieres generar.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -16,
          -80
        ],
        "id": "6fb44a2c-b89f-4197-ac5a-a7a2986ce22d",
        "name": "Send a text message1",
        "webhookId": "d7d5d7be-e079-406b-a825-d38c2833b4e2",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "accion",
          "key": "=ultima_accion:{{ $json.message.chat.id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -592,
          48
        ],
        "id": "e6a3bf66-053d-4f15-a8ff-6b9de4cf0634",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "1ZFBZTuKCE2exGSy",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}",
          "value": "accion_generar"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          192,
          -80
        ],
        "id": "87485594-fb13-4588-a072-fe0dcf126b6b",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "1ZFBZTuKCE2exGSy",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://image.pollinations.ai/prompt/{{ $('Telegram Trigger').item.json.message.text }}?width=1024&height=1024&model=flux&nologo=true",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -16,
          160
        ],
        "id": "e7496ef1-6ebb-45f2-b263-74288719f10c",
        "name": "Crear imagen"
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "binaryData": true,
          "additionalFields": {
            "caption": "={{ $('Telegram Trigger').item.json.message.text }}"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          192,
          160
        ],
        "id": "3ecae777-5ca8-4de4-9e51-4ceac8665d42",
        "name": "Send a photo message",
        "webhookId": "747ddfa0-ab7d-4f3b-ae67-fe5801d384e2",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          400,
          160
        ],
        "id": "8e399cc9-a30a-4424-ab6c-0d720a6848ef",
        "name": "Redis2",
        "credentials": {
          "redis": {
            "id": "1ZFBZTuKCE2exGSy",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "=🙌 Hola {{ $('Telegram Trigger').item.json.message.from.first_name }}\n\nEncantado de estar aqui, ¿qué te gustaría hacer ahora?",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Generar una imagen",
                      "additionalFields": {}
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "Modificar imagen",
                      "additionalFields": {}
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {},
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -16,
          544
        ],
        "id": "e0a18e57-f8c7-4e13-becf-1d9ee0fb0469",
        "name": "Send a text message2",
        "webhookId": "d2847c15-a8d0-4bff-9a84-b0944efabbb0",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "👌 Vamos a ello!! Envíame una imagen para modificarla.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1072,
          32
        ],
        "id": "cbe74853-7136-47d9-a440-3385efd05a7e",
        "name": "Send a text message3",
        "webhookId": "d7d5d7be-e079-406b-a825-d38c2833b4e2",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}",
          "value": "accion_modificar"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1280,
          32
        ],
        "id": "ba4820a1-abe3-4d15-b46f-20390e1df883",
        "name": "Redis3",
        "credentials": {
          "redis": {
            "id": "1ZFBZTuKCE2exGSy",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Acceder directamente al nodo Telegram Trigger por su nombre\nconst message = $('Telegram Trigger').first().json.message || {};\nconst photos = message.photo || [];\nconst caption = message.caption || message.text || '';\n\n// Caso 1: No hay imágenes\nif (photos.length === 0) {\n  return [\n    {\n      json: {\n        data: 'no hay imagenes',\n        caption: caption,\n        chat_id: message.chat?.id,\n        message_id: message.message_id\n      }\n    }\n  ];\n}\n\n// Caso 2: Hay imágenes → devolver la de mayor resolución\nconst largestPhoto = photos.reduce((max, photo) => {\n  return (photo.width * photo.height) > (max.width * max.height) ? photo : max;\n});\n\nreturn [\n  {\n    json: {\n      data: 'imagen existente',\n      file_id: largestPhoto.file_id,\n      file_unique_id: largestPhoto.file_unique_id,\n      file_size: largestPhoto.file_size,\n      width: largestPhoto.width,\n      height: largestPhoto.height,\n      caption: caption,\n      chat_id: message.chat?.id,\n      message_id: message.message_id\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -16,
          368
        ],
        "id": "b0a6cc18-ceb4-4f59-9988-74857f5ff03c",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d0f6a3c7-d01d-48d2-b881-9d3639a73c5d",
                "leftValue": "={{ $json.data }}",
                "rightValue": "imagen existente",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          192,
          368
        ],
        "id": "435b82bc-d8c7-4127-b45a-2a6f1056aaba",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          448,
          384
        ],
        "id": "3bde91a5-cb02-4584-b4d3-1035f22e5d06",
        "name": "Get a file",
        "webhookId": "2a673f20-676b-4452-b5e2-5ccfe5fb3f83",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://image.pollinations.ai/prompt/{{ $('If').item.json.caption }}?width=1024&height=1024&model=flux&nologo=true",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          864,
          384
        ],
        "id": "58abad7b-d806-4f58-b2ba-ad5b97eb28f4",
        "name": "Crear imagen1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "98763cee-69b8-4cc7-936e-5473bf6580bc",
                "name": "image_url",
                "value": "=https://api.telegram.org/file/bot8631923612:AAE3y8ge_FV3v0DSH_CY146yElBylLTwIc8/{{ $json.result.file_path }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          384
        ],
        "id": "780105cd-7dbf-497d-858a-c68ffc5124e6",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "sendPhoto",
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "binaryData": true,
          "additionalFields": {
            "caption": "={{ $('Code in JavaScript').item.json.caption }}"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1072,
          384
        ],
        "id": "a6b22924-4250-4d04-8b6c-ab7a911566ed",
        "name": "Send a photo message1",
        "webhookId": "747ddfa0-ab7d-4f3b-ae67-fe5801d384e2",
        "credentials": {
          "telegramApi": {
            "id": "1jYBdd7EtSLOF7ze",
            "name": "Nuevo_imagenes"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "=ultima_accion:{{ $('Telegram Trigger').item.json.message.chat.id }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1280,
          384
        ],
        "id": "55d6152f-99e1-4c3e-a771-da48ecf60de6",
        "name": "Redis4",
        "credentials": {
          "redis": {
            "id": "1ZFBZTuKCE2exGSy",
            "name": "Redis account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Crear imagen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear imagen": {
        "main": [
          [
            {
              "node": "Send a photo message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a photo message": {
        "main": [
          [
            {
              "node": "Redis2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message3": {
        "main": [
          [
            {
              "node": "Redis3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Crear imagen1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a photo message1": {
        "main": [
          [
            {
              "node": "Redis4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear imagen1": {
        "main": [
          [
            {
              "node": "Send a photo message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Haz Marca Marketing",
    "name": "Version 9c964532",
    "description": "",
    "autosaved": true
  },
  "tags": []
}